In [1]:
# 패키지 로드
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
from sklearn.model_selection import train_test_split
from collections import defaultdict
import os, random

from scipy import sparse
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
%matplotlib inline

import torch
import torch.nn as nn
from torch.nn.init import normal_
from torch.utils.data import TensorDataset, DataLoader
import torch.nn.functional as F

import plotnine
from plotnine import *

import pickle

In [2]:
# 경로 설정
data_path = './data'
saved_path = './code/saved'
output_path = './code/submission'

In [3]:
# 데이터 불러오기 
history_df = pd.read_csv(os.path.join(data_path, 'history_data.csv'), encoding='utf-8')
search_df = pd.read_csv(os.path.join(data_path, 'search_data.csv'), encoding='utf-8')
profile_df = pd.read_csv(os.path.join(data_path, 'profile_data.csv'), encoding='utf-8')
meta_df = pd.read_csv(os.path.join(data_path, 'meta_data.csv'), encoding='utf-8')
we_df = pd.read_csv(os.path.join(data_path, 'watch_e_data.csv'), encoding='utf-8')
buy_df = pd.read_csv(os.path.join(data_path, 'buy_data.csv'), encoding='utf-8')

## Make user's behavior data

In [4]:
### history selection
hsel = history_df[['profile_id','ss_id','album_id','payment','short_trailer']]

### hsel no duplicate
hsel2 = hsel.drop_duplicates(subset=['profile_id', 'album_id', 'ss_id'])

In [5]:
hsel2

         profile_id           ss_id  album_id  payment short_trailer
0                 3  20220301115653        15      NaN             N
1                 3  20220301115653        16      NaN             N
2                 3  20220301115653        17      NaN             N
3                 3  20220301115653        18      NaN             N
4                 3  20220301115653        19      NaN             N
...             ...             ...       ...      ...           ...
1005641       33032  20220427155091       381      NaN             N
1005642       33032  20220427155091       375      NaN             N
1005648       33032  20220427155839       125      NaN             N
1005649       33032  20220427155706       125      NaN             N
1005650       33032  20220427155865       381      NaN             N

[670769 rows x 5 columns]

In [6]:
### watch_e selection
wsel = we_df[['profile_id', 'ss_id', 'album_id', 'watch_time']]

### wsel no duplicate
wsel2 = wsel.drop_duplicates(subset=['profile_id', 'album_id', 'ss_id'])

In [9]:
wsel2

        profile_id           ss_id  album_id  watch_time
0                3  20220301115653        15          46
1                3  20220301115653        16         104
2                3  20220301115653        17          76
3                3  20220301115653        18          67
4                3  20220301115653        19          90
...            ...             ...       ...         ...
892784       33032  20220427155091       381         462
892786       33032  20220427155091       125           6
892791       33032  20220427155839       125          10
892792       33032  20220427155706       125           6
892793       33032  20220427155839       381         462

[591953 rows x 4 columns]

In [7]:
### meta selection
msel = meta_df[['album_id', 'run_time']]

### wsel no duplicate
msel2 = msel.drop_duplicates(subset=['album_id', 'run_time'])

In [8]:
### merge data
hw = pd.merge(hsel2, wsel2, left_on = ['profile_id','ss_id','album_id'], right_on = ['profile_id','ss_id','album_id'], 
        how = 'inner')

hwm = pd.merge(hw, msel2, left_on = 'album_id', right_on = 'album_id', how = 'left')

In [9]:
### get rid of trailer
data = hwm[hwm['short_trailer']=='N']

In [10]:
### select need variable
usedata = data.loc[:,data.columns.difference(['ss_id','short_trailer'])]

In [20]:
usedata

        album_id  payment  profile_id  run_time  watch_time
0             15      NaN           3        46          46
1             16      NaN           3       105         104
2             17      NaN           3        76          76
3             18      NaN           3        68          67
4             19      NaN           3        90          90
...          ...      ...         ...       ...         ...
586962       125      NaN       33032       520           6
586963       381      NaN       33032       462         462
586964       375      NaN       33032       659         658
586965       125      NaN       33032       520          10
586966       125      NaN       33032       520           6

[565395 rows x 5 columns]

In [62]:
we_df.loc[(we_df['profile_id'] == 33032) & (we_df['album_id'] == 125)]

,profile_id,ss_id,log_time,act_target_dtl,album_id,watch_time,total_time,continuous_play
892632,33032,20220426104174,20220426104952,MKID049,125,4,521,0
892738,33032,20220427112116,20220427144109,MKID049,125,520,520,1
892739,33032,20220427112116,20220427144172,MKID049,125,520,520,1
892742,33032,20220427144391,20220427144395,MKID049,125,521,522,1
892756,33032,20220427145664,20220427145674,MKID049,125,0,521,0
892761,33032,20220427150199,20220427150145,MKID049,125,3,521,0
892786,33032,20220427155091,20220427155603,MKID049,125,6,520,0
892791,33032,20220427155839,20220427155826,MKID049,125,10,520,0
892792,33032,20220427155706,20220427155836,MKID049,125,6,521,0

In [60]:
usedata.loc[usedata['watch_time'] > usedata['run_time']]

        album_id  payment  profile_id  run_time  watch_time
27            74      NaN           5       300         301
91           130      NaN           5       172         173
115          130      NaN           5       172         173
222          130      NaN           5       172         173
258           15      NaN           5        46          47
...          ...      ...         ...       ...         ...
586765      4109      NaN       32978        95          96
586830      7105      NaN       32998       321         347
586899       126      NaN       33027       312         381
586914      7105      NaN       33032       321         360
586956       381      NaN       33032       462         463

[32093 rows x 5 columns]

In [64]:
usedata['watch_run_diff'] = usedata['watch_time'] - usedata['run_time']
usedata['watch_run_diff']

0           0
1          -1
2           0
3          -1
4           0
         ...
586962   -514
586963      0
586964     -1
586965   -510
586966   -514
Name: watch_run_diff, Length: 565395, dtype: int64

In [65]:
usedata['watch_run_diff'].describe()

count    565395.000000
mean       -134.834700
std         282.097764
min       -7157.000000
25%        -159.000000
50%          -2.000000
75%          -1.000000
max        2785.000000
Name: watch_run_diff, dtype: float64

In [76]:
usedata.watch_run_diff.max()

2785

In [77]:
usedata.loc[(usedata['watch_run_diff'] == 2785)]

        album_id  payment  profile_id  run_time  watch_time  watch_run_diff
353563      1448      NaN       15928        73        2858            2785

In [82]:
usedata.loc[(usedata['watch_run_diff'] > 0)].watch_run_diff.describe()

count    32093.000000
mean        34.840027
std         84.836038
min          1.000000
25%          1.000000
50%          5.000000
75%         29.000000
max       2785.000000
Name: watch_run_diff, dtype: float64

In [40]:
runtime = usedata.drop_duplicates('album_id')[['album_id', 'run_time']]

In [36]:
mean_watch = usedata.groupby('album_id')['watch_time'].mean().reset_index()
mean_watch.columns = ['album_id', 'mean_watchtime']
mean_watch

       album_id  mean_watchtime
0             0       43.737393
1             1       39.521472
2             2       52.825175
3             3       76.064935
4             4      445.456044
...         ...             ...
19349     25876      328.000000
19350     25893        3.000000
19351     25894       95.000000
19352     25895       11.000000
19353     25898       22.000000

[19354 rows x 2 columns]

In [59]:
mean_watch.mean_watchtime.describe()

count    19354.000000
mean       252.976011
std        219.158556
min          0.000000
25%         85.054180
50%        187.500000
75%        367.239271
max       2669.000000
Name: mean_watchtime, dtype: float64

In [46]:
sum_watch = usedata.groupby('album_id')['watch_time'].sum().reset_index()
sum_watch.columns = ['album_id', 'sum_watchtime']
sum_watch

       album_id  sum_watchtime
0             0          45968
1             1           6442
2             2           7554
3             3          11714
4             4          81073
...         ...            ...
19349     25876            328
19350     25893              3
19351     25894             95
19352     25895             11
19353     25898             22

[19354 rows x 2 columns]

In [53]:
album_watch = pd.merge(mean_watch, runtime, on = 'album_id')
album_watch

       album_id  mean_watchtime  run_time
0             0       43.737393       136
1             1       39.521472        63
2             2       52.825175        96
3             3       76.064935       125
4             4      445.456044       748
...         ...             ...       ...
19349     25876      328.000000       329
19350     25893        3.000000        96
19351     25894       95.000000        96
19352     25895       11.000000        93
19353     25898       22.000000       700

[19354 rows x 3 columns]

In [54]:
album_watch['play_rate'] = album_watch['mean_watchtime'] / album_watch['run_time']
album_watch

       album_id  mean_watchtime  run_time  play_rate
0             0       43.737393       136   0.321598
1             1       39.521472        63   0.627325
2             2       52.825175        96   0.550262
3             3       76.064935       125   0.608519
4             4      445.456044       748   0.595529
...         ...             ...       ...        ...
19349     25876      328.000000       329   0.996960
19350     25893        3.000000        96   0.031250
19351     25894       95.000000        96   0.989583
19352     25895       11.000000        93   0.118280
19353     25898       22.000000       700   0.031429

[19354 rows x 4 columns]

In [84]:
album_watch.play_rate.describe().reset_index()

   index     play_rate
0  count  19354.000000
1   mean      0.681673
2    std      0.292971
3    min      0.000000
4    25%      0.513789
5    50%      0.727400
6    75%      0.915085
7    max      8.175000

In [103]:
play_rate_dict = pd.merge(meta_df[['album_id']].drop_duplicates('album_id'), album_watch[['album_id', 'play_rate']], on = 'album_id', how = 'left').fillna(0).set_index('album_id').to_dict()

In [104]:
play_rate_dict

{'play_rate': {749: 0.5279325513196481,
  750: 0.5738260467268101,
  2131: 0.49761640798226164,
  2625: 0.5183712121212121,
  2594: 0.4211054994388328,
  2637: 0.6531347962382446,
  2636: 0.5828559568285595,
  748: 0.6020944741532976,
  1381: 0.6411421911421911,
  1380: 0.593801652892562,
  746: 0.5488142292490118,
  745: 0.5621581670362158,
  744: 0.5376984126984128,
  628: 0.5641327063740857,
  627: 0.6946255002858777,
  626: 0.5137716450216451,
  631: 0.6470291146761735,
  630: 0.5056116722783389,
  629: 0.525,
  6744: 0.509090909090909,
  7037: 0.6050619834710743,
  668: 0.6125199362041467,
  632: 0.65,
  817: 0.44125874125874126,
  816: 0.488984438984439,
  815: 0.48703703703703705,
  26077: 0.0,
  26078: 0.0,
  26079: 0.0,
  21481: 0.019286403085824494,
  26080: 0.0,
  13771: 0.0,
  26081: 0.0,
  19720: 0.015717092337917484,
  26082: 0.0,
  20690: 0.021589793915603533,
  26083: 0.0,
  20703: 0.16271018793273986,
  26084: 0.0,
  26068: 0.0,
  9826: 0.007931665649786455,
  25095: 0.0024600246002460025,
  3881: 0.5423940149625935,
  10487: 0.5623441396508728,
  9460: 0.24189526184538654,
  9459: 0.20511221945137156,
  9458: 0.3220358195420539,
  10513: 0.01616161616161616,
  6733: 0.5844155844155844,
  6732: 0.9984848484848485,
  6731: 0.9984848484848485,
  10512: 0.5222222222222223,
  9808: 0.6003030303030303,
  10515: 0.6409090909090909,
  10514: 0.02676767676767677,
  25328: 0.0191713048855906,
  26085: 0.0,
  7856: 0.734278266536331,
  4503: 0.16864801864801865,
  9814: 0.6803030303030303,
  9809: 0.7265151515151516,
  26086: 0.0,
  25322: 0.0,
  25311: 0.0,
  25317: 0.0,
  25318: 0.0,
  25319: 0.0,
  26087: 0.0,
  25312: 0.0,
  26088: 0.0,
  25326: 0.0,
  10605: 0.9088465298142717,
  7884: 0.8229646697388634,
  10325: 0.9104560622914349,
  2088: 0.6660997732426304,
  2087: 0.7456091954022989,
  2086: 0.7381780538302277,
  1981: 0.6909183673469388,
  1455: 0.5971550671550672,
  3886: 0.9984848484848485,
  4506: 0.0,
  4505: 0.5212121212121212,
  4504: 0.10454545454545454,
  25321: 0.0,
  25314: 0.0,
  25315: 0.0,
  26089: 0.0,
  26090: 0.0,
  10613: 0.8973684210526316,
  10606: 0.7226702508960573,
  10607: 0.8424710424710425,
  10608: 0.9301075268817204,
  10610: 0.8340501792114695,
  7857: 0.7341935483870968,
  10612: 0.9631160572337043,
  10611: 0.9311155913978495,
  10609: 0.7564832384566731,
  1462: 0.6363492063492063,
  1461: 0.7015533980582525,
  1460: 0.7334656084656085,
  1459: 0.6545662100456621,
  1458: 0.6863942307692308,
  26091: 0.0,
  26092: 0.0,
  26093: 0.0,
  25325: 0.0,
  25324: 0.0,
  9457: 0.014646464646464645,
  19404: 0.04873737373737373,
  19405: 0.23666666666666664,
  19406: 0.403030303030303,
  19907: 0.24803921568627452,
  21022: 0.553030303030303,
  2109: 0.6002552552552552,
  1464: 0.6725252525252525,
  1463: 0.7543290043290043,
  1457: 0.6983660130718954,
  1456: 0.7564242424242424,
  26094: 0.0,
  26095: 0.0,
  26096: 0.0,
  26097: 0.0,
  26098: 0.0,
  4884: 0.7690697674418605,
  4883: 0.7736213991769548,
  2552: 0.728078431372549,
  2551: 0.7156626506024096,
  2110: 0.7942307692307693,
  25327: 0.0,
  25323: 0.0,
  26099: 0.0,
  25320: 0.0,
  26100: 0.0,
  25316: 0.0,
  25313: 0.0,
  1769: 0.7874358974358974,
  1768: 0.7376666666666667,
  1767: 0.7977248677248677,
  4886: 0.7293034825870647,
  4885: 0.7083098591549296,
  1774: 0.7563461538461539,
  1773: 0.7833846153846153,
  1772: 0.7346875,
  1771: 0.7928638497652583,
  1770: 0.7193333333333334,
  1779: 0.6303825136612022,
  1778: 0.6682738095238095,
  1777: 0.7314009661835749,
  1776: 0.7786559139784947,
  1775: 0.7955782312925169,
  1784: 0.7714871794871795,
  1783: 0.6888700564971751,
  1782: 0.8897740112994351,
  1781: 0.8071604938271605,
  1780: 0.7199346405228758,
  1786: 0.741418439716312,
  1785: 0.6136979166666666,
  6536: 0.13480918084797497,
  15642: 0.2609546623042767,
  1789: 0.756595744680851,
  1788: 0.7183006535947712,
  1787: 0.7270440251572328,
  1454: 0.6390384615384616,
  1453: 0.710077519379845,
  1451: 0.7993877551020409,
  1450: 0.7986111111111112,
  1449: 0.7391304347826086,
  1452: 0.7911851851851852,
  1790: 0.689,
  17221: 0.0,
  26101: 0.0,
  26102: 0.0,
  25058: 0.0,
  10008: 0.1033210332103321,
  26103: 0.0,
  26104: 0.0,
  25833: 0.0,
  26105: 0.0,
  14930: 0.0,
  14938: 0.0,
  14929: 0.0,
  14928: 0.05221238938053097,
  26106: 0.0,
  26107: 0.0,
  26108: 0.0,
  26109: 0.0,
  26110: 0.0,
  26111: 0.0,
  26112: 0.0,
  26113: 0.0,
  26114: 0.0,
  26115: 0.0,
  26116: 0.0,
  17599: 0.0,
  26117: 0.0,
  26118: 0.0,
  26119: 0.0,
  26120: 0.0,
  26121: 0.0,
  26122: 0.0,
  26123: 0.0,
  26124: 0.0,
  26125: 0.0,
  26126: 0.0,
  26127: 0.0,
  26128: 0.0,
  6131: 0.7908771929824562,
  6449: 0.19124071647007426,
  26129: 0.0,
  26130: 0.0,
  26131: 0.0,
  26132: 0.0,
  25267: 0.0,
  26133: 0.0,
  26134: 0.0,
  26135: 0.0,
  26136: 0.0,
  26137: 0.0,
  3397: 0.6355799065237029,
  3396: 0.643052409591502,
  3338: 0.624687206756334,
  3340: 0.6587550543054522,
  3342: 0.6423899861399861,
  3343: 0.657484950129951,
  3339: 0.5913847169499917,
  438: 0.6161270781449821,
  436: 0.6003488959280172,
  437: 0.49460135624465074,
  14942: 0.10014947683109118,
  26138: 0.0,
  26139: 0.0,
  26140: 0.0,
  26141: 0.0,
  26142: 0.0,
  26143: 0.0,
  26144: 0.0,
  26145: 0.0,
  3405: 0.6606236645299146,
  3406: 0.6378894889904445,
  3398: 0.6952450740921674,
  3400: 0.7270724637681159,
  3401: 0.6574016076834743,
  3402: 0.6732418028038466,
  485: 0.6376735897751014,
  3403: 0.6344971626733922,
  484: 0.6041298256114481,
  3404: 0.6937996820349761,
  26146: 0.0,
  26147: 0.0,
  26148: 0.0,
  26149: 0.0,
  26150: 0.0,
  26151: 0.0,
  26152: 0.0,
  26153: 0.0,
  26154: 0.0,
  462: 0.6722289156626506,
  3417: 0.651047265987025,
  3418: 0.6289006397702049,
  461: 0.6299766783275029,
  3419: 0.5657439446366782,
  460: 0.66536172878171,
  26155: 0.0,
  26156: 0.0,
  26157: 0.0,
  26158: 0.0,
  26159: 0.0,
  26160: 0.0,
  26161: 0.0,
  26162: 0.0,
  26163: 0.0,
  26164: 0.0,
  26165: 0.0,
  26166: 0.0,
  26167: 0.0,
  26168: 0.0,
  26169: 0.0,
  26170: 0.0,
  26171: 0.0,
  17740: 0.0,
  26172: 0.0,
  17741: 0.08459422283356259,
  26173: 0.0,
  26174: 0.0,
  26175: 0.0,
  26176: 0.0,
  26177: 0.0,
  26178: 0.0,
  26179: 0.0,
  26180: 0.0,
  26181: 0.0,
  26182: 0.0,
  26183: 0.0,
  26184: 0.0,
  26185: 0.0,
  26186: 0.0,
  26187: 0.0,
  26188: 0.0,
  26189: 0.0,
  17742: 0.0,
  26190: 0.0,
  26191: 0.0,
  26192: 0.0,
  26193: 0.0,
  26194: 0.0,
  26195: 0.0,
  26196: 0.0,
  24386: 0.0,
  26197: 0.0,
  26198: 0.0,
  26199: 0.0,
  26200: 0.0,
  26201: 0.0,
  26202: 0.0,
  26203: 0.0,
  17743: 0.08102189781021898,
  26204: 0.0,
  26205: 0.0,
  26206: 0.0,
  26207: 0.0,
  26208: 0.0,
  26209: 0.0,
  26210: 0.0,
  26211: 0.0,
  26212: 0.0,
  26213: 0.0,
  26214: 0.0,
  26215: 0.0,
  26216: 0.0,
  26217: 0.0,
  26218: 0.0,
  26219: 0.0,
  26220: 0.0,
  17744: 0.0,
  26221: 0.0,
  26222: 0.0,
  26223: 0.0,
  26224: 0.0,
  26225: 0.0,
  26226: 0.0,
  26227: 0.0,
  26228: 0.0,
  26229: 0.0,
  26230: 0.0,
  26231: 0.0,
  26232: 0.0,
  26233: 0.0,
  26234: 0.0,
  26235: 0.0,
  26236: 0.0,
  26237: 0.0,
  26238: 0.0,
  26239: 0.0,
  26240: 0.0,
  26241: 0.0,
  26242: 0.0,
  26243: 0.0,
  26244: 0.0,
  26245: 0.0,
  26246: 0.0,
  26247: 0.0,
  26248: 0.0,
  26249: 0.0,
  26250: 0.0,
  26251: 0.0,
  20735: 0.05473965287049399,
  26252: 0.0,
  26253: 0.0,
  26254: 0.0,
  26255: 0.0,
  26256: 0.0,
  26257: 0.0,
  26258: 0.0,
  26259: 0.0,
  26260: 0.0,
  26261: 0.0,
  26262: 0.0,
  26263: 0.0,
  26264: 0.0,
  26265: 0.0,
  26266: 0.0,
  26267: 0.0,
  26268: 0.0,
  26269: 0.0,
  26270: 0.0,
  26271: 0.0,
  26272: 0.0,
  26273: 0.0,
  26274: 0.0,
  26275: 0.0,
  26276: 0.0,
  26277: 0.0,
  26278: 0.0,
  26279: 0.0,
  26280: 0.0,
  26281: 0.0,
  26282: 0.0,
  26283: 0.0,
  26284: 0.0,
  26285: 0.0,
  25069: 0.0,
  26286: 0.0,
  26287: 0.0,
  26288: 0.0,
  26289: 0.0,
  26290: 0.0,
  26291: 0.0,
  26292: 0.0,
  26293: 0.0,
  26294: 0.0,
  26295: 0.0,
  26296: 0.0,
  26297: 0.0,
  26298: 0.0,
  26299: 0.0,
  26300: 0.0,
  26301: 0.0,
  26302: 0.0,
  26303: 0.0,
  26304: 0.0,
  26305: 0.0,
  26306: 0.0,
  26307: 0.0,
  26308: 0.0,
  26309: 0.0,
  26310: 0.0,
  26311: 0.0,
  20736: 0.0,
  26312: 0.0,
  26313: 0.0,
  26314: 0.0,
  26315: 0.0,
  26316: 0.0,
  26317: 0.0,
  26318: 0.0,
  26319: 0.0,
  26320: 0.0,
  15251: 0.6577384879271672,
  26321: 0.0,
  26322: 0.0,
  26323: 0.0,
  26324: 0.0,
  26325: 0.0,
  26326: 0.0,
  26327: 0.0,
  26328: 0.0,
  26329: 0.0,
  26330: 0.0,
  26331: 0.0,
  26332: 0.0,
  26333: 0.0,
  26334: 0.0,
  26335: 0.0,
  26336: 0.0,
  26337: 0.0,
  26338: 0.0,
  26339: 0.0,
  26340: 0.0,
  26341: 0.0,
  15250: 0.024251069900142655,
  26342: 0.0,
  26343: 0.0,
  26344: 0.0,
  26345: 0.0,
  26346: 0.0,
  26347: 0.0,
  22279: 0.0,
  26348: 0.0,
  26349: 0.0,
  26350: 0.0,
  26351: 0.0,
  26352: 0.0,
  26353: 0.0,
  26354: 0.0,
  26355: 0.0,
  26356: 0.0,
  26357: 0.0,
  26358: 0.0,
  26359: 0.0,
  18798: 0.0,
  26360: 0.0,
  15249: 0.011157601115760111,
  26361: 0.0,
  26362: 0.0,
  26363: 0.0,
  11025: 0.0,
  4869: 0.2528549881491058,
  26364: 0.0,
  26365: 0.0,
  26366: 0.0,
  26367: 0.0,
  26368: 0.0,
  26369: 0.0,
  26370: 0.0,
  26371: 0.0,
  26372: 0.0,
  26373: 0.0,
  26374: 0.0,
  26375: 0.0,
  26376: 0.0,
  25070: 0.0,
  26377: 0.0,
  26378: 0.0,
  26379: 0.0,
  26380: 0.0,
  26381: 0.0,
  26382: 0.0,
  26383: 0.0,
  26384: 0.0,
  26385: 0.0,
  26386: 0.0,
  26387: 0.0,
  26388: 0.0,
  26389: 0.0,
  26390: 0.0,
  26391: 0.0,
  26392: 0.0,
  26393: 0.0,
  26394: 0.0,
  26395: 0.0,
  26396: 0.0,
  26397: 0.0,
  26398: 0.0,
  26399: 0.0,
  26400: 0.0,
  26401: 0.0,
  26402: 0.0,
  26403: 0.0,
  26404: 0.0,
  26405: 0.0,
  26406: 0.0,
  26407: 0.0,
  26408: 0.0,
  26409: 0.0,
  26410: 0.0,
  26411: 0.0,
  26412: 0.0,
  26413: 0.0,
  26414: 0.0,
  26415: 0.0,
  26416: 0.0,
  26417: 0.0,
  23287: 0.0,
  26418: 0.0,
  26419: 0.0,
  26420: 0.0,
  26421: 0.0,
  9742: 0.003852080123266564,
  26422: 0.0,
  26423: 0.0,
  26424: 0.0,
  26425: 0.0,
  26426: 0.0,
  26427: 0.0,
  26428: 0.0,
  26429: 0.0,
  26430: 0.0,
  26431: 0.0,
  26432: 0.0,
  26433: 0.0,
  26434: 0.0,
  26435: 0.0,
  26436: 0.0,
  26437: 0.0,
  26438: 0.0,
  26439: 0.0,
  26440: 0.0,
  26441: 0.0,
  26442: 0.0,
  26443: 0.0,
  25071: 0.0,
  26444: 0.0,
  26445: 0.0,
  26446: 0.0,
  26447: 0.0,
  26448: 0.0,
  26449: 0.0,
  26450: 0.0,
  26451: 0.0,
  26452: 0.0,
  26453: 0.0,
  26454: 0.0,
  26455: 0.0,
  26456: 0.0,
  26457: 0.0,
  26458: 0.0,
  26459: 0.0,
  26460: 0.0,
  19954: 0.0,
  26461: 0.0,
  26462: 0.0,
  26463: 0.0,
  26464: 0.0,
  26465: 0.0,
  26466: 0.0,
  26467: 0.0,
  26468: 0.0,
  26469: 0.0,
  26470: 0.0,
  26471: 0.0,
  26472: 0.0,
  26473: 0.0,
  26474: 0.0,
  26475: 0.0,
  26476: 0.0,
  26477: 0.0,
  26478: 0.0,
  26479: 0.0,
  26480: 0.0,
  26481: 0.0,
  24490: 0.0,
  26482: 0.0,
  26483: 0.0,
  26484: 0.0,
  26485: 0.0,
  26486: 0.0,
  26487: 0.0,
  26488: 0.0,
  26489: 0.0,
  26490: 0.0,
  26491: 0.0,
  26492: 0.0,
  26493: 0.0,
  26494: 0.0,
  26495: 0.0,
  26496: 0.0,
  26497: 0.0,
  26498: 0.0,
  26499: 0.0,
  26500: 0.0,
  26501: 0.0,
  26502: 0.0,
  26503: 0.0,
  26504: 0.0,
  26505: 0.0,
  26506: 0.0,
  26507: 0.0,
  26508: 0.0,
  26509: 0.0,
  26510: 0.0,
  26511: 0.0,
  26512: 0.0,
  26513: 0.0,
  26514: 0.0,
  26515: 0.0,
  26516: 0.0,
  26517: 0.0,
  26518: 0.0,
  26519: 0.0,
  26520: 0.0,
  26521: 0.0,
  26522: 0.0,
  26523: 0.0,
  26524: 0.0,
  26525: 0.0,
  26526: 0.0,
  26527: 0.0,
  26528: 0.0,
  26529: 0.0,
  24492: 0.0,
  26530: 0.0,
  26531: 0.0,
  24280: 0.0,
  24279: 0.0,
  24278: 0.0,
  23677: 0.0,
  20705: 0.022033898305084745,
  24283: 0.0,
  24282: 0.0,
  24281: 0.0,
  26532: 0.0,
  26533: 0.0,
  26534: 0.0,
  26535: 0.0,
  26536: 0.0,
  26537: 0.0,
  26538: 0.0,
  26539: 0.0,
  26540: 0.0,
  26541: 0.0,
  26542: 0.0,
  26543: 0.0,
  26544: 0.0,
  26545: 0.0,
  26546: 0.0,
  26547: 0.0,
  26548: 0.0,
  26549: 0.0,
  26550: 0.0,
  26551: 0.0,
  26552: 0.0,
  26553: 0.0,
  26554: 0.0,
  23588: 0.08503937007874016,
  26555: 0.0,
  26556: 0.0,
  26557: 0.0,
  26558: 0.0,
  26559: 0.0,
  26560: 0.0,
  26561: 0.0,
  26562: 0.0,
  26563: 0.0,
  22995: 0.0,
  23589: 0.6344086021505376,
  26564: 0.0,
  23618: 0.07262569832402235,
  26565: 0.0,
  26566: 0.0,
  26567: 0.0,
  26568: 0.0,
  26569: 0.0,
  26570: 0.0,
  26571: 0.0,
  24491: 0.0,
  23590: 0.2562154696132597,
  26572: 0.0,
  23593: 0.022263450834879406,
  26573: 0.0,
  23617: 0.05805243445692884,
  26574: 0.0,
  24104: 0.0,
  26575: 0.0,
  26576: 0.0,
  26577: 0.0,
  23619: 0.005008347245409015,
  26578: 0.0,
  23620: 0.276369582992641,
  23591: 0.024498229043683588,
  24105: 0.0,
  26579: 0.0,
  24106: 0.0,
  26580: 0.0,
  26581: 0.0,
  26582: 0.0,
  26583: 0.0,
  26584: 0.0,
  26585: 0.0,
  23592: 0.005012531328320802,
  26586: 0.0,
  24107: 0.0,
  26587: 0.0,
  26588: 0.0,
  24108: 0.0,
  26589: 0.0,
  26590: 0.0,
  26591: 0.0,
  26592: 0.0,
  23594: 0.5537735849056604,
  26593: 0.0,
  24109: 0.0,
  26594: 0.0,
  26595: 0.0,
  24110: 0.0,
  26596: 0.0,
  26597: 0.0,
  24111: 0.0,
  23595: 0.2636518771331058,
  26598: 0.0,
  26599: 0.0,
  26600: 0.0,
  24112: 0.0,
  24113: 0.0,
  23596: 0.0,
  23597: 0.0,
  23598: 0.0,
  23599: 0.01487603305785124,
  24114: 0.0,
  26601: 0.0,
  26602: 0.0,
  26603: 0.0,
  26604: 0.0,
  20708: 0.3769161406672678,
  26605: 0.0,
  19751: 0.0,
  21736: 0.0035511363636363635,
  24693: 0.0,
  26606: 0.0,
  26607: 0.0,
  26608: 0.0,
  23600: 0.05275407292474787,
  26609: 0.0,
  26610: 0.0,
  26611: 0.0,
  23601: 0.09228971962616822,
  26612: 0.0,
  26613: 0.0,
  26614: 0.0,
  26615: 0.0,
  26616: 0.0,
  25001: 0.0,
  24996: 0.0,
  24993: 0.0,
  24949: 0.20318725099601595,
  26617: 0.0,
  26618: 0.0,
  26619: 0.0,
  26620: 0.0,
  26621: 0.0,
  12334: 0.2465753424657534,
  12333: 1.0020408163265306,
  8061: 0.3739669421487603,
  26622: 0.0,
  26623: 0.0,
  26624: 0.0,
  24950: 0.01559792027729636,
  26625: 0.0,
  26626: 0.0,
  26627: 0.0,
  26628: 0.0,
  26629: 0.0,
  26630: 0.0,
  26631: 0.0,
  26632: 0.0,
  24994: 0.0,
  26633: 0.0,
  26634: 0.0,
  26635: 0.0,
  26636: 0.0,
  26637: 0.0,
  26638: 0.0,
  26639: 0.0,
  26640: 0.0,
  26641: 0.0,
  26642: 0.0,
  26643: 0.0,
  26644: 0.0,
  26645: 0.0,
  26646: 0.0,
  26647: 0.0,
  26648: 0.0,
  26649: 0.0,
  26650: 0.0,
  26651: 0.0,
  26652: 0.0,
  26653: 0.0,
  26654: 0.0,
  26655: 0.0,
  26656: 0.0,
  26657: 0.0,
  26658: 0.0,
  26659: 0.0,
  26660: 0.0,
  26661: 0.0,
  23602: 0.07179028894846588,
  26662: 0.0,
  26663: 0.0,
  26664: 0.0,
  24790: 0.0,
  26665: 0.0,
  23603: 0.0776102735901731,
  26666: 0.0,
  26667: 0.0,
  26668: 0.0,
  26669: 0.0,
  26670: 0.0,
  23604: 0.01080773606370876,
  26671: 0.0,
  23605: 0.005655042412818096,
  26672: 0.0,
  26673: 0.0,
  26674: 0.0,
  23606: 0.02426810477657935,
  26675: 0.0,
  26676: 0.0,
  26677: 0.0,
  23607: 0.030114226375908618,
  26678: 0.0,
  26679: 0.0,
  26680: 0.0,
  26681: 0.0,
  26682: 0.0,
  23608: 0.027664768104149716,
  26683: 0.0,
  26684: 0.0,
  23609: 0.09705042816365367,
  26685: 0.0,
  26686: 0.0,
  26687: 0.0,
  26688: 0.0,
  26689: 0.0,
  23610: 0.022401433691756272,
  26690: 0.0,
  182: 0.7521623955390987,
  4791: 0.7183570300157978,
  4790: 0.83463687150838,
  4047: 0.8169404186795491,
  2630: 0.8362942271880819,
  2629: 0.8470944741532976,
  3665: 0.7804424778761062,
  2174: 0.7660754716981132,
  3664: 0.8030778588807785,
  3663: 0.793702380952381,
  357: 0.7353255813953488,
  356: 0.6982585520791501,
  4023: 0.5950364142156097,
  5337: 0.6801041666666666,
  5336: 0.7273498727100285,
  5335: 0.6413345690454124,
  5340: 0.6709382151029749,
  5339: 0.5132371932845459,
  5338: 0.6284499734316882,
  4036: 0.7055509868421053,
  4022: 0.6300847787197635,
  5334: 0.7585849545433134,
  5333: 0.8458044227025409,
  5332: 0.854971115840681,
  4051: 0.808860585513355,
  4050: 0.8115812397915532,
  4049: 0.7000195427008012,
  4048: 0.6884195538680589,
  5331: 0.7562709030100334,
  5330: 0.7725752508361204,
  5329: 0.7646848719031074,
  5328: 0.8518105619554895,
  5327: 0.8422699320315029,
  5326: 0.7181662452076025,
  5325: 0.7787523035970241,
  4929: 0.7543070740001686,
  4928: 0.8617479953257848,
  4927: 0.863977965768247,
  4926: 0.7867649446374647,
  4925: 0.7633650793650794,
  4924: 0.7786666666666666,
  4923: 0.8343727898154697,
  363: 0.7744285714285714,
  4922: 0.8195169082125604,
  4921: 0.7870698924731183,
  4920: 0.7556264775413711,
  4919: 0.7882369146005509,
  4793: 0.8161868686868686,
  4792: 0.8511640211640212,
  4038: 0.8356904761904762,
  2456: 0.789162210338681,
  4037: 0.843607305936073,
  26691: 0.0,
  26692: 0.0,
  26693: 0.0,
  26694: 0.0,
  26695: 0.0,
  26696: 0.0,
  26697: 0.0,
  22992: 0.0,
  22991: 0.0,
  22990: 0.0,
  26698: 0.0,
  26699: 0.0,
  26700: 0.0,
  1900: 0.5833316910706896,
  1903: 0.646333939201921,
  1902: 0.6862318727218685,
  1901: 0.7303089300541128,
  3544: 0.6935427053977888,
  4011: 0.7596883389751371,
  4298: 0.7465051633609519,
  4012: 0.6758749238287551,
  4008: 0.6174538663157784,
  4009: 0.6552518598023613,
  1909: 0.7502468868174483,
  4721: 0.72910421061722,
  4039: 0.7463867260379612,
  3975: 0.6928147724809334,
  2933: 0.7620149198297909,
  2932: 0.769057119841136,
  3336: 0.747040971168437,
  3335: 0.7114054874297666,
  3334: 0.7573119445046608,
  362: 0.6823997554611849,
  177: 0.4784980101354253,
  828: 0.6400267923133777,
  1379: 0.733659304220761,
  2129: 0.6739442362681036,
  740: 0.5768483752893894,
  737: 0.5705061560717936,
  1584: 0.8364554209381796,
  3696: 0.822589401628703,
  3670: 0.8663284010809381,
  981: 0.7209940590745544,
  3669: 0.8315125498269745,
  1911: 0.877375033896773,
  1299: 0.8567803955559057,
  489: 0.7016611616076379,
  186: 0.7080361046107955,
  3697: 0.8759349277334889,
  1910: 0.8328078078078078,
  3698: 0.8738738738738738,
  3695: 0.8468324324324323,
  23616: 0.004,
  26701: 0.0,
  26702: 0.0,
  26703: 0.0,
  26704: 0.0,
  26705: 0.0,
  26706: 0.0,
  75: 0.6870142180094786,
  133: 0.6607692307692308,
  74: 0.5127809890815671,
  6370: 0.7935802469135802,
  77: 0.7650591016548464,
  82: 0.7981531531531532,
  ...}}

In [105]:
### save pickle
with open('play_rate_dict.pickle', 'wb') as f:
    pickle.dump(play_rate_dict, f)