## 데이터 전처리
### 기본 설정

In [1]:
# 패키지 로드
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
from sklearn.model_selection import train_test_split
from collections import defaultdict
import os, random

from scipy import sparse
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
%matplotlib inline

import torch
import torch.nn as nn
from torch.nn.init import normal_
from torch.utils.data import TensorDataset, DataLoader
import torch.nn.functional as F

import plotnine
from plotnine import *

import pickle

In [2]:
# 경로 설정
data_path = './data'
saved_path = './code/saved'
output_path = './code/submission'

### 데이터 불러오기
- history_data : 시청 시작 데이터
- profile_data : 프로필 정보 
- meta_data : 콘텐츠 일반 메타 정보

In [3]:
# 데이터 불러오기 
history_df = pd.read_csv(os.path.join(data_path, 'history_data.csv'), encoding='utf-8')
search_df = pd.read_csv(os.path.join(data_path, 'search_data.csv'), encoding='utf-8')
profile_df = pd.read_csv(os.path.join(data_path, 'profile_data.csv'), encoding='utf-8')
meta_df = pd.read_csv(os.path.join(data_path, 'meta_data.csv'), encoding='utf-8')
we_df = pd.read_csv(os.path.join(data_path, 'watch_e_data.csv'), encoding='utf-8')
buy_df = pd.read_csv(os.path.join(data_path, 'buy_data.csv'), encoding='utf-8')

## 앨범 관심 시청별 최다 키워드

In [4]:
### 키워드 별 인원을 나타내기위해 하나로 모으기
keyword1 = profile_df[['profile_id', 'pr_interest_keyword_cd_1', 'ch_interest_keyword_cd_1']]
keyword2 = profile_df[['profile_id', 'pr_interest_keyword_cd_2', 'ch_interest_keyword_cd_2']]
keyword3 = profile_df[['profile_id', 'pr_interest_keyword_cd_3', 'ch_interest_keyword_cd_3']]

In [5]:
### cbind하기 전 이름 통일
keyword1.columns = ["profile_id","pr_int","ch_int"]
keyword2.columns = ["profile_id","pr_int","ch_int"]
keyword3.columns = ["profile_id","pr_int","ch_int"]

In [6]:
### 위/아래로 합치기 - 행 기준
keyword = pd.concat([keyword1, keyword2, keyword3], axis = 0).dropna(axis=0)

In [7]:
keyword

      profile_id pr_int ch_int
0              3    P02    K01
1              5    P07    K05
2              7    P05    K06
3             12    P03    K09
4             16    P03    K01
...          ...    ...    ...
8305       33019    P01    K09
8307       33023    P07    K05
8308       33026    P08    K06
8309       33027    P06    K05
8310       33032    P07    K09

[20283 rows x 3 columns]

In [7]:
new = we_df[['profile_id', 'album_id']].drop_duplicates(['profile_id', 'album_id'])

In [8]:
new

        profile_id  album_id
0                3        15
1                3        16
2                3        17
3                3        18
4                3        19
...            ...       ...
892777       33032         0
892778       33032      1725
892780       33032      3128
892782       33032      3625
892783       33032       375

[347982 rows x 2 columns]

In [9]:
new_meta = meta_df.drop_duplicates('album_id')[['album_id', 'genre_mid']]

In [10]:
new_k = pd.merge(new, new_meta, on = 'album_id', how = 'left')

In [11]:
new_k

        profile_id  album_id genre_mid
0                3        15      노래율동
1                3        16      노래율동
2                3        17      노래율동
3                3        18      노래율동
4                3        19      노래율동
...            ...       ...       ...
347977       33032         0       외국어
347978       33032      1725      노래율동
347979       33032      3128       외국어
347980       33032      3625      노래율동
347981       33032       375      놀이교실

[347982 rows x 3 columns]

In [12]:
kk = pd.merge(new_k, keyword, on = 'profile_id', how = 'inner')

In [13]:
kk

        profile_id  album_id genre_mid pr_int ch_int
0                3        15      노래율동    P02    K01
1                3        15      노래율동    P04    K03
2                3        15      노래율동    P07    K04
3                3        16      노래율동    P02    K01
4                3        16      노래율동    P04    K03
...            ...       ...       ...    ...    ...
845738       33032      3625      노래율동    P05    K05
845739       33032      3625      노래율동    P07    K09
845740       33032       375      놀이교실    P03    K01
845741       33032       375      놀이교실    P05    K05
845742       33032       375      놀이교실    P07    K09

[845743 rows x 5 columns]

In [25]:
k = pd.merge(new, keyword, on = 'profile_id', how = 'inner')

In [24]:
k

        profile_id  album_id pr_int ch_int
0                3        15    P02    K01
1                3        15    P04    K03
2                3        15    P07    K04
3                3        16    P02    K01
4                3        16    P04    K03
...            ...       ...    ...    ...
845738       33032      3625    P05    K05
845739       33032      3625    P07    K09
845740       33032       375    P03    K01
845741       33032       375    P05    K05
845742       33032       375    P07    K09

[845743 rows x 4 columns]

In [14]:
### 키워드 별 인원수 세기
kpcount = keyword.groupby('pr_int')['profile_id'].count()
kccount = keyword.groupby('ch_int')['profile_id'].count()

In [26]:
kpcount

pr_int
P01    2102
P02    3112
P03    2881
P04    1773
P05    1837
P06    3780
P07    3238
P08    1560
Name: profile_id, dtype: int64

In [15]:
### 부모, 자녀 키워드 앨범, 키워드별 각각 인원수 세기
kk2 = pd.DataFrame(kk.groupby(['genre_mid','pr_int']).count()).reset_index()
kk3 = pd.DataFrame(kk.groupby(['genre_mid','ch_int']).count()).reset_index()

In [16]:
kk3

    genre_mid ch_int  profile_id  album_id  pr_int
0         MCN    K01          84        84      84
1         MCN    K02         159       159     159
2         MCN    K03          99        99      99
3         MCN    K04         111       111     111
4         MCN    K05          71        71      71
..        ...    ...         ...       ...     ...
227        한자    K02           1         1       1
228        한자    K03           3         3       3
229        한자    K04           1         1       1
230        한자    K05           1         1       1
231        한자    K07           1         1       1

[232 rows x 5 columns]

In [17]:
### 키워드를 열로 옮기기
par_with_genre_cnt = kk2.pivot(
    index = 'genre_mid',
    columns = 'pr_int',
    values = 'profile_id'
)

chi_with_genre_cnt = kk3.pivot(
    index = 'genre_mid',
    columns = 'ch_int',
    values = 'profile_id'
)

### 없는값은 0으로 채우기
### 앨범 별 키워드 인원 
par_with_genre_cnt = par_with_genre_cnt.reset_index().fillna(0)
chi_with_genre_cnt = chi_with_genre_cnt.reset_index().fillna(0)

In [19]:
kccount

ch_int
K01    4364
K02    2973
K03    3297
K04    2135
K05    1756
K06    1891
K07    1012
K08    1613
K09    1242
Name: profile_id, dtype: int64

In [20]:
chi_with_genre_cnt

ch_int,genre_mid,K01,K02,K03,K04,K05,K06,K07,K08,K09
0,MCN,84.0,159.0,99.0,111.0,71.0,70.0,39.0,45.0,67.0
1,TV만화,55067.0,35050.0,32134.0,17706.0,17600.0,19927.0,10403.0,22102.0,13631.0
2,극장판 애니,100.0,88.0,62.0,26.0,34.0,25.0,22.0,37.0,23.0
3,노래 율동,1025.0,750.0,454.0,244.0,291.0,350.0,138.0,397.0,265.0
4,노래율동,87269.0,48258.0,35601.0,13862.0,17212.0,22917.0,12043.0,24833.0,15132.0
5,놀이교실,14958.0,11608.0,10437.0,9151.0,7284.0,8233.0,3673.0,6679.0,5048.0
6,다큐멘터리,92.0,97.0,62.0,55.0,64.0,52.0,20.0,44.0,23.0
7,독서동화,602.0,438.0,452.0,269.0,165.0,248.0,163.0,156.0,142.0
8,드라마,143.0,110.0,122.0,112.0,50.0,73.0,91.0,26.0,43.0
9,수학과학,59.0,96.0,190.0,56.0,175.0,112.0,12.0,17.0,27.0
10,시리즈,1863.0,1599.0,1341.0,1136.0,872.0,939.0,449.0,1201.0,918.0
11,시사교양,2.0,1.0,11.0,9.0,9.0,13.0,1.0,1.0,0.0
12,애니,2042.0,1681.0,1286.0,817.0,786.0,838.0,407.0,1345.0,945.0
13,액션/모험,1337.0,1033.0,986.0,560.0,606.0,650.0,340.0,1038.0,583.0
14,어린이방송,501.0,424.0,453.0,218.0,229.0,182.0,98.0,297.0,251.0
15,역사/문화,71.0,63.0,52.0,30.0,21.0,34.0,19.0,41.0,29.0
16,연예오락,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
17,예능,569.0,403.0,460.0,502.0,343.0,371.0,121.0,138.0,198.0
18,예술,0.0,2.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0
19,외국어,9926.0,6569.0,7556.0,4933.0,5112.0,8299.0,2027.0,4343.0,2630.0
20,유아애니,148.0,188.0,103.0,77.0,46.0,119.0,33.0,128.0,26.0
21,육아정보,150.0,143.0,116.0,137.0,109.0,97.0,54.0,41.0,72.0
22,창의학습,520.0,465.0,508.0,654.0,317.0,433.0,136.0,234.0,236.0
23,책,26271.0,20886.0,36800.0,18945.0,17456.0,17344.0,8052.0,10486.0,9056.0
24,체육안전,22.0,19.0,11.0,0.0,0.0,3.0,0.0,0.0,11.0
25,코미디,329.0,291.0,220.0,129.0,150.0,152.0,82.0,136.0,106.0
26,한글,73.0,104.0,153.0,107.0,136.0,120.0,24.0,18.0,33.0
27,한자,2.0,1.0,3.0,1.0,1.0,0.0,1.0,0.0,0.0

In [21]:
### 선택 인원수 별로 나누어줌
for i in range(8):
    par_with_genre_cnt.iloc[:,i+1] = par_with_genre_cnt.iloc[:,i+1]/kpcount[i]
    
for j in range(9):
    chi_with_genre_cnt.iloc[:,j+1] = chi_with_genre_cnt.iloc[:,j+1]/kccount[j]

In [22]:
### 다시 melt
par_with_genre_melt = par_with_genre_cnt.melt(
    id_vars = "genre_mid",
    value_vars = ['P01','P02','P03','P04','P05','P06','P07','P08'],
    value_name = 'viewpersel',
    var_name = "pr_int"
)

chi_with_genre_melt = chi_with_genre_cnt.melt(
    id_vars = "genre_mid",
    value_vars = ['K01','K02','K03','K04','K05','K06','K07','K08','K09'],
    value_name = 'viewpersel',
    var_name = "ch_int"
)

In [23]:
chi_with_genre_melt

    genre_mid ch_int  viewpersel
0         MCN    K01    0.019248
1        TV만화    K01   12.618469
2      극장판 애니    K01    0.022915
3       노래 율동    K01    0.234876
4        노래율동    K01   19.997479
..        ...    ...         ...
247         책    K09    7.291465
248      체육안전    K09    0.008857
249       코미디    K09    0.085346
250        한글    K09    0.026570
251        한자    K09    0.000000

[252 rows x 3 columns]

In [26]:
### 각 앨범별 최대값과 그에 해당하는 선택 키워드
par_with_genre_max = par_with_genre_melt.loc[par_with_genre_melt.groupby(['genre_mid'])['viewpersel'].idxmax()]
chi_with_genre_max = chi_with_genre_melt.loc[chi_with_genre_melt.groupby(['genre_mid'])['viewpersel'].idxmax()]

In [27]:
pr_genre_dict = par_with_genre_max[['genre_mid', 'pr_int']].set_index('genre_mid').to_dict()
ch_genre_dict = chi_with_genre_max[['genre_mid', 'ch_int']].set_index('genre_mid').to_dict()

In [28]:
ch_genre_dict

{'ch_int': {'MCN': 'K09',
  'TV만화': 'K08',
  '극장판 애니': 'K02',
  '노래 율동': 'K02',
  '노래율동': 'K01',
  '놀이교실': 'K06',
  '다큐멘터리': 'K05',
  '독서동화': 'K07',
  '드라마': 'K07',
  '수학과학': 'K05',
  '시리즈': 'K08',
  '시사교양': 'K06',
  '애니': 'K08',
  '액션/모험': 'K08',
  '어린이방송': 'K09',
  '역사/문화': 'K08',
  '연예오락': 'K04',
  '예능': 'K04',
  '예술': 'K05',
  '외국어': 'K06',
  '유아애니': 'K08',
  '육아정보': 'K04',
  '창의학습': 'K04',
  '책': 'K03',
  '체육안전': 'K09',
  '코미디': 'K02',
  '한글': 'K05',
  '한자': 'K07'}}

In [316]:
ch_genre_dict['ch_int']['TV만화']

'K08'

### 장르 결합

In [29]:
### 부모, 자녀 키워드 앨범, 키워드별 각각 인원수 세기
k2 = pd.DataFrame(k.groupby(['album_id','pr_int']).count()).reset_index()
k3 = pd.DataFrame(k.groupby(['album_id','ch_int']).count()).reset_index()

In [30]:
### 키워드를 열로 옮기기
par_cnt = k2.pivot(
    index = 'album_id',
    columns = 'pr_int',
    values = 'profile_id'
)

chi_cnt = k3.pivot(
    index = 'album_id',
    columns = 'ch_int',
    values = 'profile_id'
)

In [31]:
### 없는값은 0으로 채우기
### 앨범 별 키워드 인원 
par_cnt = par_cnt.reset_index().fillna(0)
chi_cnt = chi_cnt.reset_index().fillna(0)

In [32]:
### 선택 인원수 별로 나누어줌
for i in range(8):
    par_cnt.iloc[:,i+1] = par_cnt.iloc[:,i+1]/kpcount[i]
    
for j in range(9):
    chi_cnt.iloc[:,j+1] = chi_cnt.iloc[:,j+1]/kccount[j]

In [33]:
### 다시 melt
par_melt = par_cnt.melt(
    id_vars = "album_id",
    value_vars = ['P01','P02','P03','P04','P05','P06','P07','P08'],
    value_name = 'viewpersel',
    var_name = "pr_int"
)

chi_melt = chi_cnt.melt(
    id_vars = "album_id",
    value_vars = ['K01','K02','K03','K04','K05','K06','K07','K08','K09'],
    value_name = 'viewpersel',
    var_name = "ch_int"
)

In [34]:
### 각 앨범별 최대값과 그에 해당하는 선택 키워드
par_max = par_melt.loc[par_melt.groupby(['album_id'])['viewpersel'].idxmax()]
chi_max = chi_melt.loc[chi_melt.groupby(['album_id'])['viewpersel'].idxmax()]

## 장르와 융합

In [35]:
### 중장르 뽑기
genre = meta_df[['album_id', 'genre_mid', 'sub_title']]

In [36]:
genre = genre.drop_duplicates('album_id')

In [37]:
genre

       album_id genre_mid   sub_title
0           749      TV만화    꼬마버스 타요1
1           750      TV만화    꼬마버스 타요1
2          2131      TV만화    꼬마버스 타요1
3          2625      TV만화    꼬마버스 타요1
4          2594      TV만화    꼬마버스 타요1
...         ...       ...         ...
42596     39872      놀이교실  로티프렌즈 미술놀이
42597     39873      놀이교실  로티프렌즈 미술놀이
42598     39874      놀이교실  로티프렌즈 미술놀이
42599      4779         책        4-5세
42601     11629      노래율동  베이비 타요 동요2

[39875 rows x 3 columns]

In [38]:
### 부모, 자녀 각 키워드랑 융합
par_with_genre_fu = pd.merge(genre, par_with_genre_max[['genre_mid','pr_int']], on = 'genre_mid')
chi_with_genre_fu = pd.merge(genre, chi_with_genre_max[['genre_mid','ch_int']], on = 'genre_mid')

In [39]:
chi_with_genre_fu

       album_id genre_mid            sub_title ch_int
0           749      TV만화             꼬마버스 타요1    K08
1           750      TV만화             꼬마버스 타요1    K08
2          2131      TV만화             꼬마버스 타요1    K08
3          2625      TV만화             꼬마버스 타요1    K08
4          2594      TV만화             꼬마버스 타요1    K08
...         ...       ...                  ...    ...
39850      6302        한글  EBS 초등 만점왕 - 국어 2-1    K05
39851      6303        한글  EBS 초등 만점왕 - 국어 2-1    K05
39852      6309        한글  EBS 초등 만점왕 - 국어 2-1    K05
39853      6310        한글  EBS 초등 만점왕 - 국어 2-1    K05
39854      8264        한글  EBS 초등 만점왕 - 국어 1-1    K05

[39855 rows x 4 columns]

In [40]:
### 부모, 자녀 각 키워드랑 융합
par_fu = pd.merge(genre, par_max[['album_id','pr_int']],left_on='album_id', right_on='album_id', how='right')
chi_fu = pd.merge(genre, chi_max[['album_id','ch_int']],left_on='album_id', right_on='album_id', how='right')

In [41]:
chi_fu

       album_id genre_mid              sub_title ch_int
0             0       외국어               디즈니 프린세스    K06
1             1       외국어               베베 뮤직스토리    K06
2             2       외국어               베베 뮤직스토리    K06
3             3       외국어                     픽사    K06
4             4      TV만화              출동! 슈퍼윙스1    K08
...         ...       ...                    ...    ...
20356     25912      독서동화         주니토니 NEW 동화뮤지컬    K01
20357     25913      노래율동             퓨처북 공룡 동요2    K01
20358     25914      노래율동             퓨처북 공룡 동요2    K01
20359     25915      노래율동             퓨처북 공룡 동요2    K01
20360     25916      노래율동  주니토니 어쩌다 암기왕 두잇두잇 언어왕    K01

[20361 rows x 4 columns]

In [43]:
meta_sub_title = meta_df.sub_title.value_counts().reset_index()
meta_sub_title.columns = ['sub_title', 'count']

In [44]:
meta_genre = meta_df.drop_duplicates('album_id')[['album_id', 'genre_mid']]

In [45]:
meta_genre

       album_id genre_mid
0           749      TV만화
1           750      TV만화
2          2131      TV만화
3          2625      TV만화
4          2594      TV만화
...         ...       ...
42596     39872      놀이교실
42597     39873      놀이교실
42598     39874      놀이교실
42599      4779         책
42601     11629      노래율동

[39875 rows x 2 columns]

In [48]:
meta_genre_with_keyowrd = pd.merge(meta_genre, chi_with_genre_max[['genre_mid','ch_int']], on = 'genre_mid', how = 'left')

In [49]:
meta_genre_with_keyowrd

       album_id genre_mid ch_int
0           749      TV만화    K08
1           750      TV만화    K08
2          2131      TV만화    K08
3          2625      TV만화    K08
4          2594      TV만화    K08
...         ...       ...    ...
39870     39872      놀이교실    K06
39871     39873      놀이교실    K06
39872     39874      놀이교실    K06
39873      4779         책    K03
39874     11629      노래율동    K01

[39875 rows x 3 columns]

In [50]:
h = meta_df.drop_duplicates('album_id')[['album_id', 'sub_title']]

In [51]:
h

       album_id   sub_title
0           749    꼬마버스 타요1
1           750    꼬마버스 타요1
2          2131    꼬마버스 타요1
3          2625    꼬마버스 타요1
4          2594    꼬마버스 타요1
...         ...         ...
42596     39872  로티프렌즈 미술놀이
42597     39873  로티프렌즈 미술놀이
42598     39874  로티프렌즈 미술놀이
42599      4779        4-5세
42601     11629  베이비 타요 동요2

[39875 rows x 2 columns]

In [53]:
new_chi_fu = pd.merge(h, chi_max[['album_id','ch_int']],left_on='album_id', right_on='album_id', how='left')

In [54]:
new_chi_fu

       album_id   sub_title ch_int
0           749    꼬마버스 타요1    K08
1           750    꼬마버스 타요1    K08
2          2131    꼬마버스 타요1    K08
3          2625    꼬마버스 타요1    K08
4          2594    꼬마버스 타요1    K08
...         ...         ...    ...
39870     39872  로티프렌즈 미술놀이    NaN
39871     39873  로티프렌즈 미술놀이    NaN
39872     39874  로티프렌즈 미술놀이    NaN
39873      4779        4-5세    NaN
39874     11629  베이비 타요 동요2    NaN

[39875 rows x 3 columns]

In [55]:
ho = new_chi_fu[['sub_title', 'ch_int']].value_counts().reset_index().sort_values('sub_title')

In [56]:
meta_subtitle_key_dict = dict()

temp = 'a'
MAX = 0
for i in ho.itertuples():
    if temp == i[1]:
        MAX = max(MAX, i[3])
        if MAX == i[3]:
            meta_subtitle_key_dict[i[1]] = i[2]
    else:
        temp = i[1]
        meta_subtitle_key_dict[i[1]] = i[2]

In [57]:
meta_subtitle_key_dict

{'100분! 뽀요 인기 메들리': 'K09',
 '10월 세계 여러나라': 'K05',
 '11월 지구와 우주': 'K05',
 '12월 겨울': 'K06',
 '1월 생활도구': 'K04',
 '2월 자연과 동물': 'K05',
 '3세이하': 'K03',
 '3월 새로움이 많아요': 'K06',
 '4-5세': 'K03',
 '4남매쇼': 'K09',
 '4월 봄': 'K06',
 '5가지 뽀롱뽀롱 꿈 상담소': 'K09',
 '5분 종이접기 한반도의 공룡편': 'K08',
 '5월 몸짱 마음짱': 'K06',
 '6-7세': 'K06',
 '60분 뽀요 율동 메들리': 'K01',
 '60초툰': 'K04',
 '6월 우리동네': 'K07',
 '7월 여름과 건강': 'K06',
 '8-9세': 'K06',
 '8월 교통기관': 'K06',
 '9월 우리나라': 'K06',
 'A Day with Little Monkey': 'K06',
 'A New Baby Is Coming': 'K05',
 'A Picnic Day': 'K06',
 'A Super Halloween': 'K09',
 'A Wish For Whales': 'K05',
 'ABC Song': 'K06',
 'Alligator Eats Candies': 'K06',
 'Animals at the Zoo': 'K06',
 'A~Z까지 알파벳 배우기': 'K06',
 'Baby Bear`s New Friend': 'K06',
 'Bath Time Fun': 'K06',
 'Ben Bakes Cakes': 'K09',
 'Ben Is Too Big': 'K06',
 'Big Big Big Bread': 'K06',
 'Big Bob Small Sam': 'K06',
 'Brown Bear`s Birthday': 'K07',
 'Butterflies Fly': 'K07',
 'Cat and Rat Play Together': 'K06',
 'Collin Goes to a Toilet': 'K09',
 'Decorate a Chrismas Tree': 'K01',
 'Detective Freddy`s Vacation': 'K01',
 'Dora Dances in a festival': 'K09',
 'EBS 스쿨랜드': 'K09',
 'EBS 초등 만점왕 - 국어 1-1': 'K05',
 'EBS 초등 만점왕 - 국어 1-2': 'K09',
 'EBS 초등 만점왕 - 국어 2-1': 'K04',
 'EBS 초등 만점왕 - 국어 2-2': 'K07',
 'EBS 초등 만점왕 - 수학 1-1': 'K05',
 'EBS 초등 만점왕 - 수학 1-2': 'K05',
 'EBS 초등 만점왕 - 수학 2-1': 'K09',
 'EBS 초등 만점왕 - 수학 2-2': 'K07',
 'EBS 한반도의 공룡': 'K08',
 'Elly`s Playtime': 'K07',
 'Elmo`s World': 'K04',
 'Five little Chameleons': 'K05',
 'Go to Play Hide and Seek': 'K09',
 'HEY 타요': 'K09',
 'Help Mermaid': 'K01',
 'Hen Makes a Nest': 'K09',
 'Hi, Stars!': 'K01',
 'Honk! Honk!': 'K04',
 'How Does Rain Falls?': 'K01',
 'I Am Short': 'K08',
 'I Am leaving': 'K05',
 'I Can Do It Myself': 'K06',
 'I Can Help': 'K05',
 'I Feel Happy': 'K06',
 'I Feel Much Better': 'K08',
 'I Like the way I Am': 'K05',
 'I Love Kisses (chant)': 'K06',
 'I Love My Family': 'K08',
 'I Meet Animal Friends': 'K09',
 'I Put on the Clothes': 'K08',
 'I Really Like Sports Day': 'K01',
 'I Want a Pet': 'K01',
 'I Wash': 'K06',
 'Jack and His Kitten': 'K09',
 'Jesse의 플레이 키친(상)': 'K06',
 'Joan Teaches Sammy Dancing': 'K01',
 'Joan and Mimi Play the Piano': 'K01',
 'Let`s Go Swimming': 'K06',
 'Let`s Make a Zoo': 'K09',
 'Let`s Swim in the Tub': 'K06',
 'Little Hippo`s Color Day': 'K09',
 'Little Princess': 'K05',
 'Littler Spider`s New House': 'K05',
 'Maddie in the Mud': 'K09',
 'Magic Crayons': 'K01',
 'Mimi Follows a Ball': 'K06',
 'NEW 꼬꼬마 텔레토비2': 'K09',
 'NEW 꼬꼬마 텔레토비3': 'K09',
 'NEW 꼬꼬마 텔레토비4': 'K09',
 'NEW 꼬꼬마 텔레토비5': 'K08',
 'NEW 뽀롱뽀롱 뽀로로1': 'K07',
 'NEW뽀로로와 노래해요1': 'K01',
 'NEW뽀로로와 노래해요1(영어)': 'K06',
 'NEW뽀로로와 노래해요2': 'K02',
 'NEW뽀로로와 노래해요2(영어)': 'K07',
 'Noises In the Night': 'K06',
 'One, Two, Three, Four, Five': 'K01',
 'Ox, Yak and Zebra Are Yawning': 'K09',
 'Pig`s Happy Day': 'K06',
 'Pororo Talk 1': 'K04',
 'Pororo Talk 2': 'K01',
 'Princess Pamela and the Polite Dragon': 'K09',
 'Queen in the Rain': 'K08',
 'Rainy Day Funny Day': 'K07',
 'Ride and Stop': 'K07',
 'STEP1': 'K06',
 'STEP3': 'K09',
 'SUPADUPA(슈파듀파)': 'K07',
 'Salad with Nuts and Pears': 'K02',
 'Sally Goes to Kindergarten': 'K01',
 'Say Please and Thank you': 'K01',
 'Seeds Grow': 'K06',
 'Sesame Street ABC song': 'K06',
 'Sharing is Good': 'K09',
 'Shelby the Shy Shark': 'K02',
 'Sleep Well, Tot': 'K06',
 'Soft or Hard?': 'K08',
 'Something for Santa': 'K07',
 'Sweet Dreams': 'K07',
 'TIKITAKA 티키타카': 'K01',
 'The Moon Follows Me': 'K06',
 'The Raindrop Concert': 'K01',
 'The Short A Song #1': 'K01',
 'The Short A Song #2': 'K05',
 'The Short E Song #1': 'K06',
 'The Short E Song #2': 'K06',
 'The Waddle-Waddle Expedition': 'K09',
 'The Wolf and Little Red': 'K06',
 'Timmy Takes a Nap': 'K09',
 'Toot, Toot, Penguin Train Goes': 'K01',
 'VOOKS': 'K07',
 'WHO-위인극장': 'K03',
 'Way to Grandma`s': 'K09',
 'We Eat Fruits': 'K06',
 'We Invite You to Our Performance': 'K01',
 'We Love Vehicles': 'K01',
 'What Can I Ride?': 'K07',
 'What Is Good for Your Health?': 'K01',
 'When I Am Big': 'K06',
 'Where Are You? Mrs, Four Season?': 'K06',
 'Who Are You?': 'K06',
 'Who Is Scary?': 'K09',
 'Who Is This Paper Boat for?': 'K06',
 'Whose House Is This?': 'K06',
 'Wolf has a Very Nice Wagon': 'K01',
 'Yummy Yummy Yum-Yum!': 'K03',
 '[감기] I got a cold': 'K05',
 '[대교전집]My First Reading': 'K05',
 '[대교전집]My First Story': 'K05',
 '[상단] 대교상상동화': 'K05',
 '[상단] 신나는 노래율동': 'K01',
 '[상단] 호랑이 해': 'K03',
 '[상단]My First Story한글': 'K03',
 '[상단]마마파파': 'K03',
 '[상단]에그박사와 자연친구들': 'K09',
 '[상단테마 영어1]': 'K02',
 '[상단테마 캐릭터3]': 'K08',
 "[신나는 영어 모아보자!]  Let's play together": 'K09',
 '[신나는 영어 모아보자!]  My favorite color is green': 'K01',
 '[신나는 영어 모아보자!]  We are going to the zoo': 'K05',
 '[신나는 영어 모아보자!]  You are my best friend': 'K07',
 '[우리말]리틀 드래곤 코코넛 Part2': 'K04',
 '[우리말]마야의 모험': 'K02',
 '[우리말]마야의 모험 2 Part1': 'K09',
 '[우리말]마야의 모험 2 Part2': 'K04',
 '[하단] 영어유치원 지면1': 'K02',
 '[하단] 영어유치원 지면2': 'K04',
 '{상단} 우아달': 'K05',
 '감기는 너무해': 'K08',
 '감기의 증상과 대처법': 'K09',
 '감염 질환과 예방, 관리': 'K09',
 '강아지는 내 친구': 'K02',
 '강철소방대 파이어로보': 'K09',
 '개구리야 안녕?': 'K08',
 '개구쟁이 조이': 'K05',
 '갤럭시 안전 프로젝트': 'K09',
 '갤럭시 키즈1': 'K06',
 '갤럭시 키즈2': 'K02',
 '갤럭시 프로젝트': 'K07',
 '건강을 지켜요(운동)': 'K01',
 '고 버스터 러닝동요': 'K08',
 '고 버스터 모험동요': 'K08',
 '고고 공룡탐험': 'K02',
 '고고다이노 공룡송1': 'K08',
 '고고다이노 공룡송2': 'K08',
 '고고다이노 공룡송3': 'K07',
 '고고다이노 공룡탐험대1': 'K09',
 '고고다이노 공룡탐험대2': 'K09',
 '고고다이노 공룡탐험대3': 'K02',
 '고고다이노 공룡탐험대4': 'K07',
 '고고다이노 캐릭터송': 'K07',
 '고민뿜뿜! 키즈상담소': 'K09',
 '곤2': 'K02',
 '곤충대탐험(상)': 'K06',
 '곤충대탐험(하)': 'K09',
 '공룡메카드 Part2': 'K06',
 '공룡이 돌아왔다!': 'K01',
 '공주님 겨울캠프': 'K05',
 '공주님 여름캠프': 'K02',
 '과학 애니메이션 WHY?': 'K03',
 '과학교실': 'K05',
 '구름빵1': 'K07',
 '구름빵2': 'K06',
 '구름빵3': 'K07',
 '구조도구 (로이＆헬리)': 'K01',
 '구조도구 (진＆마크＆버키)': 'K08',
 '구조도구 (폴리＆엠버)': 'K05',
 '국악동요 한글교실 좌충우돌 무지개 국악놀이터 동물 체조': 'K09',
 '귀여운 친구, 동물': 'K02',
 '그레이트북스 아이들나라 독점제공!': 'K03',
 '극장판': 'K01',
 '긴급상황! 우리 몸 X파일': 'K09',
 '김치는 대단해': 'K09',
 '깨미': 'K08',
 '깨미랑 부카채카1': 'K05',
 '깨미랑 부카채카2': 'K04',
 '깨미탐험대': 'K06',
 '깨미탐험대1(소장)': 'K06',
 '깨비스토리': 'K07',
 '깨비키즈 감성동화': 'K03',
 '깨비키즈 건강관리': 'K09',
 '깨비키즈 고조선과 삼국시대': 'K04',
 '깨비키즈 공룡스토리': 'K07',
 '깨비키즈 공룡호기심': 'K02',
 '깨비키즈 교통안전': 'K07',
 '깨비키즈 내몸과 성': 'K08',
 '깨비키즈 도구와 기계': 'K05',
 '깨비키즈 동물과 식물': 'K08',
 '깨비키즈 똘이야 학교가자': 'K09',
 '깨비키즈 뚝딱실험실': 'K08',
 '깨비키즈 명작동화': 'K07',
 '깨비키즈 문법모험': 'K09',
 '깨비키즈 문장모험': 'K08',
 '깨비키즈 바른생활동화': 'K07',
 '깨비키즈 바른습관': 'K09',
 '깨비키즈 생활안전': 'K09',
 '깨비키즈 서바이벌 스토리': 'K05',
 '깨비키즈 세익스피어 동화': 'K07',
 '깨비키즈 아메리카 여행': 'K08',
 '깨비키즈 유괴방지': 'K02',
 '깨비키즈 유럽여행': 'K06',
 '깨비키즈 이솝우화': 'K05',
 '깨비키즈 자동차 구조대': 'K08',
 '깨비키즈 전래동화': 'K09',
 '깨비키즈 지구와 우주': 'K07',
 '깨비키즈 직업탐험': 'K07',
 '깨비키즈 통일신라와 후삼국': 'K06',
 '꼬마 요리사': 'K09',
 '꼬마기차 추추1': 'K08',
 '꼬마기차 추추2': 'K02',
 '꼬마농부 라비': 'K02',
 '꼬마버스 타요1': 'K08',
 '꼬마버스 타요1(영어)': 'K05',
 '꼬마버스 타요2': 'K08',
 '꼬마버스 타요2(영어)': 'K01',
 '꼬마버스 타요3': 'K08',
 '꼬마버스 타요3(영어)': 'K05',
 '꼬마버스 타요4': 'K08',
 '꼬마버스 타요5': 'K08',
 '꼬마버스 타요5(영어)': 'K05',
 '꼬마버스 타요6': 'K06',
 '꼬마신선 타오1': 'K07',
 '꼬마신선 타오2': 'K07',
 '꼬마어사 쿵도령1': 'K07',
 '꼬마캐빈의 아이캔두잇1': 'K08',
 '꼬마캐빈의 아이캔두잇2': 'K04',
 '꼬마탐정 토비와 테리1': 'K09',
 '꼬마탐정 토비＆테리와 함께 배우며 놀아요': 'K09',
 '꼬마히어로 슈퍼잭1 Part1': 'K05',
 '꼬마히어로 슈퍼잭1 Part2': 'K01',
 '꼬마히어로 슈퍼잭2': 'K01',
 '꼬모 쿡': 'K06',
 '꼬모는 궁금해': 'K07',
 '꼬모와 감정표현': 'K09',
 '꼬모와 잉글리시': 'K08',
 '꼬모와 장난감1': 'K08',
 '꼬모와 장난감2': 'K08',
 '꼬모와 장난감3': 'K08',
 '꼬모와 장난감4': 'K08',
 '꼬모의 감정 나라': 'K09',
 '꼬모의 놀이': 'K06',
 '꼬모탐험대': 'K02',
 '꼬미꼬미아꼼': 'K01',
 '꼬불꼬불 ABC': 'K05',
 '꼭꼭 약속해': 'K08',
 '꽃잎(4단계) 레벨': 'K09',
 '꾸러기 천사들': 'K02',
 '꾸러기 케라톱스 코리요': 'K08',
 '꾸미와 토리': 'K06',
 '꿈과 직업': 'K08',
 '꿈나라별 자장가': 'K01',
 '꿈의 왕국 소피루비 Part1': 'K05',
 '꿈의 왕국 소피루비 Part2': 'K05',
 '꿈의왕국 소피루비 뮤직비디오': 'K04',
 '나는 샛별반!': 'K01',
 '나는 어디서 왔어요?': 'K01',
 '나도 요리사': 'K06',
 '나도 죠죠처럼 스스로 할래요!': 'K08',
 '나도 죠죠처럼 스스로 할래요(영어)': 'K02',
 '난감스쿨2': 'K04',
 '낱말 단계': 'K07',
 '내 친구 루피': 'K02',
 '내 친구 에디': 'K05',
 '내 친구 우줄리와 핍': 'K07',
 '내 친구 크롱': 'K02',
 '내 친구 티미 2.0-3': 'K08',
 '내 친구 티미2.0-1': 'K07',
 '내 친구 티미2.0-2': 'K08',
 '내 친구 패티': 'K02',
 '내 친구 호비1': 'K08',
 '내 친구 호비2': 'K05',
 '내 친구 호비3': 'K09',
 '내 친구 호비4': 'K07',
 '내 친구 호비5': 'K04',
 '내 친구 호비6': 'K07',
 '내 친구 호비7': 'K08',
 '내 친구 호비8': 'K05',
 '내 친구 호비9': 'K08',
 '내 친구를 소개합니다': 'K03',
 '내가 아끼는 책을 소개합니다 1~3편': 'K04',
 '내가 아끼는 책을 소개합니다 4~6편': 'K05',
 '내가 아끼는 책을 소개합니다 7~9편': 'K04',
 '내사랑 뚱2': 'K02',
 '내손안에 뽀로로': 'K07',
 '내일은 실험왕1': 'K05',
 '내일은 실험왕2': 'K06',
 '내친구 코리리 Part1': 'K02',
 '냉장고나라 코코몽1': 'K09',
 '냉장고나라 코코몽1(영어)': 'K01',
 '냉장고나라 코코몽2': 'K08',
 '냉장고나라 코코몽2(영어)': 'K08',
 '냉장고나라 코코몽3': 'K09',
 '냉장고나라 코코몽3(영어)': 'K06',
 '네모세모동글': 'K01',
 '노래율동': 'K09',
 '놀이교실': 'K04',
 '놀이대장을 찾아라': 'K08',
 '놀이터 구조대 뽀잉1': 'K08',
 '놀이터 구조대 뽀잉2': 'K02',
 '눈 건강 관리법': 'K09',
 '다니엘 타이거1': 'K02',
 '다이노 뽀로로': 'K09',
 '다이노 뽀로로2': 'K08',
 '다이노코어1': 'K07',
 '다이노코어2': 'K07',
 '다이노코어3': 'K06',
 '다이노포스(영어)': 'K05',
 '다큐동화 달팽이': 'K04',
 '달님이랑 달콩이랑 행복동요': 'K08',
 '달려라 호기심 친구들': 'K08',
 '대교상상동화': 'K02',
 '도와줘요 아이쿠': 'K01',
 '동물원 이야기': 'K01',
 '동물의 말': 'K02',
 '동물일기': 'K06',
 '동생이랑 나랑': 'K08',
 '동요구출작전': 'K06',
 '동화': 'K01',
 '동화나라의 세계명작 매직랜턴3': 'K08',
 '두근두근 궁금한 성': 'K06',
 '두근두근 학교에 가면': 'K05',
 '두다다쿵1': 'K04',
 '두다다쿵2': 'K07',
 '두다다쿵3: 신기한 동물탐험': 'K06',
 '두둠칫 아꼼': 'K09',
 '두리둥실 뭉게공항1': 'K05',
 '두리둥실 뭉게공항2': 'K08',
 '두리둥실 뭉게공항3': 'K02',
 '두키 탐험대2': 'K01',
 '둥실둥실 티니2': 'K06',
 '드라마로 배우는 알파벳': 'K01',
 '드래곤디 Dee Chat: 동물 달리기': 'K09',
 '드래곤디 나도 선생님': 'K08',
 '드래곤디 냠냠 간식 게임': 'K09',
 '드래곤디 냠냠간식송': 'K01',
 '드래곤디 니토이 내토이': 'K02',
 '드래곤디 동물 달리기송': 'K09',
 '드래곤디 동물 달리기송2': 'K02',
 '드래곤디 마더구스 인기전래동요': 'K07',
 '드래곤디 벨라 가족의 바람': 'K05',
 '드래곤디 벨라 가족의 절대송': 'K01',
 '드래곤디 사탕보다 달콤한 사랑 고백송': 'K07',
 '드래곤디 새해맞이 암기송': 'K02',
 '드래곤디 세계 나라 암기송': 'K01',
 '드래곤디 악땅 찾아라': 'K08',
 '드래곤디 애니멀 히어로즈': 'K09',
 '드래곤디 애니멀 히어로즈 게임': 'K01',
 '드래곤디 애니멀러쉬! 게임＆율동': 'K09',
 '드래곤디 와글와글 아기 동물송': 'K07',
 '드래곤디 위기탈출 랩배틀': 'K02',
 '드래곤디 율동 디디댄스': 'K01',
 '드래곤디 으스스 할로윈송': 'K09',
 '드래곤디 크리스마스 캐럴 시리즈': 'K05',
 '디즈니 프린세스': 'K07',
 '디즈니러닝': 'K09',
 '딩동댕 유치원(2016)': 'K06',
 '딩동댕 유치원(2017)': 'K07',
 '딩동댕 유치원(2018)': 'K02',
 '딩동댕 유치원(2019)': 'K06',
 '딩동댕 유치원(2020)': 'K06',
 '딩동댕 유치원(2021)': 'K07',
 '딩동댕 유치원(2022)': 'K02',
 '딩동댕 유치원(~2015)': 'K06',
 '딩동댕 친구들 장난감 나라의 비밀': 'K05',
 '딩딩코딩': 'K04',
 '딩딩코딩2': 'K04',
 '딩딩코딩3': 'K09',
 '딩딩코딩4': 'K04',
 '따개비루': 'K05',
 '따개비루(영어)': 'K08',
 '따끈따끈한 신작이 왔어요!': 'K06',
 '따르릉 비켜나세요': 'K08',
 '떠나볼까 랜선동물원': 'K09',
 '떠나요! 기이한 공룡탐험1': 'K02',
 '또깨비 가족': 'K05',
 '또깨비 가족 시즌2': 'K05',
 '또또랑 보물창고': 'K05',
 '또또바를 찾아라': 'K08',
 '또보는노부영': 'K03',
 '또봇 연대기 Part1 또봇의 시작': 'K09',
 '또봇V 2 Part1': 'K08',
 '또봇V 2 Part2': 'K05',
 '또봇V Part1': 'K07',
 '또봇V Part2': 'K06',
 '또봇V 갤럭시웨폰 4호의 비밀': 'K08',
 '똑게육아 올인원': 'K06',
 '똑딱똑딱': 'K08',
 '똑똑박사 에디1': 'K05',
 '똑똑박사 에디2': 'K05',
 '똑똑박사 에디동요1': 'K01',
 '똑똑박사 에디동요2': 'K01',
 '뚜기와 따기': 'K05',
 '뚜비뚜바 눈보리2': 'K04',
 '뚝딱뚝딱 발명왕': 'K08',
 '뚝딱맨': 'K06',
 '띠띠뽀 띠띠뽀1': 'K08',
 '띠띠뽀 띠띠뽀2': 'K01',
 '띠띠뽀 띠띠뽀3': 'K07',
 '띠띠뽀 세계인기동요': 'K08',
 '띠띠뽀 세계인기동요(영어)': 'K01',
 '띠띠뽀 율동동요': 'K01',
 '띠띠뽀 인기동요': 'K06',
 '띠띠뽀 클래식 동요': 'K06',
 '띠띠뽀 탐구생활': 'K09',
 '띠띠뽀 탐구생활(소장)': 'K09',
 '띠띠뽀 탐구생활2': 'K08',
 '띠띠뽀와 노래해요': 'K01',
 '띠띠뽀의 스토리＆송': 'K06',
 '띠띠뽀의 친구를 소개합니다': 'K08',
 '띠띠뽀의 친구를 소개합니다(소장)': 'K07',
 '띵동! 캐리있어요? 2': 'K06',
 '라바 리믹스': 'K05',
 '라바 인 뉴욕1': 'K02',
 '라바 인 뉴욕2': 'K08',
 '라바 인 뉴욕3': 'K02',
 '라바 인 뉴욕4': 'K05',
 '라바 키즈동요 PHONICS': 'K06',
 '라바1': 'K09',
 '라바2': 'K04',
 '라바와 함께 즐거운 게임': 'K09',
 '라바키즈 생활동요': 'K05',
 '라바키즈 생활동요(영어)': 'K04',
 '라바키즈 클레이 만들기': 'K01',
 '라바키즈 클레이 만들기(영어)': 'K09',
 '라바키즈 한국어 동요': 'K01',
 '라바키즈동요5': 'K01',
 '랄랄라 뿌우': 'K01',
 '럭키강이': 'K05',
 '레오와 티그1': 'K08',
 '레오와 티그2': 'K05',
 '레이의 우주대모험': 'K08',
 '레전드히어로 삼국전': 'K05',
 '로보카 폴리 교통안전 이야기': 'K08',
 '로보카 폴리1': 'K08',
 '로보카 폴리1(영어)': 'K08',
 '로보카 폴리2': 'K09',
 '로보카 폴리2(영어)': 'K02',
 '로보카 폴리3': 'K08',
 '로보카 폴리3(영어)': 'K07',
 '로보카 폴리4': 'K05',
 '로보카 폴리4(영어)': 'K09',
 '로보카 폴리5 Part1': 'K08',
 '로보카폴리 ABC 숫자공부 동요': 'K05',
 '로보카폴리 OST': 'K08',
 '로보카폴리 고니의 클레이 타운': 'K07',
 '로보카폴리 공룡동요': 'K08',
 '로보카폴리 공룡탐험': 'K08',
 '로보카폴리 교육 동요': 'K07',
 '로보카폴리 구조도구 퀴즈': 'K03',
 '로보카폴리 글로우컬러링': 'K08',
 '로보카폴리 놀이동요': 'K02',
 '로보카폴리 생활안전 이야기': 'K05',
 '로보카폴리 소방안전 뮤직비디오': 'K06',
 '로보카폴리 소방안전 이야기': 'K07',
 '로보카폴리 스스로 안전 캠페인(소방편)': 'K01',
 '로보카폴리 쏭쏭뮤지엄': 'K07',
 '로보카폴리 인기동요': 'K02',
 '로보카폴리 자동차동요': 'K08',
 '로보카폴리 자동차동요2': 'K08',
 '로보카폴리 크리스마스송': 'K01',
 '로보카폴리 크리스마스송(영어)': 'K08',
 '로보카폴리 크리스마스송2': 'K07',
 '로보카폴리 터치터치 율동체조(영어)': 'K08',
 '로보카폴리 터치터치 율동체조-율동편': 'K09',
 '로보카폴리 터치터치 율동체조-체조편': 'K05',
 '로보카폴리 토이폴리1': 'K08',
 '로보카폴리 토이폴리2': 'K02',
 '로보카폴리 토이폴리3': 'K08',
 '로보카폴리 해피할로윈': 'K09',
 '로봇트레인1': 'K06',
 '롤러코스터보이 노리': 'K07',
 '루시의 똑똑동화': 'K08',
 '루키로봇': 'K01',
 '리딩게이트': 'K05',
 '리키줌1': 'K06',
 '리틀베이비범 냠냠 동요': 'K01',
 '리틀베이비범 댄스댄스 송': 'K08',
 '리틀베이비범 동물 동요1': 'K01',
 '리틀베이비범 동물 동요2': 'K08',
 '리틀베이비범 동물 동요3': 'K05',
 '리틀베이비범 동물 동요4': 'K01',
 '리틀베이비범 러닝동요': 'K08',
 '리틀베이비범 바른습관동요': 'K08',
 '리틀베이비범 버스 동요1': 'K08',
 '리틀베이비범 버스 동요2': 'K08',
 '리틀베이비범 색과 모양 동요': 'K08',
 '리틀베이비범 생활 동요1': 'K05',
 '리틀베이비범 생활습관 동요': 'K06',
 '리틀베이비범 숫자 동요1': 'K09',
 '리틀베이비범 숫자 동요2': 'K06',
 '리틀베이비범 시즌 송': 'K09',
 '리틀베이비범 신나는 러닝쏭': 'K05',
 '리틀베이비범 자동차 동요': 'K08',
 '리틀베이비범 크리스마스 노래': 'K01',
 '리틀베이비범 퍼니퍼니 송1': 'K05',
 '리틀베이비범 퍼니퍼니 송2': 'K08',
 '리틀베이비범 퍼니퍼니 송3': 'K05',
 '리틀베이비범 해외 인기 동요1': 'K05',
 '리틀베이비범 해외 인기 동요10': 'K08',
 '리틀베이비범 해외 인기 동요2': 'K08',
 '리틀베이비범 해외 인기 동요3': 'K08',
 '리틀베이비범 해외 인기 동요4': 'K08',
 '리틀베이비범 해외 인기 동요5': 'K06',
 '리틀베이비범 해외 인기 동요6': 'K06',
 '리틀베이비범 해외 인기 동요7': 'K04',
 '리틀베이비범 해외 인기 동요8': 'K08',
 '리틀베이비범 해외 인기 동요9': 'K08',
 '리틀베이비범 해외동화 베스트': 'K06',
 '리틀베이비범과 함께하는 ABC': 'K06',
 '리틀베이비범과 함께하는 ABC2': 'K06',
 '리틀스톤즈': 'K02',
 '리틀스톤즈(소장)': 'K06',
 '리틀투니 인기동요 노래방': 'K08',
 '리틀투니 인기동요1': 'K04',
 '마녀스쿨': 'K04',
 '마법버스 타요': 'K08',
 '마법천자문1': 'K09',
 '마샤와 곰1': 'K02',
 '마샤와 곰2': 'K05',
 '마샤와 곰3': 'K08',
 '마샤와 노래해요': 'K02',
 '마샤의 무서운 이야기': 'K05',
 '마샤의 이야기': 'K01',
 '마이 리틀 포니 1': 'K08',
 '마이 리틀 포니 2': 'K08',
 '마이 리틀 포니 3': 'K09',
 '마이 리틀 포니 4': 'K04',
 '마이 리틀 포니 5': 'K09',
 '마이 리틀 포니 6': 'K04',
 '마이 리틀 포니 7': 'K08',
 '마이 리틀 포니 8': 'K04',
 '마인크래프트 이야기2: 반이와 바로의 마인크래프트 이야기 1': 'K08',
 '마카앤로니': 'K04',
 '만 3세를 위한 영상': 'K09',
 '만 4세를 위한 영상': 'K09',
 '만 5세를 위한 영상': 'K09',
 '만들어 볼까요': 'K04',
 '만렙키즈1': 'K09',
 '말이 늦은 아이 속이 타는 부모': 'K01',
 '먹보공룡 티노': 'K07',
 '메탈리온 1 Part1': 'K09',
 '메탈리온 1 Part2': 'K06',
 '메탈리온 2 Part1': 'K08',
 '메탈리온 2 Part2': 'K08',
 '명탐정 피트1': 'K07',
 '명탐정 피트2': 'K08',
 '모두모두 쇼': 'K02',
 '모두보기': 'K08',
 '모모로운 생활1': 'K07',
 '모아모아 금융동화': 'K04',
 '모여라 딩동댕': 'K09',
 '모프의 위대한 모험': 'K07',
 '모험 이야기': 'K08',
 '몬스터 대소동1': 'K02',
 '몬스터 대소동3': 'K07',
 '몬스터 주식회사': 'K08',
 '몬카트': 'K05',
 '몰랑': 'K09',
 '몸도 튼튼, 마음도 튼튼': 'K01',
 '못말리는 어린 양 숀3': 'K01',
 '못말리는 어린 양 숀4': 'K09',
 '무스티': 'K07',
 '문정아 중국어': 'K05',
 '뭐든지 뮤직박스1': 'K04',
 '뭐든지 뮤직박스2': 'K05',
 '뭐든지 뮤직박스3': 'K05',
 '뮤지컬 헬로카봇 5: 별똥별을 지켜라!': 'K05',
 '미니특공대 슈퍼공룡파워 Part1': 'K09',
 '미니특공대 슈퍼공룡파워 Part2': 'K05',
 '미니특공대 율동 동요1': 'K05',
 '미니특공대 율동 동요2': 'K06',
 '미니특공대 키즈 놀이1': 'K06',
 '미니특공대 키즈 놀이2': 'K03',
 '미니특공대 키즈 놀이3': 'K08',
 '미니특공대 프리스쿨1': 'K05',
 '미니특공대 프리스쿨2': 'K06',
 '미니특공대 프리스쿨3': 'K05',
 '미니특공대X Part1': 'K08',
 '미니특공대X Part2: 펜타트론': 'K09',
 '미술탐험대': 'K07',
 '미오마오': 'K04',
 '미키와 친구들': 'K08',
 '미피의 모험': 'K01',
 '바나나를 탄 끼끼<음악>': 'K04',
 '바나나를 탄 끼끼<한글>': 'K04',
 '바나나차차': 'K09',
 '바나나차차 뮤직비디오': 'K01',
 '바나나차차 뮤직비디오2': 'K07',
 '바나나차차 율동해요': 'K01',
 '바다 탐험대 옥토넛 움직이는 동화': 'K06',
 '바다 탐험대 옥토넛 캐릭터 그리기': 'K08',
 '바다나무 너서리 라임 컬렉션': 'K06',
 '바다나무 베이비 팝 컬렉션(영어)': 'K01',
 '바다나무 생활동요 sing': 'K06',
 '바다나무 어휘 학습 컬렉션(영어)': 'K01',
 '바다나무 영어로 놀아요': 'K05',
 '바다나무 카뎃 (영어)': 'K05',
 '바다의 비밀': 'K05',
 '바다탐험대 옥토넛 탐험선 보고': 'K08',
 '바다탐험대 옥토넛1': 'K07',
 '바다탐험대 옥토넛1 (영어)': 'K05',
 '바다탐험대 옥토넛2': 'K08',
 '바다탐험대 옥토넛2 (영어)': 'K06',
 '바다탐험대 옥토넛2(소장)': 'K05',
 '바다탐험대 옥토넛3': 'K08',
 '바다탐험대 옥토넛3 (영어)': 'K08',
 '바다탐험대 옥토넛4': 'K08',
 '바닷속 친구들': 'K01',
 '반짝반짝 달님이': 'K07',
 '방귀대장 뿡뿡이(2011-12)': 'K02',
 '방귀대장 뿡뿡이(2013-14)': 'K06',
 '방귀대장 뿡뿡이(2015-16)': 'K06',
 '방귀대장 뿡뿡이(2017)': 'K08',
 '방귀대장 뿡뿡이(2020)': 'K07',
 '방귀대장 뿡뿡이(2021)': 'K09',
 '버블버블 마린': 'K01',
 '베리와 안녕이의 슬기로운 탐구생활': 'K08',
 '베베 뮤직스토리': 'K06',
 '베베 생활습관': 'K07',
 '베베 신체표현': 'K01',
 '베베 아이놀이': 'K07',
 '베베 엄마와 놀이': 'K01',
 '베베 창의발화': 'K01',
 '베스트셀러': 'K04',
 '베이비돌리와 장난감 친구들1': 'K05',
 '베이비돌리와 장난감 친구들2': 'K08',
 '베이비돌리와 장난감 친구들3': 'K07',
 '베이비돌리와 장난감 친구들4': 'K02',
 '베이비버스': 'K05',
 '베이비버스 감정 표현 동요': 'K09',
 '베이비버스 감정 표현 동요2': 'K05',
 '베이비버스 공룡동요': 'K01',
 '베이비버스 공룡동요2': 'K07',
 '베이비버스 교통수단 동요': 'K08',
 '베이비버스 교통수단 동요 레드(영어)': 'K07',
 '베이비버스 교통수단 동요 블루(영어)': 'K08',
 '베이비버스 교통수단 동요2': 'K09',
 '베이비버스 교통수단 동요3': 'K07',
 '베이비버스 구조대 동요(영어)': 'K08',
 '베이비버스 기차동요': 'K09',
 '베이비버스 동계올림픽 동요': 'K01',
 '베이비버스 동화1': 'K06',
 '베이비버스 동화2': 'K06',
 '베이비버스 마법숫자동화': 'K06',
 '베이비버스 명절동요': 'K07',
 '베이비버스 몬스터차 동요 레드(영어)': 'K07',
 '베이비버스 몬스터차 동요 블루(영어)': 'K06',
 '베이비버스 몬스터트럭 동요': 'K07',
 '베이비버스 몬스터트럭 동요2': 'K01',
 '베이비버스 뮤직비디오': 'K06',
 '베이비버스 바다동물동요': 'K08',
 '베이비버스 배워봐요 자동차': 'K09',
 '베이비버스 버디월드': 'K05',
 '베이비버스 베이비키키동화': 'K08',
 '베이비버스 생활 습관 동요 레드(영어)': 'K05',
 '베이비버스 생활 안전 동요 그린(영어)': 'K02',
 '베이비버스 생활 안전 동요 레드(영어)': 'K09',
 '베이비버스 생활안전동요': 'K01',
 '베이비버스 생활안전동요2': 'K07',
 '베이비버스 생활안전동요3': 'K04',
 '베이비버스 생활인지동요': 'K04',
 '베이비버스 세균동요': 'K05',
 '베이비버스 스토리동화1': 'K05',
 '베이비버스 스토리동화2': 'K02',
 '베이비버스 어드벤처1': 'K03',
 '베이비버스 어드벤처2': 'K08',
 '베이비버스 어드벤처3': 'K02',
 '베이비버스 역할놀이동요': 'K06',
 '베이비버스 음식동요': 'K09',
 '베이비버스 음식동요2': 'K07',
 '베이비버스 음식동요3': 'K05',
 '베이비버스 음식친구 동화': 'K02',
 '베이비버스 인기 동요 레드(영어)': 'K08',
 '베이비버스 인기 동요 블루(영어)': 'K09',
 '베이비버스 인기동요1': 'K05',
 '베이비버스 인기동요2': 'K09',
 '베이비버스 인기동요3': 'K09',
 '베이비버스 인지발달동요': 'K09',
 '베이비버스 일상생활동요': 'K02',
 '베이비버스 좋은습관동요1': 'K05',
 '베이비버스 좋은습관동요2(3D)': 'K01',
 '베이비버스 좋은습관동요3(3D)': 'K02',
 '베이비버스 좋은습관동요4': 'K02',
 '베이비버스 직업그림책 동화': 'K05',
 '베이비버스 직업체험 동요 레드(영어)': 'K02',
 '베이비버스 직업체험 동요 블루(영어)': 'K09',
 '베이비버스 직업체험 동요 옐로우(영어)': 'K05',
 '베이비버스 직업체험동요1': 'K08',
 '베이비버스 직업체험동요2': 'K02',
 '베이비버스 직업체험동요3': 'K07',
 '베이비버스 직업체험동요4': 'K02',
 '베이비버스 크리스마스동요': 'K09',
 '베이비버스 키키묘묘구조대': 'K01',
 '베이비버스 키키묘묘구조대 동요': 'K09',
 '베이비버스 키키묘묘구조대 동요2': 'K03',
 '베이비버스 할로윈 동요': 'K03',
 '베이비버스 할로윈 동요2': 'K09',
 '베이비버스 행복한 가족 동요': 'K04',
 '베이비버스 환경보호 동요': 'K02',
 '변신기차 로봇트레인S2': 'K05',
 '변신로봇5 시즌3': 'K09',
 '변신로봇5 시즌4': 'K08',
 '변신자동차 또봇 미션여행': 'K09',
 '변신자동차 또봇1': 'K07',
 '변신자동차 또봇10': 'K06',
 '변신자동차 또봇11': 'K08',
 '변신자동차 또봇12': 'K06',
 '변신자동차 또봇13': 'K04',
 '변신자동차 또봇14': 'K09',
 '변신자동차 또봇15': 'K06',
 '변신자동차 또봇16': 'K08',
 '변신자동차 또봇17': 'K08',
 '변신자동차 또봇17(소장)': 'K08',
 '변신자동차 또봇18': 'K09',
 '변신자동차 또봇19': 'K08',
 '변신자동차 또봇2': 'K08',
 '변신자동차 또봇3': 'K06',
 '변신자동차 또봇4': 'K09',
 '변신자동차 또봇5': 'K06',
 '변신자동차 또봇6': 'K06',
 '변신자동차 또봇8': 'K06',
 '변신자동차 또봇9': 'K06',
 '별별 패밀리': 'K04',
 '보글보글': 'K01',
 '보글보글 율동해요': 'K01',
 '보리스': 'K02',
 '보물을 찾아라!': 'K09',
 '보보1': 'K02',
 '보보2': 'K07',
 '보이즈앤걸즈 스페셜': 'K09',
 '볼쇼이 발레단의 심장을 가다': 'K05',
 '볼츠와 블립': 'K04',
 '봉구야 말해줘2': 'K05',
 '봉구야 말해줘3': 'K04',
 '부릉부릉 부르미즈3': 'K08',
 '부릉부릉 부르미지1': 'K02',
 '부릉부릉 부르미지2': 'K02',
 '부모베스트': 'K07',
 '브룸스타운 극장: 로보카폴리 이솝우화': 'K04',
 '블루피스': 'K04',
 '빛나는 나라1': 'K09',
 '빼꼼1': 'K09',
 '빼꼼2': 'K01',
 '빼꼼3': 'K08',
 '뽀글아 사랑해1': 'K08',
 '뽀로로 ABC': 'K05',
 '뽀로로 ㄱㄴㄷ 한글놀이': 'K07',
 '뽀로로 ㅏㅑㅓㅕ 한글놀이': 'K06',
 '뽀로로 가나다라 이야기책': 'K07',
 '뽀로로 감정동화': 'K09',
 '뽀로로 겨울동요': 'K01',
 '뽀로로 곤충동요': 'K09',
 '뽀로로 공룡놀이1': 'K08',
 '뽀로로 공룡놀이1(영어)': 'K03',
 '뽀로로 공룡놀이2': 'K08',
 '뽀로로 공룡송 모음': 'K09',
 '뽀로로 공룡송 모음2': 'K02',
 '뽀로로 교통안전동요': 'K02',
 '뽀로로 나도나도 동요': 'K01',
 '뽀로로 놀면 뭐하니?': 'K04',
 '뽀로로 동물 동요': 'K08',
 '뽀로로 동물 율동해요': 'K07',
 '뽀로로 동요 메들리': 'K05',
 '뽀로로 동화나라': 'K01',
 '뽀로로 동화동요': 'K05',
 '뽀로로 말놀이 수놀이 동요': 'K01',
 '뽀로로 뮤직박스': 'K05',
 '뽀로로 뮤직비디오1': 'K09',
 '뽀로로 뮤직비디오2': 'K09',
 '뽀로로 뮤직비디오3': 'K01',
 '뽀로로 미니동화': 'K08',
 '뽀로로 바다동물 동요': 'K02',
 '뽀로로 베이비동요': 'K01',
 '뽀로로 변신직업놀이': 'K07',
 '뽀로로 병원놀이 동요': 'K09',
 '뽀로로 병원놀이 동요(영어)': 'K08',
 '뽀로로 병원놀이 동화': 'K02',
 '뽀로로 병원에 놀러가요': 'K07',
 '뽀로로 상어동요': 'K01',
 '뽀로로 생생태권댄스': 'K01',
 '뽀로로 생활습관 동요1': 'K09',
 '뽀로로 생활습관 동요2': 'K09',
 '뽀로로 설날 키즈팝 콘서트': 'K04',
 '뽀로로 세계명작 동화1': 'K05',
 '뽀로로 세계명작 동화2': 'K08',
 '뽀로로 소리동요': 'K06',
 '뽀로로 스페셜 동화': 'K04',
 '뽀로로 안전캠페인': 'K05',
 '뽀로로 여름놀이 동요': 'K06',
 '뽀로로 영어율동 동요': 'K09',
 '뽀로로 율동동요': 'K01',

In [63]:
new_chi_try = new_chi_fu.fillna('nan')
new_chi_try

       album_id   sub_title ch_int
0           749    꼬마버스 타요1    K08
1           750    꼬마버스 타요1    K08
2          2131    꼬마버스 타요1    K08
3          2625    꼬마버스 타요1    K08
4          2594    꼬마버스 타요1    K08
...         ...         ...    ...
39870     39872  로티프렌즈 미술놀이    nan
39871     39873  로티프렌즈 미술놀이    nan
39872     39874  로티프렌즈 미술놀이    nan
39873      4779        4-5세    nan
39874     11629  베이비 타요 동요2    nan

[39875 rows x 3 columns]

In [60]:
new_chi_try.loc[new_chi_try['ch_int'] == 'nan']
# 현재 결측 19514

       album_id   sub_title ch_int
26        26077   변신자동차 또봇2    nan
27        26078   변신자동차 또봇2    nan
28        26079   변신자동차 또봇2    nan
30        26080   변신자동차 또봇1    nan
31        13771   변신자동차 또봇1    nan
...         ...         ...    ...
39870     39872  로티프렌즈 미술놀이    nan
39871     39873  로티프렌즈 미술놀이    nan
39872     39874  로티프렌즈 미술놀이    nan
39873      4779        4-5세    nan
39874     11629  베이비 타요 동요2    nan

[19514 rows x 3 columns]

In [64]:
cnt = 0
for i in new_chi_try.itertuples():
    if i[3] == 'nan':
        if i[2] in meta_subtitle_key_dict.keys():
            new_chi_try.loc[i[0], 'ch_int'] = meta_subtitle_key_dict[i[2]]
        else:
            cnt += 1

In [65]:
new_chi_try

       album_id   sub_title ch_int
0           749    꼬마버스 타요1    K08
1           750    꼬마버스 타요1    K08
2          2131    꼬마버스 타요1    K08
3          2625    꼬마버스 타요1    K08
4          2594    꼬마버스 타요1    K08
...         ...         ...    ...
39870     39872  로티프렌즈 미술놀이    nan
39871     39873  로티프렌즈 미술놀이    nan
39872     39874  로티프렌즈 미술놀이    nan
39873      4779        4-5세    K03
39874     11629  베이비 타요 동요2    nan

[39875 rows x 3 columns]

In [66]:
cnt

4747

In [357]:
meta_genre_with_keyowrd

       album_id genre_mid pr_int
0           749      TV만화    P04
1           750      TV만화    P04
2          2131      TV만화    P04
3          2625      TV만화    P04
4          2594      TV만화    P04
...         ...       ...    ...
39850      6302        한글    P08
39851      6303        한글    P08
39852      6309        한글    P08
39853      6310        한글    P08
39854      8264        한글    P08

[39855 rows x 3 columns]

In [67]:
g_chi_try = pd.merge(new_chi_try, meta_genre_with_keyowrd[['album_id', 'genre_mid']], on = 'album_id', how = 'left')
g_chi_try

       album_id   sub_title ch_int genre_mid
0           749    꼬마버스 타요1    K08      TV만화
1           750    꼬마버스 타요1    K08      TV만화
2          2131    꼬마버스 타요1    K08      TV만화
3          2625    꼬마버스 타요1    K08      TV만화
4          2594    꼬마버스 타요1    K08      TV만화
...         ...         ...    ...       ...
39870     39872  로티프렌즈 미술놀이    nan      놀이교실
39871     39873  로티프렌즈 미술놀이    nan      놀이교실
39872     39874  로티프렌즈 미술놀이    nan      놀이교실
39873      4779        4-5세    K03         책
39874     11629  베이비 타요 동요2    nan      노래율동

[39875 rows x 4 columns]

In [68]:
for i in g_chi_try[0:2].itertuples():
    print(i)

Pandas(Index=0, album_id=749, sub_title='꼬마버스 타요1', ch_int='K08', genre_mid='TV만화')
Pandas(Index=1, album_id=750, sub_title='꼬마버스 타요1', ch_int='K08', genre_mid='TV만화')

In [70]:
genre_cnt = 0
execption = 0
for i in g_chi_try.itertuples():
    if i[3] == 'nan':
        genre_cnt += 1
        if i[4] in ch_genre_dict['ch_int'].keys():
            g_chi_try.loc[i[0], 'ch_int'] = ch_genre_dict['ch_int'][i[4]]
        else:
            g_chi_try.loc[i[0], 'ch_int'] = 'K01'
            print(i)
            execption += 1

Pandas(Index=14296, album_id=32755, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')
Pandas(Index=14297, album_id=32756, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')
Pandas(Index=14298, album_id=32757, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')
Pandas(Index=14299, album_id=32758, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')
Pandas(Index=14300, album_id=32759, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')
Pandas(Index=14301, album_id=32760, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')
Pandas(Index=14302, album_id=32761, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')
Pandas(Index=14303, album_id=32762, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')
Pandas(Index=14304, album_id=32763, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')
Pandas(Index=14305, album_id=32764, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')
Pandas(Index=14306, album_id=32765, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')
Pandas(Index=14307, album_id=32766, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')
Pandas(Index=14723, album_id=33008, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')
Pandas(Index=14724, album_id=33009, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')
Pandas(Index=14728, album_id=33010, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')
Pandas(Index=14729, album_id=33011, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')
Pandas(Index=14730, album_id=33012, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')
Pandas(Index=14731, album_id=33013, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')
Pandas(Index=14732, album_id=33014, sub_title='교육상식', ch_int='nan', genre_mid='휴먼/감동')

In [71]:
ch_key_max = g_chi_try[['album_id', 'ch_int']]

In [80]:
ch_key_max['ch_int'].value_counts()

K08    7825
K06    7470
K09    4756
K07    4643
K05    4005
K02    3641
K01    3408
K04    3184
K03     943
Name: ch_int, dtype: int64

In [81]:
import pickle
with open('ch_key_for_all_item.pickle', 'wb') as f:
    pickle.dump(ch_key_max, f)

In [74]:
genre_cnt

4747

In [77]:
ch_genre_dict['ch_int'].keys()

dict_keys(['MCN', 'TV만화', '극장판 애니', '노래 율동', '노래율동', '놀이교실', '다큐멘터리', '독서동화', '드라마', '수학과학', '시리즈', '시사교양', '애니', '액션/모험', '어린이방송', '역사/문화', '연예오락', '예능', '예술', '외국어', '유아애니', '육아정보', '창의학습', '책', '체육안전', '코미디', '한글', '한자'])

In [410]:
meta_df.genre_mid.value_counts()
# 29개

놀이교실      11084
TV만화      10873
노래율동       7555
외국어        3342
애니         2110
예능         1719
책          1352
창의학습        799
액션/모험       701
유아애니        537
드라마         455
시리즈         390
독서동화        350
육아정보        308
시사교양        212
노래 율동       166
MCN          93
코미디          80
어린이방송        79
다큐멘터리        72
연예오락         62
수학과학         60
한글           60
역사/문화        38
한자           38
예술           21
휴먼/감동        20
극장판 애니       13
체육안전         13
Name: genre_mid, dtype: int64

In [75]:
execption

19

In [369]:
genre_cnt

4728

In [73]:
g_chi_try.loc[g_chi_try['ch_int'] == 'nan']

Empty DataFrame
Columns: [album_id, sub_title, ch_int, genre_mid]
Index: []