## 데이터 전처리
### 기본 설정

In [1]:
# 패키지 로드
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
from sklearn.model_selection import train_test_split
from collections import defaultdict
import os, random

from scipy import sparse
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
%matplotlib inline

import torch
import torch.nn as nn
from torch.nn.init import normal_
from torch.utils.data import TensorDataset, DataLoader
import torch.nn.functional as F

import plotnine
from plotnine import *

In [2]:
# 경로 설정
data_path = './data'
saved_path = './code/saved'
output_path = './code/submission'

In [3]:
# 데이터 불러오기 
history_df = pd.read_csv(os.path.join(data_path, 'history_data.csv'), encoding='utf-8')
search_df = pd.read_csv(os.path.join(data_path, 'search_data.csv'), encoding='utf-8')
profile_df = pd.read_csv(os.path.join(data_path, 'profile_data.csv'), encoding='utf-8')
meta_df = pd.read_csv(os.path.join(data_path, 'meta_data.csv'), encoding='utf-8')
we_df = pd.read_csv(os.path.join(data_path, 'watch_e_data.csv'), encoding='utf-8')
buy_df = pd.read_csv(os.path.join(data_path, 'buy_data.csv'), encoding='utf-8')

In [ ]:
history_df.drop_duplicates(['profile_id', 'album_id'])

In [242]:
history_df.groupby(['profile_id', 'album_id', 'short_trailer']).count()

                                   ss_id  log_time  act_target_dtl  payment  \
profile_id album_id short_trailer
3          15       N                  1         1               1        0
           16       N                  1         1               1        0
           17       N                  1         1               1        0
           18       N                  1         1               1        0
           19       N                  1         1               1        0
...                                  ...       ...             ...      ...
33032      7105     N                 21        21              21        0
           8910     N                  1         1               1        0
           14662    Y                  1         1               1        0
           14663    Y                  2         2               2        0
           14665    Y                  1         1               1        0

                                   continuous_play
profile_id album_id short_trailer
3          15       N                            1
           16       N                            1
           17       N                            1
           18       N                            1
           19       N                            1
...                                            ...
33032      7105     N                           21
           8910     N                            1
           14662    Y                            1
           14663    Y                            2
           14665    Y                            1

[381161 rows x 5 columns]

In [231]:
history_df.loc[history_df['short_trailer'] == 'Y']

,profile_id,ss_id,log_time,act_target_dtl,album_id,payment,continuous_play,short_trailer
20,3,20220301115653,20220301123505,MKID003,33,NaN,Y,Y
123,5,20220309185728,20220309195543,MKID003,138,NaN,Y,Y
144,5,20220313130615,20220313131521,MKID003,150,NaN,Y,Y
156,5,20220318212718,20220318212809,MKID003,159,NaN,Y,Y
157,5,20220318212718,20220318212811,MKID003,160,NaN,Y,Y
...,...,...,...,...,...,...,...,...
1005593,33032,20220427112116,20220427112335,MKID003,14662,NaN,Y,Y
1005594,33032,20220427112116,20220427112369,MKID003,14663,NaN,Y,Y
1005595,33032,20220427112116,20220427112384,MKID003,14663,NaN,Y,Y
1005596,33032,20220427112116,20220427112394,MKID003,7010,NaN,Y,Y
1005598,33032,20220427112116,20220427112455,MKID003,675,NaN,Y,Y

In [268]:
short = history_df[['profile_id', 'album_id', 'short_trailer']].drop_duplicates(['profile_id', 'album_id', 'short_trailer'])

In [269]:
short

         profile_id  album_id short_trailer
0                 3        15             N
1                 3        16             N
2                 3        17             N
3                 3        18             N
4                 3        19             N
...             ...       ...           ...
1005610       33032      2133             N
1005616       33032       190             N
1005623       33032       381             N
1005637       33032       327             N
1005642       33032       375             N

[381161 rows x 3 columns]

In [272]:
# 예고편을 시청한 사용자 -> 18047건
short.drop_duplicates(['profile_id', 'album_id']).loc[short['short_trailer'] == 'Y']

# 그 중 612건만이 실제 시청으로 이어짐?

         profile_id  album_id short_trailer
20                3        33             Y
123               5       138             Y
144               5       150             Y
156               5       159             Y
157               5       160             Y
...             ...       ...           ...
1005592       33032     14665             Y
1005593       33032     14662             Y
1005594       33032     14663             Y
1005596       33032      7010             Y
1005598       33032       675             Y

[18047 rows x 3 columns]

In [ ]:
short.pro

In [10]:
history_df.payment.describe()

count    73486.000000
mean      2117.477207
std       3612.951558
min        300.000000
25%        500.000000
50%        500.000000
75%       1400.000000
max      25000.000000
Name: payment, dtype: float64

In [6]:
buy_df

,profile_id,ss_id,log_time,act_target_dtl,album_id,payment
0,255,20220426153942,20220426154128,MKID004,3767,500
1,1603,20220309163919,20220309164043,MKID004,1640,300
2,5303,20220411080324,20220411082725,MKID004,3821,500
3,5303,20220411080324,20220411084013,MKID004,3822,500
4,5303,20220411080324,20220411085607,MKID004,3823,500
...,...,...,...,...,...,...
145,23882,20220421182514,20220421185231,MKID004,7441,300
146,23882,20220421182514,20220421185510,MKID004,8749,1200
147,31509,20220409115246,20220409115347,MKID004,19906,500
148,31837,20220427143436,20220427143618,MKID004,1640,300
149,32528,20220402103913,20220402104848,MKID004,21237,300

In [230]:
history_df

,profile_id,ss_id,log_time,act_target_dtl,album_id,payment,continuous_play,short_trailer
0,3,20220301115653,20220301115719,MKID003,15,NaN,Y,N
1,3,20220301115653,20220301115809,MKID003,16,NaN,Y,N
2,3,20220301115653,20220301115958,MKID003,17,NaN,Y,N
3,3,20220301115653,20220301120118,MKID003,18,NaN,Y,N
4,3,20220301115653,20220301120229,MKID003,19,NaN,Y,N
...,...,...,...,...,...,...,...,...
1005646,33032,20220427155091,20220427155668,MKID003,381,NaN,Y,N
1005647,33032,20220427155091,20220427155680,MKID003,381,NaN,Y,N
1005648,33032,20220427155839,20220427155810,MKID003,125,NaN,Y,N
1005649,33032,20220427155706,20220427155838,MKID003,125,NaN,Y,N
1005650,33032,20220427155865,20220427155891,MKID003,381,NaN,N,N

In [251]:
history_df.loc[history_df['short_trailer'] == 'Y']

,profile_id,ss_id,log_time,act_target_dtl,album_id,payment,continuous_play,short_trailer
20,3,20220301115653,20220301123505,MKID003,33,NaN,Y,Y
123,5,20220309185728,20220309195543,MKID003,138,NaN,Y,Y
144,5,20220313130615,20220313131521,MKID003,150,NaN,Y,Y
156,5,20220318212718,20220318212809,MKID003,159,NaN,Y,Y
157,5,20220318212718,20220318212811,MKID003,160,NaN,Y,Y
...,...,...,...,...,...,...,...,...
1005593,33032,20220427112116,20220427112335,MKID003,14662,NaN,Y,Y
1005594,33032,20220427112116,20220427112369,MKID003,14663,NaN,Y,Y
1005595,33032,20220427112116,20220427112384,MKID003,14663,NaN,Y,Y
1005596,33032,20220427112116,20220427112394,MKID003,7010,NaN,Y,Y
1005598,33032,20220427112116,20220427112455,MKID003,675,NaN,Y,Y

In [261]:
a = history_df.groupby(['profile_id', 'album_id']).nunique().short_trailer.reset_index()

In [264]:
# 같은 사용자가 어떤 앨범을 예고편을 보고 본편을 봤다고 이해할 수 있는 경우 -> 614건..
a.loc[a['short_trailer'] == 2]

        profile_id  album_id  short_trailer
1702           101      1998              2
1792           103       124              2
1983           121      3001              2
1984           121      3002              2
2770           156       175              2
...            ...       ...            ...
377461       32595       175              2
378493       32725       442              2
379188       32791       478              2
379199       32791      2491              2
379200       32791      2492              2

[614 rows x 3 columns]

In [265]:
history_df.groupby(['profile_id', 'album_id']).cou

In [243]:
we_df['total_time'].describe()

count    892794.000000
mean        338.502926
std         346.333053
min          19.000000
25%         104.000000
50%         271.000000
75%         478.000000
max        8929.000000
Name: total_time, dtype: float64

In [250]:
meta_df.loc[meta_df['album_id']== 442]

,album_id,title,sub_title,genre_large,genre_mid,genre_small,country,run_time,onair_date,cast_1,cast_2,cast_3,cast_4,cast_5,cast_6,cast_7
40575,442,방아 찧는 호랑이,4-5세,키즈,책,NaN,한국,390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [244]:
we_df.loc[we_df['total_time'] == 19]

,profile_id,ss_id,log_time,act_target_dtl,album_id,watch_time,total_time,continuous_play
75578,2367,20220318081787,20220318101108,MKID049,2559,19,19,1
75858,2367,20220322193339,20220322194337,MKID049,2559,19,19,1
75910,2367,20220323092577,20220323094386,MKID049,2559,19,19,1
75911,2367,20220323092577,20220323094386,MKID049,2559,19,19,1
75912,2367,20220323092577,20220323094386,MKID049,2559,19,19,1
75913,2367,20220323092577,20220323094386,MKID049,2559,19,19,1
76088,2367,20220326084119,20220326123925,MKID049,2559,19,19,1
79135,2447,20220310073943,20220311064690,MKID049,2559,19,19,1
79136,2447,20220310073943,20220311064690,MKID049,2559,19,19,1
79137,2447,20220310073943,20220311064690,MKID049,2559,19,19,1
79138,2447,20220310073943,20220311064690,MKID049,2559,19,19,1
110242,2794,20220418164729,20220418180273,MKID049,2559,19,19,1
133814,3488,20220425182556,20220425183043,MKID049,2559,19,19,1
133815,3488,20220425182556,20220425183043,MKID049,2559,19,19,1
133816,3488,20220425182556,20220425183043,MKID049,2559,19,19,1
175639,4270,20220304181716,20220304183258,MKID049,2559,19,19,1
175640,4270,20220304181716,20220304183258,MKID049,2559,19,19,1
205359,5159,20220426210607,20220427213265,MKID049,4611,17,19,2
376772,10147,20220326120166,20220402173586,MKID049,2559,19,19,1
376789,10147,20220326120166,20220402175812,MKID049,2559,19,19,1
377499,10178,20220417130077,20220417130490,MKID049,2559,19,19,1
377510,10178,20220422195808,20220422200417,MKID049,2559,19,19,1
377512,10178,20220423165392,20220423165469,MKID049,2559,19,19,1
532488,15243,20220307095409,20220307095516,MKID049,2559,13,19,2
568248,16456,20220318090773,20220318090732,MKID049,2559,19,19,1

In [8]:
buy_df.shape

(150, 6)

In [7]:
buy_df.payment.describe()

count     150.000000
mean      706.000000
std       843.469186
min       300.000000
25%       300.000000
50%       500.000000
75%       500.000000
max      6300.000000
Name: payment, dtype: float64

## 장르와 키워드 사이의 관계 파악
- history_df에 앨범별 장르와 사용자별 부모키워드123, 아이키워드 123 병합

In [51]:
### 키워드 별 인원을 나타내기위해 하나로 모으기
keyword = profile_df[['profile_id',
                      'pr_interest_keyword_cd_1', 'pr_interest_keyword_cd_2', 'pr_interest_keyword_cd_3',
                      'ch_interest_keyword_cd_1', 'ch_interest_keyword_cd_2', 'ch_interest_keyword_cd_3']]

In [49]:
genre = meta_df[['album_id', 'genre_mid']].drop_duplicates('album_id')

In [50]:
genre

       album_id genre_mid
0           749      TV만화
1           750      TV만화
2          2131      TV만화
3          2625      TV만화
4          2594      TV만화
...         ...       ...
42596     39872      놀이교실
42597     39873      놀이교실
42598     39874      놀이교실
42599      4779         책
42601     11629      노래율동

[39875 rows x 2 columns]

In [52]:
keyword

,profile_id,pr_interest_keyword_cd_1,pr_interest_keyword_cd_2,pr_interest_keyword_cd_3,ch_interest_keyword_cd_1,ch_interest_keyword_cd_2,ch_interest_keyword_cd_3
0,3,P02,P04,P07,K01,K03,K04
1,5,P07,P08,P06,K05,K08,K09
2,7,P05,P03,NaN,K06,K04,NaN
3,12,P03,P06,P02,K09,K07,K03
4,16,P03,P06,P01,K01,K06,K04
...,...,...,...,...,...,...,...
8306,33022,P04,NaN,NaN,K04,K08,NaN
8307,33023,P06,P03,P07,K08,K04,K05
8308,33026,P01,P03,P08,K05,K09,K06
8309,33027,P04,P05,P06,K03,K01,K05
8310,33032,P03,P05,P07,K01,K05,K09

In [56]:
data = history_df.drop_duplicates(['profile_id', 'album_id'])[['profile_id', 'album_id']]

In [57]:
data

         profile_id  album_id
0                 3        15
1                 3        16
2                 3        17
3                 3        18
4                 3        19
...             ...       ...
1005610       33032      2133
1005616       33032       190
1005623       33032       381
1005637       33032       327
1005642       33032       375

[380547 rows x 2 columns]

In [63]:
### data에 키워드 merge
k = pd.merge(data, keyword, on = 'profile_id')
new = pd.merge(k, genre, on = 'album_id')

In [64]:
new

,profile_id,album_id,pr_interest_keyword_cd_1,pr_interest_keyword_cd_2,pr_interest_keyword_cd_3,ch_interest_keyword_cd_1,ch_interest_keyword_cd_2,ch_interest_keyword_cd_3,genre_mid
0,3,15,P02,P04,P07,K01,K03,K04,노래율동
1,5,15,P07,P08,P06,K05,K08,K09,노래율동
2,22,15,P06,NaN,NaN,K01,NaN,NaN,노래율동
3,96,15,P06,P07,P04,K08,K03,K01,노래율동
4,101,15,P06,P07,P02,K01,K08,K02,노래율동
...,...,...,...,...,...,...,...,...,...
380542,32965,25913,P01,NaN,NaN,K01,K08,NaN,노래율동
380543,32965,17289,P01,NaN,NaN,K01,K08,NaN,노래율동
380544,32965,25914,P01,NaN,NaN,K01,K08,NaN,노래율동
380545,32965,25915,P01,NaN,NaN,K01,K08,NaN,노래율동
380546,32965,25916,P01,NaN,NaN,K01,K08,NaN,노래율동

In [78]:
cross.columns

Index(['P01', 'P02', 'P03', 'P04', 'P05', 'P06', 'P07', 'P08'], dtype='object', name='pr_interest_keyword_cd_1')

In [87]:
pr_key_dict = {'P01': '과학기술', 'P02': '정서/사회성', 'P03': '자연탐구', 'P04': '바른생활/안전',
               'P05': '활동/운동', 'P06': '음악예술', 'P07': '언어논리', 'P08': '수리논리'}

func = lambda x: pr_key_dict.get(x, x)

new['pr_key1'] = new.pr_interest_keyword_cd_1.map(func)
new['pr_key2'] = new.pr_interest_keyword_cd_2.map(func)
new['pr_key3'] = new.pr_interest_keyword_cd_3.map(func)

In [84]:
ch_key_dict = {'K01': '노래/율동', 'K02': '동물/식물', 'K03': '동화', 'K04': '만들기',
               'K05': '숫자/계산', 'K06': '외국어', 'K07': '친구/사람', 'K08': '탈것/기계', 'K09': '활동/운동'}

func1 = lambda x: ch_key_dict.get(x, x)

new['ch_key1'] = new.ch_interest_keyword_cd_1.map(func1)
new['ch_key2'] = new.ch_interest_keyword_cd_2.map(func1)
new['ch_key3'] = new.ch_interest_keyword_cd_3.map(func1)

In [89]:
new = new[['profile_id', 'album_id', 'genre_mid', 'pr_key1', 'pr_key2', 'pr_key3', 'ch_key1', 'ch_key2', 'ch_key3']]
new

,profile_id,album_id,genre_mid,pr_key1,pr_key2,pr_key3,ch_key1,ch_key2,ch_key3
0,3,15,노래율동,정서/사회성,바른생활/안전,언어논리,노래/율동,동화,만들기
1,5,15,노래율동,언어논리,수리논리,음악예술,숫자/계산,탈것/기계,활동/운동
2,22,15,노래율동,음악예술,NaN,NaN,노래/율동,NaN,NaN
3,96,15,노래율동,음악예술,언어논리,바른생활/안전,탈것/기계,동화,노래/율동
4,101,15,노래율동,음악예술,언어논리,정서/사회성,노래/율동,탈것/기계,동물/식물
...,...,...,...,...,...,...,...,...,...
380542,32965,25913,노래율동,과학기술,NaN,NaN,노래/율동,탈것/기계,NaN
380543,32965,17289,노래율동,과학기술,NaN,NaN,노래/율동,탈것/기계,NaN
380544,32965,25914,노래율동,과학기술,NaN,NaN,노래/율동,탈것/기계,NaN
380545,32965,25915,노래율동,과학기술,NaN,NaN,노래/율동,탈것/기계,NaN
380546,32965,25916,노래율동,과학기술,NaN,NaN,노래/율동,탈것/기계,NaN

In [204]:
user_df = profile_df
user_df.columns = ['profile_id', 'sex', 'age', 'pr_key1', 'pr_key2', 'pr_key3', 'ch_key1', 'ch_key2', 'ch_key3']

pr_key_dict = {'P01': '과학기술', 'P02': '정서/사회성', 'P03': '자연탐구', 'P04': '바른생활/안전',
               'P05': '활동/운동', 'P06': '음악예술', 'P07': '언어논리', 'P08': '수리논리'}

func = lambda x: pr_key_dict.get(x, x)

user_df['pr_key1'] = user_df.pr_key1.map(func)
user_df['pr_key2'] = user_df.pr_key2.map(func)
user_df['pr_key3'] = user_df.pr_key3.map(func)


ch_key_dict = {'K01': '노래/율동', 'K02': '동물/식물', 'K03': '동화', 'K04': '만들기',
               'K05': '숫자/계산', 'K06': '외국어', 'K07': '친구/사람', 'K08': '탈것/기계', 'K09': '활동/운동'}

func1 = lambda x: ch_key_dict.get(x, x)

user_df['ch_key1'] = user_df.ch_key1.map(func1)
user_df['ch_key2'] = user_df.ch_key2.map(func1)
user_df['ch_key3'] = user_df.ch_key3.map(func1)

user_df = user_df.fillna('nan')
user_df

      profile_id sex  age  pr_key1  pr_key2 pr_key3 ch_key1 ch_key2 ch_key3
0              3   F    5   정서/사회성  바른생활/안전    언어논리   노래/율동      동화     만들기
1              5   M    5     언어논리     수리논리    음악예술   숫자/계산   탈것/기계   활동/운동
2              7   F    9    활동/운동     자연탐구     nan     외국어     만들기     nan
3             12   M    6     자연탐구     음악예술  정서/사회성   활동/운동   친구/사람      동화
4             16   F   12     자연탐구     음악예술    과학기술   노래/율동     외국어     만들기
...          ...  ..  ...      ...      ...     ...     ...     ...     ...
8306       33022   M    1  바른생활/안전      nan     nan     만들기   탈것/기계     nan
8307       33023   M    5     음악예술     자연탐구    언어논리   탈것/기계     만들기   숫자/계산
8308       33026   F    8     과학기술     자연탐구    수리논리   숫자/계산   활동/운동     외국어
8309       33027   F    4  바른생활/안전    활동/운동    음악예술      동화   노래/율동   숫자/계산
8310       33032   F    5     자연탐구    활동/운동    언어논리   노래/율동   숫자/계산   활동/운동

[8311 rows x 9 columns]

In [189]:
pr_key_list = ['과학기술', '정서/사회성', '자연탐구', '바른생활/안전', '활동/운동', '음악예술', '언어논리', '수리논리']
ch_key_list = ['노래/율동', '동물/식물', '동화', '만들기', '숫자/계산', '외국어', '친구/사람', '탈것/기계', '활동/운동']

In [198]:
pr_dict = dict()
i = 0
for a, b in combinations(pr_key_list, 2):
    pr_dict[(a, b)] = i
    i += 1

for a in pr_key_list:
    pr_dict[(a, 'nan')] = i
    i += 1

ch_dict = dict()
i = 0
for a, b in combinations(ch_key_list, 2):
    ch_dict[(a, b)] = i
    i += 1

for a in ch_key_list:
    ch_dict[(a, 'nan')] = i
    i += 1

{('과학기술', '정서/사회성'): 0,
 ('과학기술', '자연탐구'): 1,
 ('과학기술', '바른생활/안전'): 2,
 ('과학기술', '활동/운동'): 3,
 ('과학기술', '음악예술'): 4,
 ('과학기술', '언어논리'): 5,
 ('과학기술', '수리논리'): 6,
 ('정서/사회성', '자연탐구'): 7,
 ('정서/사회성', '바른생활/안전'): 8,
 ('정서/사회성', '활동/운동'): 9,
 ('정서/사회성', '음악예술'): 10,
 ('정서/사회성', '언어논리'): 11,
 ('정서/사회성', '수리논리'): 12,
 ('자연탐구', '바른생활/안전'): 13,
 ('자연탐구', '활동/운동'): 14,
 ('자연탐구', '음악예술'): 15,
 ('자연탐구', '언어논리'): 16,
 ('자연탐구', '수리논리'): 17,
 ('바른생활/안전', '활동/운동'): 18,
 ('바른생활/안전', '음악예술'): 19,
 ('바른생활/안전', '언어논리'): 20,
 ('바른생활/안전', '수리논리'): 21,
 ('활동/운동', '음악예술'): 22,
 ('활동/운동', '언어논리'): 23,
 ('활동/운동', '수리논리'): 24,
 ('음악예술', '언어논리'): 25,
 ('음악예술', '수리논리'): 26,
 ('언어논리', '수리논리'): 27,
 ('과학기술', 'nan'): 28,
 ('정서/사회성', 'nan'): 29,
 ('자연탐구', 'nan'): 30,
 ('바른생활/안전', 'nan'): 31,
 ('활동/운동', 'nan'): 32,
 ('음악예술', 'nan'): 33,
 ('언어논리', 'nan'): 34,
 ('수리논리', 'nan'): 35}

In [216]:
user_df['pr_key_tuple'] = np.nan
user_df['ch_key_tuple'] = np.nan

for i in user_df.itertuples():
    if (i[4], i[5]) in pr_dict.keys():
        user_df['pr_key_tuple'][i[0]] = pr_dict[(i[4], i[5])]
    else:
        user_df['pr_key_tuple'][i[0]] = pr_dict[(i[5], i[4])]

for i in user_df.itertuples():
    if (i[7], i[8]) in ch_dict.keys():
        user_df['ch_key_tuple'][i[0]] = ch_dict[(i[7], i[8])]
    else:
        user_df['ch_key_tuple'][i[0]] = ch_dict[(i[8], i[7])]

user_df['ch_key_tuple'] = le.fit_transform(user_df['ch_key_tuple'])
user_df['pr_key_tuple'] = le.fit_transform(user_df['pr_key_tuple'])

In [227]:
user_df = user_df[['profile_id' ,'sex', 'age', 'pr_key_tuple', 'ch_key_tuple']]
user_df

      profile_id sex  age  pr_key_tuple  ch_key_tuple
0              3   F    5             8             1
1              5   M    5            27            28
2              7   F    9            14            22
3             12   M    6            15            34
4             16   F   12            15             4
...          ...  ..  ...           ...           ...
8306       33022   M    1            31            24
8307       33023   M    5            15            24
8308       33026   F    8             1            29
8309       33027   F    4            18             1
8310       33032   F    5            14             3

[8311 rows x 5 columns]

In [224]:
user_df['ch_key_tuple'].value_counts()

0     1166
1      816
36     649
8      332
15     317
2      304
4      291
9      271
6      270
17     265
16     225
38     222
26     204
37     194
3      191
13     168
39     165
21     165
43     164
7      154
5      141
35     110
11     104
19     103
22     102
44      99
10      97
41      89
25      82
14      81
28      75
31      75
23      73
12      71
18      64
40      60
24      59
29      52
42      51
20      46
30      35
32      29
34      28
33      27
27      25
Name: ch_key_tuple, dtype: int64

In [225]:
user_df['pr_key_tuple'].value_counts()

25    516
10    515
7     493
33    463
15    445
1     423
27    411
22    379
8     375
11    352
4     297
0     290
32    227
34    214
16    208
5     207
13    195
9     195
19    190
14    188
28    171
29    169
20    164
30    152
23    148
3     142
6     140
18    119
26    106
31     96
2      80
12     64
17     56
21     43
35     41
24     37
Name: pr_key_tuple, dtype: int64

In [113]:
# 38만 건 모두
new['ch_key1'].value_counts()

노래/율동    176223
동물/식물     50879
동화        44724
만들기       27848
탈것/기계     24475
외국어       22288
숫자/계산     16781
활동/운동     11230
친구/사람      6099
Name: ch_key1, dtype: int64

In [111]:
# 약 30만건
new['ch_key2'].value_counts()

동물/식물    70294
동화       58538
외국어      31636
노래/율동    30097
숫자/계산    28588
만들기      28297
탈것/기계    27510
활동/운동    16917
친구/사람    14298
Name: ch_key2, dtype: int64

In [109]:
# 약 27만건만 ch_key3 적용됨
new['ch_key3'].value_counts()

동화       45898
외국어      36455
탈것/기계    35070
숫자/계산    32568
활동/운동    31011
동물/식물    29611
친구/사람    24576
만들기      23403
노래/율동    18252
Name: ch_key3, dtype: int64

In [94]:
new['pr_key1'].value_counts()

정서/사회성     75484
음악예술       71757
자연탐구       54860
과학기술       50789
언어논리       47001
활동/운동      37536
바른생활/안전    32025
수리논리       11095
Name: pr_key1, dtype: int64

In [95]:
new['genre_mid'].value_counts()

노래율동      125069
TV만화      103275
책          73869
놀이교실       33553
외국어        21261
시리즈         4983
애니          4921
액션/모험       3354
노래 율동       1689
창의학습        1553
예능          1331
어린이방송       1200
독서동화        1134
코미디          721
MCN          379
유아애니         362
드라마          348
육아정보         330
한글           274
수학과학         270
다큐멘터리        237
극장판 애니       213
역사/문화        169
체육안전          23
시사교양          22
한자             4
예술             2
연예오락           1
Name: genre_mid, dtype: int64

In [97]:
meta_df.drop_duplicates('album_id').genre_mid.value_counts()

TV만화      10536
놀이교실      10433
노래율동       7000
외국어        2606
애니         2062
예능         1719
책          1151
창의학습        790
액션/모험       696
유아애니        536
드라마         452
시리즈         380
독서동화        313
육아정보        258
시사교양        203
노래 율동       129
MCN          91
코미디          80
어린이방송        79
연예오락         62
수학과학         60
한글           60
다큐멘터리        44
한자           38
역사/문화        35
예술           21
휴먼/감동        20
체육안전         13
극장판 애니        8
Name: genre_mid, dtype: int64

In [101]:
genre_ch1 = pd.crosstab(new['genre_mid'], new['ch_key1']).style.background_gradient(cmap='summer_r')
genre_ch1

In [105]:
genre_pr1 = pd.crosstab(new['genre_mid'], new['pr_key1']).style.background_gradient(cmap='summer_r')
genre_pr1

In [102]:
genre_ch2 = pd.crosstab(new['genre_mid'], new['ch_key2']).style.background_gradient(cmap='summer_r')
genre_ch2

In [103]:
genre_ch3 = pd.crosstab(new['genre_mid'], new['ch_key3']).style.background_gradient(cmap='summer_r')
genre_ch3

# 행동점수

In [6]:
behav_df = pd.read_csv('./behavior.csv', encoding='utf-8')

In [96]:
behav_df

        profile_id  album_id  start  yes_watch  buy  search
0                3        15    1.0        1.0  0.0     0.0
1                3        16    1.0        1.0  0.0     0.0
2                3        17    1.0        1.0  0.0     0.0
3                3        18    1.0        1.0  0.0     0.0
4                3        19    1.0        1.0  0.0     0.0
...            ...       ...    ...        ...  ...     ...
383809       32193      5391    0.0        0.0  0.0     1.0
383810       32193      2271    0.0        0.0  0.0     1.0
383811       32193     26071    0.0        0.0  0.0     1.0
383812       32193       551    0.0        0.0  0.0     1.0
383813       32935        92    0.0        0.0  0.0     1.0

[383814 rows x 6 columns]

In [97]:
# 시청시작 데이터는 없는데 시청시작은 있는 경우
behav_df.loc[(behav_df['start'] == 0) & (behav_df['yes_watch'] == 1)]

# 무려 2308건

        profile_id  album_id  start  yes_watch  buy  search
380548          30      3669    0.0        1.0  0.0     0.0
380549          96       849    0.0        1.0  0.0     0.0
380550         179      3168    0.0        1.0  0.0     0.0
380553         192      4324    0.0        1.0  0.0     0.0
380554         192      6978    0.0        1.0  0.0     0.0
...            ...       ...    ...        ...  ...     ...
383713       33016      4456    0.0        1.0  0.0     0.0
383716       33032       709    0.0        1.0  0.0     0.0
383726       33032      8838    0.0        1.0  0.0     0.0
383728       33032      2435    0.0        1.0  0.0     0.0
383731       33032     18334    0.0        1.0  0.0     0.0

[2308 rows x 6 columns]

In [113]:
behav_df.loc[(behav_df['start'] == 0) & (behav_df['buy'] == 1)]

Empty DataFrame
Columns: [profile_id, album_id, start, yes_watch, buy, search]
Index: []

In [119]:
behav_df.loc[(behav_df['start'] == 0) & (behav_df['search'] == 1)]
# 검색하여 시청에는 있는데, 시청 시작에는 없는 79개 행

        profile_id  album_id  start  yes_watch  buy  search
383735         551       782    0.0        0.0  0.0     1.0
383736        1639      5855    0.0        0.0  0.0     1.0
383737        1835      3838    0.0        0.0  0.0     1.0
383738        2629      9306    0.0        0.0  0.0     1.0
383739        3451      4054    0.0        0.0  0.0     1.0
...            ...       ...    ...        ...  ...     ...
383809       32193      5391    0.0        0.0  0.0     1.0
383810       32193      2271    0.0        0.0  0.0     1.0
383811       32193     26071    0.0        0.0  0.0     1.0
383812       32193       551    0.0        0.0  0.0     1.0
383813       32935        92    0.0        0.0  0.0     1.0

[79 rows x 6 columns]

In [116]:
behav_df.loc[(behav_df['buy'] == 1) & (behav_df['search'] == 1)]

        profile_id  album_id  start  yes_watch  buy  search
5889           411      5612    1.0        1.0  1.0     1.0
5894           411      5617    1.0        1.0  1.0     1.0
5914           411      5634    1.0        1.0  1.0     1.0
5917           411      5637    1.0        1.0  1.0     1.0
5918           411      5638    1.0        1.0  1.0     1.0
...            ...       ...    ...        ...  ...     ...
355665       30766     16106    1.0        0.0  1.0     1.0
370196       32012       673    1.0        1.0  1.0     1.0
372277       32184     20933    1.0        0.0  1.0     1.0
372279       32184      9589    1.0        0.0  1.0     1.0
372280       32184     21530    1.0        1.0  1.0     1.0

[388 rows x 6 columns]

In [121]:
behav_df.loc[(behav_df['search'] == 1) & (behav_df['buy'] == 1)]

        profile_id  album_id  start  yes_watch  buy  search
5889           411      5612    1.0        1.0  1.0     1.0
5894           411      5617    1.0        1.0  1.0     1.0
5914           411      5634    1.0        1.0  1.0     1.0
5917           411      5637    1.0        1.0  1.0     1.0
5918           411      5638    1.0        1.0  1.0     1.0
...            ...       ...    ...        ...  ...     ...
355665       30766     16106    1.0        0.0  1.0     1.0
370196       32012       673    1.0        1.0  1.0     1.0
372277       32184     20933    1.0        0.0  1.0     1.0
372279       32184      9589    1.0        0.0  1.0     1.0
372280       32184     21530    1.0        1.0  1.0     1.0

[388 rows x 6 columns]

In [100]:
history_df.loc[(history_df['profile_id'] == 30) & (history_df['album_id'] == 3669)]

Empty DataFrame
Columns: [profile_id, ss_id, log_time, act_target_dtl, album_id, payment, continuous_play, short_trailer]
Index: []

In [101]:
we_df.loc[(we_df['profile_id'] == 30) & (we_df['album_id'] == 3669)]

,profile_id,ss_id,log_time,act_target_dtl,album_id,watch_time,total_time,continuous_play
2866,30,20220408224805,20220408225585,MKID049,3669,184,186,1

In [105]:
behav_df.loc[behav_df['search'] == 1]
# 3613건 뿐

        profile_id  album_id  start  yes_watch  buy  search
1194            59      2141    1.0        0.0  0.0     1.0
1195            59       512    1.0        1.0  0.0     1.0
1196            59      2142    1.0        0.0  0.0     1.0
1197            59      2143    1.0        1.0  0.0     1.0
1204            59      2150    1.0        1.0  0.0     1.0
...            ...       ...    ...        ...  ...     ...
383809       32193      5391    0.0        0.0  0.0     1.0
383810       32193      2271    0.0        0.0  0.0     1.0
383811       32193     26071    0.0        0.0  0.0     1.0
383812       32193       551    0.0        0.0  0.0     1.0
383813       32935        92    0.0        0.0  0.0     1.0

[3613 rows x 6 columns]

In [106]:
behav_df.loc[behav_df['buy'] == 1]

        profile_id  album_id  start  yes_watch  buy  search
38               5        84    1.0        1.0  1.0     0.0
134              5       178    1.0        0.0  1.0     0.0
137              5       181    1.0        0.0  1.0     0.0
203              5       233    1.0        1.0  1.0     0.0
204              5       234    1.0        1.0  1.0     0.0
...            ...       ...    ...        ...  ...     ...
380529       33032       349    1.0        0.0  1.0     0.0
380530       33032       350    1.0        1.0  1.0     0.0
380532       33032       466    1.0        0.0  1.0     0.0
380537       33032       673    1.0        0.0  1.0     0.0
380539       33032       674    1.0        0.0  1.0     0.0

[23820 rows x 6 columns]

In [107]:
search_df

      profile_id           ss_id        log_time act_target_dtl  album_id
0             59  20220303183951  20220303183914        MKID017      2141
1             59  20220303183951  20220303183914        MKID017      2141
2             59  20220303183951  20220303183914        MKID017      2141
3             59  20220304181433  20220304181525        MKID017       512
4             59  20220304181433  20220304182447        MKID017      2141
...          ...             ...             ...            ...       ...
6469       32965  20220423161110  20220423164503        MKID017     23083
6470       32965  20220424065420  20220424065456        MKID017     15080
6471       32965  20220425073255  20220425073358        MKID017     15080
6472       32965  20220427062749  20220427063353        MKID017     16497
6473       32978  20220426222156  20220426222239        MKID017     11101

[6474 rows x 5 columns]

# make each profile_id's "continuous_play_ratio" variable

In [7]:
history_df

,profile_id,ss_id,log_time,act_target_dtl,album_id,payment,continuous_play,short_trailer
0,3,20220301115653,20220301115719,MKID003,15,NaN,Y,N
1,3,20220301115653,20220301115809,MKID003,16,NaN,Y,N
2,3,20220301115653,20220301115958,MKID003,17,NaN,Y,N
3,3,20220301115653,20220301120118,MKID003,18,NaN,Y,N
4,3,20220301115653,20220301120229,MKID003,19,NaN,Y,N
...,...,...,...,...,...,...,...,...
1005646,33032,20220427155091,20220427155668,MKID003,381,NaN,Y,N
1005647,33032,20220427155091,20220427155680,MKID003,381,NaN,Y,N
1005648,33032,20220427155839,20220427155810,MKID003,125,NaN,Y,N
1005649,33032,20220427155706,20220427155838,MKID003,125,NaN,Y,N
1005650,33032,20220427155865,20220427155891,MKID003,381,NaN,N,N

In [17]:
new_history = history_df

In [18]:
le = LabelEncoder()
new_history['continuous_play'] = le.fit_transform(new_history['continuous_play'])

In [19]:
new_history

,profile_id,ss_id,log_time,act_target_dtl,album_id,payment,continuous_play,short_trailer
0,3,20220301115653,20220301115719,MKID003,15,NaN,1,N
1,3,20220301115653,20220301115809,MKID003,16,NaN,1,N
2,3,20220301115653,20220301115958,MKID003,17,NaN,1,N
3,3,20220301115653,20220301120118,MKID003,18,NaN,1,N
4,3,20220301115653,20220301120229,MKID003,19,NaN,1,N
...,...,...,...,...,...,...,...,...
1005646,33032,20220427155091,20220427155668,MKID003,381,NaN,1,N
1005647,33032,20220427155091,20220427155680,MKID003,381,NaN,1,N
1005648,33032,20220427155839,20220427155810,MKID003,125,NaN,1,N
1005649,33032,20220427155706,20220427155838,MKID003,125,NaN,1,N
1005650,33032,20220427155865,20220427155891,MKID003,381,NaN,0,N

In [1]:
test = {'user_index_1':{'item_index_1': 1}}

In [4]:
test['user_index_1']['item_index_1']

1

In [97]:
new_history.loc[(new_history['profile_id'] == 33032) & (new_history['album_id'] == 8910)]

,profile_id,ss_id,log_time,act_target_dtl,album_id,payment,continuous_play,short_trailer
1005526,33032,20220426115550,20220426130410,MKID003,8910,NaN,0,N

In [21]:
new_history.continuous_play.cumsum()

0               1
1               2
2               3
3               4
4               5
            ...
1005646    889514
1005647    889515
1005648    889516
1005649    889517
1005650    889517
Name: continuous_play, Length: 1005651, dtype: int64

In [20]:
# continuous_play 기준으로 사용자의 각 아이템에 대한 연속 재생 횟수 누적합을 나타냄
def cum_sum_conti_play(group):
    group['play_cumsum'] = group.sort_values(
        by=['profile_id', 'album_id'], ascending=False).continuous_play.cumsum()
    return group

In [22]:
hist_d = new_history[['profile_id', 'album_id', 'continuous_play']]

In [25]:
hist_d = hist_d.groupby(['profile_id', 'album_id']).apply(cum_sum_conti_play)

In [34]:
hist_d

         profile_id  album_id  continuous_play  play_cumsum
0                 3        15                1            1
1                 3        16                1            1
2                 3        17                1            1
3                 3        18                1            1
4                 3        19                1            1
...             ...       ...              ...          ...
1005646       33032       381                1            6
1005647       33032       381                1            7
1005648       33032       125                1            5
1005649       33032       125                1            6
1005650       33032       381                0            7

[1005651 rows x 4 columns]

In [52]:
play_cumsum_max = pd.DataFrame(hist_d.groupby(['profile_id', 'album_id']).play_cumsum.max()).reset_index()

In [53]:
play_cumsum_max

        profile_id  album_id  play_cumsum
0                3        15            1
1                3        16            1
2                3        17            1
3                3        18            1
4                3        19            1
...            ...       ...          ...
380542       33032      7105            0
380543       33032      8910            0
380544       33032     14662            1
380545       33032     14663            2
380546       33032     14665            1

[380547 rows x 3 columns]

In [54]:
play_cumsum_max.columns = ['profile_id', 'album_id', 'conti_play_max']

In [55]:
play_cumsum_max

        profile_id  album_id  conti_play_max
0                3        15               1
1                3        16               1
2                3        17               1
3                3        18               1
4                3        19               1
...            ...       ...             ...
380542       33032      7105               0
380543       33032      8910               0
380544       33032     14662               1
380545       33032     14663               2
380546       33032     14665               1

[380547 rows x 3 columns]

In [95]:
hist_d.loc[(hist_d['profile_id'] == 33032) & (hist_d['album_id'] == 8910)]

        profile_id  album_id  continuous_play  play_cumsum
380543       33032      8910                1            1

In [28]:
hist_d['play_cumsum'].max()

1414

In [27]:
hist_d['play_cumsum'].describe()

count    1.005651e+06
mean     1.329027e+01
std      6.714049e+01
min      0.000000e+00
25%      1.000000e+00
50%      2.000000e+00
75%      5.000000e+00
max      1.414000e+03
Name: play_cumsum, dtype: float64

In [85]:
hist_d = hist_d.sort_values(by=['profile_id', 'album_id'], ascending=False).groupby(['profile_id', 'album_id']).count().reset_index()

In [104]:
new_play = pd.concat([hist_d, play_cumsum_max['conti_play_max']], axis = 1)
new_play = new_play[['profile_id', 'album_id', 'play_cumsum', 'conti_play_max']]
new_play.columns = ['profile_id', 'album_id', 'play_count', 'conti_play_max']
new_play['conti_play_ratio'] = new_play['conti_play_max'] / new_play['play_count']
new_play['conti_play_ratio'] = new_play['conti_play_ratio'].fillna(0)
new_play

        profile_id  album_id  play_count  conti_play_max  conti_play_ratio
0                3        15           1               1               1.0
1                3        16           1               1               1.0
2                3        17           1               1               1.0
3                3        18           1               1               1.0
4                3        19           1               1               1.0
...            ...       ...         ...             ...               ...
380542       33032      7105          21               0               0.0
380543       33032      8910           1               0               0.0
380544       33032     14662           1               1               1.0
380545       33032     14663           2               2               1.0
380546       33032     14665           1               1               1.0

[380547 rows x 5 columns]

In [111]:
new_play.to_csv('conti_play_ratio.csv', index = False)

In [112]:
import pickle

with open('conti_play_ratio.pickle', 'wb') as f:
    pickle.dump(new_play, f)

In [105]:
new_play.conti_play_ratio.describe()

count    380547.000000
mean          0.926074
std           0.242106
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: conti_play_ratio, dtype: float64

In [108]:
new_play.loc[(new_play['conti_play_ratio'] != 1) & (new_play['conti_play_ratio'] != 0)].conti_play_ratio.describe()

count    18675.000000
mean         0.573906
std          0.209554
min          0.012195
25%          0.500000
50%          0.500000
75%          0.750000
max          0.997067
Name: conti_play_ratio, dtype: float64

In [110]:
history_df['continuous_play'].describe()

count    1.005651e+06
mean     8.845186e-01
std      3.196022e-01
min      0.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      1.000000e+00
Name: continuous_play, dtype: float64

## make 'watch' variable

In [21]:
### cumsum
# 어떤 데이터프레임에 새로운 칼럼 cumtime을 추가
# watch_time변수를 기준으로 사용자의 각 아이템에 대한 시청 시간 누적합을 나타냄
def cum_sum(group):
    group['cumtime'] = group.sort_values(
        by=['profile_id', 'album_id'], ascending=False).watch_time.cumsum()
    return group

In [22]:
# 시청 종료 데이터에서 실제 시청 길이인 'watch_time'과 콘텐츠 길이인'total_time' 칼럼 살림
we_d = we_df[["profile_id", "album_id", "act_target_dtl", "watch_time", "total_time"]]

# 누적 시청 시간인 cumtime 변수를 cum_sum 함수를 적용하여 생성
we_d = we_d.groupby(["profile_id","album_id"]).apply(cum_sum)

KeyboardInterrupt:

In [ ]:
# 동일 콘텐츠의 재생 횟수 의미하는 'watch' 칼럼 추가
we_d["watch"] = we_d["cumtime"]/we_d["total_time"]

In [ ]:
watch = pd.DataFrame(we_d.groupby(['profile_id', 'album_id']).watch.max()).reset_index()

In [42]:
watch_dict = dict()
for index, profile, album, watch in watch.itertuples():
    watch_dict[(profile, album)] = watch

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [44]:
len(watch_dict)

347982

In [47]:
watch_dict

{(3, 15): 1.0,
 (3, 16): 0.9904761904761905,
 (3, 17): 1.0,
 (3, 18): 0.9852941176470589,
 (3, 19): 1.0,
 (3, 20): 2.0,
 (3, 21): 1.0756302521008403,
 (3, 22): 1.0,
 (3, 23): 0.9917355371900827,
 (3, 24): 1.0,
 (3, 25): 1.0,
 (3, 26): 1.0,
 (3, 27): 1.0,
 (3, 28): 0.9915966386554622,
 (3, 29): 1.0,
 (3, 30): 0.9917355371900827,
 (3, 31): 1.0,
 (3, 32): 1.0,
 (5, 0): 0.9926470588235294,
 (5, 15): 4.6521739130434785,
 (5, 16): 4.066666666666666,
 (5, 17): 3.0,
 (5, 18): 3.985294117647059,
 (5, 19): 3.0,
 (5, 38): 2.2378378378378376,
 (5, 39): 1.9945945945945946,
 (5, 40): 0.9945945945945946,
 (5, 41): 0.9944444444444445,
 (5, 42): 2.967741935483871,
 (5, 43): 0.9945945945945946,
 (5, 44): 1.0,
 (5, 45): 1.9891891891891893,
 (5, 46): 1.3297297297297297,
 (5, 50): 0.9928571428571429,
 (5, 51): 1.0,
 (5, 65): 0.5634328358208955,
 (5, 66): 0.043689320388349516,
 (5, 67): 1.1956521739130435,
 (5, 68): 0.3137254901960784,
 (5, 69): 1.0,
 (5, 70): 1.8992481203007519,
 (5, 71): 3.0140845070422535,
 (5, 72): 4.9,
 (5, 73): 5.050909090909091,
 (5, 74): 5.970099667774086,
 (5, 75): 3.4186046511627906,
 (5, 76): 4.0,
 (5, 77): 2.0199335548172757,
 (5, 78): 2.380952380952381,
 (5, 79): 2.0,
 (5, 80): 1.9183673469387754,
 (5, 81): 0.9814814814814815,
 (5, 82): 0.9966777408637874,
 (5, 83): 2.0,
 (5, 84): 9.041237113402062,
 (5, 85): 2.0,
 (5, 86): 6.8734177215189876,
 (5, 87): 1.0,
 (5, 88): 1.0,
 (5, 89): 1.9867109634551494,
 (5, 90): 5.0227272727272725,
 (5, 91): 2.507042253521127,
 (5, 92): 3.331400165700083,
 (5, 93): 1.0,
 (5, 94): 1.0,
 (5, 95): 1.0,
 (5, 96): 0.0,
 (5, 97): 1.0,
 (5, 98): 1.0,
 (5, 99): 1.0,
 (5, 100): 0.983739837398374,
 (5, 101): 0.06569343065693431,
 (5, 102): 2.0,
 (5, 103): 1.9473684210526316,
 (5, 104): 3.1194029850746268,
 (5, 105): 2.984126984126984,
 (5, 106): 1.0,
 (5, 107): 1.0,
 (5, 108): 0.29454545454545455,
 (5, 109): 0.8895631067961165,
 (5, 110): 1.0,
 (5, 111): 0.9965928449744463,
 (5, 112): 1.0,
 (5, 113): 1.0,
 (5, 114): 1.0,
 (5, 115): 0.4684838160136286,
 (5, 116): 0.9845890410958904,
 (5, 117): 1.0,
 (5, 118): 1.0,
 (5, 119): 1.0,
 (5, 120): 1.0,
 (5, 121): 1.0,
 (5, 122): 1.0,
 (5, 123): 2.0,
 (5, 124): 1.2506527415143602,
 (5, 125): 0.9346153846153846,
 (5, 126): 1.0,
 (5, 127): 0.37813211845102507,
 (5, 128): 7.008620689655173,
 (5, 129): 2.1818181818181817,
 (5, 130): 4.734104046242774,
 (5, 131): 1.0,
 (5, 132): 0.981651376146789,
 (5, 133): 0.9933554817275747,
 (5, 134): 5.96875,
 (5, 135): 2.8181818181818183,
 (5, 136): 3.9623655913978495,
 (5, 137): 1.0,
 (5, 138): 0.01818181818181818,
 (5, 139): 0.9975786924939467,
 (5, 140): 0.23393939393939395,
 (5, 141): 0.9987878787878788,
 (5, 142): 0.978494623655914,
 (5, 143): 1.9310344827586208,
 (5, 144): 1.0,
 (5, 145): 1.0,
 (5, 146): 0.6372430471584039,
 (5, 147): 0.31559854897218864,
 (5, 148): 0.23140495867768596,
 (5, 149): 0.9791666666666666,
 (5, 150): 0.19736842105263158,
 (5, 151): 2.95,
 (5, 152): 3.0,
 (5, 153): 2.942857142857143,
 (5, 154): 3.0,
 (5, 155): 2.0,
 (5, 156): 2.0,
 (5, 157): 0.33641975308641975,
 (5, 158): 1.4285714285714286,
 (5, 159): 0.003105590062111801,
 (5, 160): 0.15789473684210525,
 (5, 161): 2.8039867109634553,
 (5, 162): 1.9900332225913622,
 (5, 163): 1.9692307692307693,
 (5, 164): 1.0,
 (5, 165): 1.0,
 (5, 166): 0.9966777408637874,
 (5, 167): 1.3812709030100334,
 (5, 168): 1.9984984984984986,
 (5, 169): 1.0,
 (5, 170): 0.996969696969697,
 (5, 171): 0.08333333333333333,
 (5, 172): 2.1322314049586777,
 (5, 173): 2.0,
 (5, 174): 2.0241610738255034,
 (5, 175): 0.006963788300835654,
 (5, 176): 0.5304347826086957,
 (5, 177): 0.9349470499243571,
 (5, 178): 2.0606060606060606,
 (5, 179): 0.9920634920634921,
 (5, 180): 0.19827586206896552,
 (5, 181): 1.0380952380952382,
 (5, 182): 0.5894039735099338,
 (5, 183): 1.0,
 (5, 184): 1.955223880597015,
 (5, 185): 0.9897959183673469,
 (5, 186): 0.9945945945945946,
 (5, 187): 2.3285714285714287,
 (5, 188): 0.05128205128205128,
 (5, 189): 0.014388489208633094,
 (5, 190): 0.15485996705107083,
 (5, 191): 0.37896253602305474,
 (5, 192): 0.07625899280575539,
 (5, 193): 0.20664739884393063,
 (5, 194): 0.1712230215827338,
 (5, 195): 0.6532374100719425,
 (5, 196): 0.0056657223796034,
 (5, 197): 0.1246376811594203,
 (5, 198): 0.3288690476190476,
 (5, 199): 0.4484304932735426,
 (5, 200): 0.1702127659574468,
 (5, 201): 2.38,
 (5, 202): 3.106382978723404,
 (5, 203): 1.9649122807017543,
 (5, 204): 0.2542372881355932,
 (5, 205): 0.12742718446601942,
 (5, 206): 0.14199029126213591,
 (5, 207): 0.09982486865148861,
 (5, 208): 0.08756567425569177,
 (5, 209): 1.0,
 (5, 210): 0.03197158081705151,
 (5, 211): 0.0017761989342806395,
 (5, 212): 2.0,
 (5, 213): 2.0017123287671232,
 (5, 214): 1.005128205128205,
 (5, 215): 0.18974358974358974,
 (5, 216): 1.0,
 (5, 217): 1.0,
 (5, 218): 0.9970014992503748,
 (5, 219): 2.0,
 (5, 220): 1.2188905547226387,
 (5, 221): 0.3733133433283358,
 (5, 222): 0.9984984984984985,
 (5, 223): 0.07807807807807808,
 (5, 224): 1.0,
 (5, 225): 1.978494623655914,
 (5, 226): 0.9830508474576272,
 (5, 227): 1.0,
 (5, 228): 1.0,
 (5, 229): 1.0,
 (5, 230): 1.9945945945945946,
 (5, 231): 1.0,
 (5, 232): 2.745945945945946,
 (5, 233): 1.0,
 (5, 234): 0.9743589743589743,
 (5, 235): 0.9902912621359223,
 (5, 236): 0.297029702970297,
 (5, 237): 1.0,
 (5, 238): 1.0,
 (5, 239): 0.9965870307167235,
 (5, 241): 1.0275689223057645,
 (5, 242): 0.0,
 (5, 243): 2.0,
 (5, 244): 1.96875,
 (5, 245): 1.25,
 (5, 246): 1.0,
 (5, 247): 0.9863013698630136,
 (5, 248): 0.9710144927536232,
 (5, 249): 1.0,
 (5, 250): 0.9852941176470589,
 (5, 251): 1.0,
 (5, 252): 1.0,
 (5, 253): 0.7208237986270023,
 (5, 254): 0.1006006006006006,
 (5, 255): 0.9982486865148862,
 (5, 256): 0.1190893169877408,
 (5, 257): 1.4340277777777777,
 (5, 258): 1.0,
 (5, 259): 0.059233449477351915,
 (5, 260): 1.0,
 (5, 261): 0.3099315068493151,
 (5, 262): 1.0,
 (5, 264): 0.41785714285714287,
 (5, 265): 1.231578947368421,
 (5, 266): 1.0,
 (5, 267): 1.9886363636363635,
 (5, 268): 1.7755102040816326,
 (5, 269): 1.0,
 (5, 270): 1.0,
 (5, 271): 1.0,
 (5, 272): 0.9811320754716981,
 (5, 273): 0.9827586206896551,
 (5, 274): 1.0,
 (5, 275): 0.9775280898876404,
 (5, 276): 1.0,
 (5, 277): 1.0,
 (5, 278): 0.9787234042553191,
 (5, 279): 1.0,
 (5, 280): 0.9775280898876404,
 (5, 281): 1.0,
 (5, 282): 1.0,
 (5, 283): 0.989247311827957,
 (5, 284): 1.0,
 (5, 285): 0.989010989010989,
 (5, 286): 1.0,
 (5, 287): 2.0,
 (5, 288): 1.9923076923076923,
 (5, 289): 2.0,
 (5, 290): 1.9607843137254901,
 (5, 291): 1.156390977443609,
 (5, 292): 1.0,
 (5, 293): 1.0,
 (5, 294): 0.9935275080906149,
 (5, 295): 1.0,
 (5, 296): 0.9935275080906149,
 (5, 297): 0.4090909090909091,
 (5, 298): 6.0,
 (5, 299): 0.9935275080906149,
 (5, 300): 1.0,
 (5, 302): 1.1874062968515742,
 (5, 303): 1.301948051948052,
 (5, 304): 2.983818770226537,
 (5, 305): 2.0,
 (5, 306): 2.0,
 (5, 307): 1.6348387096774193,
 (5, 308): 0.028187919463087248,
 (5, 309): 1.0,
 (5, 310): 0.022590361445783132,
 (5, 311): 1.0,
 (5, 312): 0.019178082191780823,
 (5, 314): 7.115384615384615,
 (5, 315): 1.0,
 (5, 316): 0.9968203497615262,
 (5, 317): 1.5113636363636365,
 (7, 237): 0.3894736842105263,
 (7, 343): 0.11672683513838748,
 (16, 65): 0.014925373134328358,
 (16, 124): 0.07049608355091384,
 (16, 339): 0.005291005291005291,
 (19, 403): 0.6722689075630253,
 (20, 33): 0.43037974683544306,
 (20, 52): 0.0027359781121751026,
 (20, 126): 1.5463258785942493,
 (20, 186): 0.04864864864864865,
 (20, 241): 0.020050125313283207,
 (20, 339): 0.0026455026455026454,
 (20, 356): 3.4966887417218544,
 (20, 412): 0.04962406015037594,
 (20, 413): 0.022556390977443608,
 (20, 414): 0.02857142857142857,
 (20, 416): 2.6131147540983606,
 (20, 424): 4.313846153846153,
 (20, 425): 0.10100334448160535,
 (20, 426): 9.468409586056644,
 (20, 427): 2.295025728987993,
 (20, 428): 0.027613412228796843,
 (20, 429): 0.011363636363636364,
 (20, 430): 2.0709969788519635,
 (20, 431): 0.02706766917293233,
 (20, 432): 0.46142208774583965,
 (20, 433): 0.9293233082706767,
 (20, 434): 0.08333333333333333,
 (20, 435): 3.0021413276231264,
 (20, 436): 0.11165048543689321,
 (20, 437): 0.3406813627254509,
 (20, 438): 0.2644230769230769,
 (20, 439): 0.002403846153846154,
 (20, 440): 0.9413092550790068,
 (20, 441): 5.074712643678161,
 (20, 442): 11.835897435897436,
 (20, 443): 0.06548175865294668,
 (20, 444): 0.004448210124973522,
 (20, 445): 0.7488721804511278,
 (20, 446): 0.016566265060240965,
 (20, 447): 0.0,
 (20, 448): 0.4150375939849624,
 (20, 449): 0.004511278195488722,
 (20, 450): 0.4947526236881559,
 (20, 451): 1.0,
 (20, 452): 4.064469914040115,
 (20, 453): 1.0440835266821347,
 (20, 454): 1.2204176334106729,
 (20, 455): 0.03002309468822171,
 (20, 456): 0.12912912912912913,
 (20, 457): 0.18535127055306427,
 (20, 458): 1.4918793503480279,
 (20, 459): 1.5661252900232019,
 (20, 460): 0.5218446601941747,
 (20, 461): 0.672289156626506,
 (20, 462): 0.472289156626506,
 (20, 463): 0.9245283018867925,
 (20, 464): 0.16997167138810199,
 (20, 465): 0.2696011004126547,
 (20, 466): 0.10906515580736544,
 (20, 467): 0.15330520393811534,
 (20, 468): 0.21185185185185185,
 (20, 469): 1.114213197969543,
 (20, 470): 0.06986027944111776,
 (20, 471): 8.453658536585365,
 (20, 472): 0.2126081582200247,
 (20, 473): 0.32469775474956825,
 (20, 474): 4.545219638242894,
 (20, 475): 0.0069605568445475635,
 (20, 476): 4.762312633832977,
 (20, 477): 0.5188679245283019,
 (20, 478): 6.707231040564374,
 (20, 479): 12.456632653061224,
 (20, 480): 0.06918238993710692,
 (20, 481): 0.28,
 (20, 482): 0.44528301886792454,
 (20, 483): 1.441509433962264,
 (20, 484): 0.0774818401937046,
 (20, 485): 1.0,
 (20, 486): 0.04785894206549118,
 (20, 487): 0.5641509433962264,
 (20, 488): 1.712793733681462,
 (20, 489): 0.010810810810810811,
 (20, 490): 0.034334763948497854,
 (20, 491): 7.530526315789474,
 (20, 492): 0.16536661466458658,
 (20, 493): 0.875,
 (20, 494): 0.03571428571428571,
 (20, 495): 0.4326241134751773,
 (20, 496): 0.044444444444444446,
 (20, 497): 0.15748031496062992,
 (20, 498): 0.35917312661498707,
 (20, 499): 0.5668604651162791,
 (20, 500): 0.10696920583468396,
 (20, 501): 0.679814385150812,
 (20, 502): 5.684454756380511,
 (20, 503): 2.0023201856148494,
 (20, 505): 0.06622516556291391,
 (20, 506): 0.037486218302094816,
 (20, 507): 0.02824858757062147,
 (20, 508): 0.21247113163972287,
 (22, 9): 1.0,
 (22, 10): 1.0,
 (22, 11): 1.0,
 (22, 13): 1.0,
 (22, 14): 0.9693877551020408,
 (22, 15): 3.702127659574468,
 (22, 16): 7.3619047619047615,
 (22, 17): 0.17105263157894737,
 (22, 18): 3.014705882352941,
 (22, 19): 0.8241758241758241,
 (22, 36): 2.041958041958042,
 (22, 37): 0.9927007299270073,
 (22, 38): 0.1783783783783784,
 (22, 40): 0.5591397849462365,
 (22, 67): 1.0,
 (22, 69): 2.0,
 (22, 70): 5.215892053973014,
 (22, 87): 1.0,
 (22, 102): 0.8875,
 (22, 105): 0.031746031746031744,
 (22, 107): 3.5517241379310347,
 (22, 128): 2.3675213675213675,
 (22, 129): 1.0165289256198347,
 (22, 134): 0.984375,
 (22, 164): 1.2390977443609024,
 (22, 165): 1.0014992503748126,
 (22, 168): 5.165165165165165,
 (22, 170): 1.993939393939394,
 (22, 171): 4.815151515151515,
 (22, 172): 1.983739837398374,
 (22, 173): 2.0,
 (22, 175): 2.171309192200557,
 (22, 178): 3.323232323232323,
 (22, 179): 1.968503937007874,
 (22, 180): 1.9827586206896552,
 (22, 183): 4.958762886597938,
 (22, 184): 0.2835820895522388,
 (22, 185): 2.010204081632653,
 (22, 186): 0.989247311827957,
 (22, 201): 0.54,
 (22, 203): 1.0,
 (22, 216): 1.993174061433447,
 (22, 217): 1.5452991452991454,
 (22, 218): 1.8781954887218044,
 (22, 219): 3.0,
 (22, 220): 3.0,
 (22, 221): 2.262368815592204,
 (22, 222): 0.0015015015015015015,
 (22, 224): 5.178947368421053,
 (22, 225): 0.9945945945945946,
 (22, 227): 9.614754098360656,
 (22, 229): 1.872340425531915,
 (22, 231): 0.4745762711864407,
 (22, 232): 0.010810810810810811,
 (22, 238): 1.4649572649572649,
 (22, 239): 1.030716723549488,
 (22, 240): 0.17606837606837608,
 (22, 241): 0.995,
 (22, 254): 1.3894736842105264,
 (22, 264): 1.0785714285714285,
 (22, 267): 1.0,
 (22, 272): 1.0,
 (22, 284): 0.7317073170731707,
 (22, 291): 10.617691154422788,
 (22, 302): 8.243243243243244,
 (22, 330): 7.7974683544303796,
 (22, 343): 0.02045728038507822,
 (22, 347): 0.07330827067669173,
 (22, 382): 0.006648005598320504,
 (22, 406): 0.8969072164948454,
 (22, 407): 4.368932038834951,
 (22, 408): 0.4954128440366973,
 (22, 434): 0.06312292358803986,
 (22, 437): 0.01002004008016032,
 (22, 445): 1.0120300751879698,
 (22, 504): 1.2183288409703503,
 (22, 547): 2.0,
 (22, 549): 2.4931129476584024,
 (22, 562): 1.0081967213114753,
 (22, 563): 1.0,
 (22, 564): 1.0,
 (22, 565): 1.0,
 (22, 566): 4.809192200557103,
 (22, 567): 3.3715083798882683,
 (22, 568): 0.5740223463687151,
 (22, 569): 3.0041899441340782,
 (22, 570): 3.888268156424581,
 (22, 571): 2.3221757322175733,
 (22, 572): 0.0027816411682892906,
 (22, 573): 1.9120111731843576,
 (22, 574): 6.155027932960894,
 (22, 575): 6.94314381270903,
 (22, 576): 1.227765726681128,
 (22, 577): 1.3631284916201116,
 (22, 578): 0.007874015748031496,
 (22, 579): 0.1322690992018244,
 (22, 580): 5.023333333333333,
 (22, 581): 0.30673316708229426,
 (22, 582): 1.9919191919191919,
 (22, 583): 1.008108108108108,
 (22, 584): 1.9957894736842106,
 (22, 585): 2.107231920199501,
 (22, 586): 1.0637119113573408,
 (22, 587): 2.0,
 (22, 588): 1.022857142857143,
 (22, 589): 3.9757575757575756,
 (22, 590): 1.042296072507553,
 (22, 591): 1.0,
 (22, 592): 0.24845147969717826,
 (22, 593): 16.766423357664234,
 (22, 594): 1.375,
 (22, 595): 0.20074349442379183,
 (22, 596): 0.4246987951807229,
 (22, 597): 3.707395498392283,
 (22, 598): 0.4206060606060606,
 (22, 599): 5.054413542926239,
 (22, 600): 3.497311827956989,
 (22, 601): 2.0,
 (22, 602): 0.12885906040268458,
 (22, 603): 1.2117647058823529,
 (22, 604): 0.1725067385444744,
 (22, 605): 0.04091144484722942,
 (22, 606): 2.2721311475409838,
 (22, 607): 1.0,
 (22, 608): 0.006557377049180328,
 (22, 609): 0.9005763688760807,
 (22, 610): 1.0,
 (22, 611): 0.12732919254658384,
 (22, 612): 2.9326923076923075,
 (22, 613): 0.14492753623188406,
 (22, 614): 0.9661016949152542,
 (22, 615): 0.9876543209876543,
 (22, 616): 0.03076923076923077,
 (22, 617): 1.0,
 (22, 618): 0.045454545454545456,
 (22, 619): 1.6483516483516483,
 (22, 620): 0.978021978021978,
 (22, 621): 0.038834951456310676,
 (22, 622): 1.7181818181818183,
 (22, 623): 1.6363636363636365,
 (22, 624): 0.9932659932659933,
 (22, 625): 0.010869565217391304,
 (22, 626): 1.3499377334993774,
 (22, 627): 1.993948562783661,
 (22, 628): 1.996969696969697,
 (22, 629): 0.6651515151515152,
 (22, 630): 0.9984848484848485,
 (22, 631): 1.714069591527988,
 (22, 632): 4.989409984871407,
 (22, 633): 0.006983240223463687,
 (22, 634): 2.0,
 (22, 635): 2.91044776119403,
 (22, 636): 1.7333333333333334,
 (22, 637): 0.9649122807017544,
 (22, 638): 1.0,
 (22, 639): 1.0,
 (22, 640): 0.18012422360248448,
 (22, 641): 1.0,
 (22, 642): 0.041379310344827586,
 (22, 643): 0.5736543909348442,
 (22, 644): 5.3856749311294765,
 (22, 645): 0.22099447513812154,
 (22, 646): 3.5576923076923075,
 (22, 647): 5.01063829787234,
 (22, 648): 6.025316455696203,
 (22, 649): 0.4091778202676864,
 (22, 650): 3.775,
 (22, 651): 4.0,
 (22, 652): 3.9935483870967743,
 (22, 653): 1.9626168224299065,
 (22, 654): 1.2034883720930232,
 (22, 655): 6.010526315789473,
 (22, 656): 0.37373737373737376,
 (22, 657): 0.48675034867503486,
 (22, 658): 0.3443708609271523,
 (22, 659): 0.041499330655957165,
 (22, 660): 6.587786259541985,
 (22, 661): 0.3684210526315789,
 (22, 662): 1.0,
 (22, 663): 0.9791666666666666,
 (22, 664): 0.3747016706443914,
 (22, 665): 1.0,
 (22, 666): 0.9969742813918305,
 (22, 667): 0.543247344461305,
 (22, 668): 2.481818181818182,
 (22, 669): 0.007529089664613279,
 (22, 670): 8.0,
 (22, 671): 1.5045454545454546,
 (22, 672): 0.5389408099688473,
 (22, 673): 1.4646464646464648,
 (22, 674): 0.9968944099378882,
 (22, 675): 1.0,
 (22, 676): 0.10835913312693499,
 (22, 677): 1.0,
 (22, 678): 0.9566563467492261,
 (22, 679): 1.0,
 (22, 680): 2.9956896551724137,
 (22, 681): 1.8635057471264367,
 (22, 682): 2.9956896551724137,
 (22, 683): 2.1366906474820144,
 (22, 684): 2.548172757475083,
 (22, 685): 3.9518072289156625,
 (22, 686): 0.6466165413533834,
 (22, 687): 7.0375,
 (22, 688): 0.9230769230769231,
 (22, 689): 2.0,
 (22, 690): 0.41228070175438597,
 (22, 691): 0.9777777777777777,
 (22, 692): 2.898876404494382,
 (22, 693): 0.060810810810810814,
 (22, 694): 0.2767857142857143,
 (22, 695): 0.55,
 (22, 696): 1.993939393939394,
 (22, 697): 3.018154311649017,
 (22, 698): 3.987878787878788,
 (22, 699): 2.9909090909090907,
 (22, 700): 2.996969696969697,
 (22, 701): 2.9909090909090907,
 (22, 702): 1.1787878787878787,
 (22, 703): 6.0,
 (22, 704): 0.996996996996997,
 (22, 705): 0.20303030303030303,
 (22, 706): 0.24242424242424243,
 (22, 707): 1.0,
 (22, 708): 0.051361867704280154,
 (22, 709): 0.0028735632183908046,
 (22, 710): 2.915041782729805,
 (22, 711): 0.05357142857142857,
 (22, 712): 1.0,
 (22, 713): 1.05,
 (22, 714): 3.95,
 (22, 715): 1.8493150684931507,
 (22, 716): 1.141025641025641,
 (22, 717): 2.0104166666666665,
 (22, 718): 0.5441176470588235,
 (22, 719): 3.001517450682853,
 (22, 720): 2.2027231467473527,
 (22, 721): 2.0,
 (22, 722): 1.8543247344461304,
 (22, 723): 0.014998125234345707,
 (22, 724): 0.06791744840525328,
 (22, 725): 2.0,
 (22, 726): 0.01809954751131222,
 (22, 727): 2.0,
 (22, 728): 2.0,
 (22, 729): 0.3210702341137124,
 (22, 730): 0.03636363636363636,
 (22, 731): 0.025289017341040464,
 (22, 732): 2.0,
 (22, 733): 1.0847701149425288,
 (22, 734): 0.9985815602836879,
 (22, 735): 0.04885496183206107,
 (22, 736): 1.8623024830699775,
 (22, 737): 0.47806354009077157,
 (22, 738): 0.8402777777777778,
 (22, 739): 0.24369747899159663,
 (22, 740): 1.006051437216339,
 (22, 741): 4.918367346938775,
 (22, 742): 1.0,
 (22, 743): 0.5432098765432098,
 (22, 744): 0.9984848484848485,
 (22, 745): 1.0,
 (22, 746): 0.0803030303030303,
 (22, 747): 0.767616191904048,
 (22, 748): 0.9515151515151515,
 (22, 749): 0.07878787878787878,
 (22, 750): 4.9334341906202726,
 (22, 751): 4.773273273273273,
 (22, 752): 3.5398496240601505,
 (22, 753): 1.0389805097451275,
 (22, 754): 0.23609022556390977,
 (22, 755): 0.28290468986384265,
 (22, 756): 1.0,
 (22, 757): 0.9414414414414415,
 (22, 758): 0.052552552552552555,
 (22, 759): 0.9984962406015038,
 (22, 760): 0.9172932330827067,
 (22, 761): 5.997340425531915,
 (22, 762): 0.03680981595092025,
 (22, 763): 0.02574416733708769,
 (22, 764): 0.9069767441860465,
 (22, 765): 0.03194888178913738,
 (22, 766): 1.0,
 (22, 767): 1.0,
 (22, 768): 1.0,
 (22, 769): 4.994871794871795,
 (22, 770): 5.98019801980198,
 (22, 771): 2.0306122448979593,
 (22, 772): 3.0157303370786517,
 (22, 773): 3.0,
 (22, 774): 0.23348694316436253,
 (22, 775): 1.9655172413793103,
 (22, 776): 1.0,
 (22, 777): 1.0,
 (22, 778): 0.30578512396694213,
 (22, 779): 6.0393374741200825,
 (22, 780): 1.1155778894472361,
 (22, 781): 0.020100502512562814,
 (22, 782): 4.015113350125945,
 (22, 783): 6.099009900990099,
 (22, 784): 2.780160857908847,
 (22, 785): 2.987562189054726,
 (22, 786): 2.747448979591837,
 (22, 787): 0.9567430025445293,
 (22, 788): 6.099730458221024,
 (22, 789): 5.010810810810811,
 (22, 790): 4.013513513513513,
 (22, 791): 0.996039603960396,
 (22, 792): 8.425474254742548,
 (22, 793): 8.008108108108107,
 (22, 794): 6.0,
 (22, 795): 5.789189189189189,
 (22, 796): 3.9784366576819408,
 (22, 797): 3.2004889975550124,
 (22, 798): 0.02028169014084507,
 (22, 799): 14.07957957957958,
 (22, 800): 0.16491754122938532,
 (22, 801): 0.324585635359116,
 (22, 802): 0.9986807387862797,
 (22, 803): 0.9927440633245382,
 (22, 804): 5.0,
 (22, 805): 2.4210526315789473,
 (22, 806): 2.9393939393939394,
 (22, 807): 2.9903846153846154,
 (22, 808): 2.9732142857142856,
 (22, 809): 1.0454545454545454,
 (22, 810): 1.065967016491754,
 (22, 811): 1.0,
 (22, 812): 1.0,
 (22, 813): 1.0,
 (22, 814): 2.0,
 (22, 815): 1.996969696969697,
 (22, 816): 1.993948562783661,
 (22, 817): 1.2106060606060607,

In [ ]:
we_d["yes_watch"] = 0
we_d["yes_watch"][we_d["watch"] >= 0.5] = 1

In [45]:
behav_df.yes_watch

0         1.0
1         1.0
2         1.0
3         1.0
4         1.0
         ...
383809    0.0
383810    0.0
383811    0.0
383812    0.0
383813    0.0
Name: yes_watch, Length: 383814, dtype: float64

In [9]:
import pickle

In [10]:
with open("watching.pickle", 'rb') as f:
     data = pickle.load(f)

In [76]:
data.watch.quantile(0.991)

92.26275773195984

In [72]:
data

         profile_id  album_id      watch
0                 3        15   1.000000
2                 3        16   1.980952
3                 3        17   1.000000
5                 3        18   1.970588
6                 3        19   1.000000
...             ...       ...        ...
5785240       33032      3559   1.000000
5785244       33032      4246   0.269802
5785188       33032      6693   0.998498
5785418       33032      7105  11.211838
5785178       33032      8910   1.000000

[328526 rows x 3 columns]

In [94]:
we_df.loc[(we_df['profile_id'] == 22) & (we_df['album_id'] == 593)]

,profile_id,ss_id,log_time,act_target_dtl,album_id,watch_time,total_time,continuous_play
1024,22,20220304214739,20220304215050,MKID049,593,137,137,1
1027,22,20220304214739,20220304220445,MKID049,593,137,139,1
1060,22,20220305213534,20220305221041,MKID049,593,137,137,1
1061,22,20220305213534,20220305221041,MKID049,593,137,137,1
1099,22,20220306091700,20220306093411,MKID049,593,137,139,1
1143,22,20220306215419,20220306223602,MKID049,593,71,137,1
1144,22,20220306215419,20220306223616,MKID049,593,5,137,0
1145,22,20220306215419,20220306223646,MKID049,593,22,137,0
1146,22,20220306215419,20220306223702,MKID049,593,9,137,0
1147,22,20220306215419,20220306223925,MKID049,593,137,137,0
1148,22,20220306215419,20220306224148,MKID049,593,137,139,1
1149,22,20220306215419,20220306224416,MKID049,593,136,137,0
1150,22,20220306215419,20220306224629,MKID049,593,127,137,0
1483,22,20220313213122,20220313213909,MKID049,593,11,137,1
1485,22,20220313213122,20220313213919,MKID049,593,2,137,0
1486,22,20220313213122,20220313214142,MKID049,593,137,137,1
1488,22,20220313213122,20220313214410,MKID049,593,137,137,1
1490,22,20220313213122,20220313214638,MKID049,593,137,139,1
1492,22,20220313213122,20220313214918,MKID049,593,137,139,1
1495,22,20220313213122,20220313215033,MKID049,593,2,137,0
1496,22,20220313213122,20220313215215,MKID049,593,96,137,0
1497,22,20220313213122,20220313215253,MKID049,593,29,137,0
1519,22,20220313213122,20220313230936,MKID049,593,13,137,1
1522,22,20220313213122,20220313231213,MKID049,593,137,137,1
1876,22,20220329211728,20220329215053,MKID049,593,65,137,0
1877,22,20220329211728,20220329215053,MKID049,593,65,137,0

In [92]:
data.loc[data['watch'] > 100][0:1]

      profile_id  album_id       watch
4615          22       593  114.949275

In [93]:
data2[(22, 593)]

16.766423357664234

In [82]:
meta_df.loc[meta_df['album_id'] == 3502]

,album_id,title,sub_title,genre_large,genre_mid,genre_small,country,run_time,onair_date,cast_1,cast_2,cast_3,cast_4,cast_5,cast_6,cast_7
5595,3502,콩순이 진찰송,콩순이의 율동교실1,키즈,노래율동,NaN,NaN,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
data.watch.sort_values(ascending = False)[:2000]

1162875    187876.850000
2092838     79232.214047
1162713     70098.692308
1163777     64549.228261
1180047     64353.202247
               ...
4599340       132.837662
4350754       132.802676
205980        132.800000
149598        132.800000
5114079       132.774074
Name: watch, Length: 2000, dtype: float64

In [12]:
data.watch.describe()

count    328526.000000
mean         10.064806
std         483.915019
min           0.000000
25%           0.730489
50%           1.000000
75%           2.764085
max      187876.850000
Name: watch, dtype: float64

In [13]:
with open("watch.pickle", 'rb') as f:
     data2 = pickle.load(f)

In [64]:
len(data2.values())

347982

In [69]:
big_value_list = []
for i in data2.values():
    if i >= 50:
        big_value_list.append(i)

In [70]:
len(big_value_list)

375

In [68]:
big_value_list

[50.88721804511278,
 37.97011952191235,
 34.94897959183673,
 48.0722891566265,
 32.98715203426124,
 45.002164502164504,
 42.266666666666666,
 38.92599620493359,
 31.459627329192546,
 34.76712328767123,
 44.3394495412844,
 43.352112676056336,
 35.02173913043478,
 32.923809523809524,
 33.6578947368421,
 33.55555555555556,
 53.4375,
 64.9493670886076,
 63.85436893203884,
 52.56043956043956,
 57.03260869565217,
 58.05,
 154.86624203821657,
 47.56962025316456,
 31.95505617977528,
 69.96190476190476,
 45.87096774193548,
 222.66315789473686,
 76.8659793814433,
 35.58252427184466,
 83.03225806451613,
 94.3298969072165,
 96.62105263157895,
 62.8,
 35.329896907216494,
 31.723809523809525,
 33.76470588235294,
 31.338983050847457,
 35.47826086956522,
 31.961904761904762,
 32.97826086956522,
 43.095238095238095,
 32.0921052631579,
 32.38235294117647,
 44.205882352941174,
 42.47826086956522,
 56.59574468085106,
 37.2,
 75.625,
 30.186813186813186,
 37.39156626506024,
 34.77297297297297,
 32.821621621621624,
 33.81621621621622,
 39.88333333333333,
 36.58378378378379,
 37.178378378378376,
 40.56216216216216,
 35.8054054054054,
 30.25945945945946,
 80.57297297297298,
 30.441471571906355,
 55.6972972972973,
 30.464864864864865,
 40.67857142857143,
 51.67619047619048,
 38.67934782608695,
 37.78260869565217,
 32.34285714285714,
 30.896103896103895,
 72.1029411764706,
 37.23157894736842,
 55.14705882352941,
 32.329787234042556,
 39.72432432432432,
 32.31521739130435,
 51.98936170212766,
 31.376623376623378,
 66.65277777777777,
 64.2394366197183,
 61.81884057971015,
 36.32972972972973,
 36.08108108108108,
 34.78378378378378,
 37.544444444444444,
 33.81621621621622,
 31.655913978494624,
 48.47849462365591,
 48.473118279569896,
 43.87567567567567,
 62.87567567567567,
 59.83892617449664,
 58.54814814814815,
 116.91666666666667,
 58.46478873239437,
 58.167883211678834,
 30.304878048780488,
 51.9496855345912,
 33.871428571428574,
 34.739255014326645,
 31.369565217391305,
 41.654411764705884,
 56.66914498141264,
 31.735408560311285,
 34.01481481481481,
 66.58675078864353,
 33.69716088328076,
 32.525,
 34.294117647058826,
 35.25,
 216.40816326530611,
 212.125,
 492.0,
 488.04761904761904,
 472.9578947368421,
 467.3440860215054,
 516.080459770115,
 477.17894736842106,
 489.1142857142857,
 492.9837837837838,
 474.38829787234044,
 482.4742268041237,
 467.16494845360825,
 237.8877551020408,
 220.126213592233,
 883.5822784810126,
 1039.6818181818182,
 43.17391304347826,
 195.6524064171123,
 420.69565217391306,
 868.021978021978,
 183.60752688172042,
 269.4891304347826,
 912.0957446808511,
 2042.0375,
 30.12987012987013,
 51.43478260869565,
 48.54337899543379,
 30.901041666666668,
 58.37434554973822,
 33.48936170212766,
 34.970588235294116,
 61.26086956521739,
 33.857142857142854,
 45.94117647058823,
 43.91304347826087,
 64.11428571428571,
 53.0,
 47.39705882352941,
 55.522222222222226,
 31.82857142857143,
 44.26829268292683,
 34.8974358974359,
 42.317880794701985,
 95.9,
 94.19130434782609,
 51.95652173913044,
 30.946902654867255,
 35.484848484848484,
 33.476190476190474,
 33.69117647058823,
 176.84782608695653,
 182.13333333333333,
 197.23684210526315,
 176.2058823529412,
 85.2,
 50.05,
 34.57446808510638,
 95.58095238095238,
 37.09090909090909,
 31.39240506329114,
 32.42553191489362,
 59.8051948051948,
 42.077922077922075,
 82.92647058823529,
 35.74226804123711,
 30.26595744680851,
 48.20792079207921,
 30.017391304347825,
 31.069565217391304,
 33.0,
 74.07476635514018,
 42.17297297297297,
 35.66339869281046,
 38.7906976744186,
 44.38205980066445,
 31.305647840531563,
 35.41081081081081,
 62.10333333333333,
 98.88372093023256,
 43.193409742120345,
 77.45899632802937,
 237.13622291021673,
 166.00928792569658,
 164.58878504672896,
 144.93939393939394,
 49.19444444444444,
 51.658093797276855,
 36.08411214953271,
 67.57894736842105,
 41.76323987538941,
 56.09657320872274,
 69.0,
 35.606106870229006,
 31.793333333333333,
 39.59909228441755,
 31.98032786885246,
 34.730897009966775,
 46.285714285714285,
 66.74130105900151,
 37.34426229508197,
 78.4186046511628,
 47.87417218543046,
 34.96822995461422,
 61.0,
 190.71428571428572,
 32.88704318936877,
 50.3687707641196,
 33.01993355481728,
 193.13,
 47.647840531561464,
 58.61794019933555,
 38.31229235880399,
 74.12956810631229,
 335.3333333333333,
 60.07666666666667,
 52.843333333333334,
 37.016666666666666,
 75.51,
 32.623333333333335,
 68.98338870431894,
 107.52,
 31.133333333333333,
 68.95341614906832,
 57.093023255813954,
 64.27574750830564,
 39.76393442622951,
 41.53,
 45.41691842900302,
 43.79381443298969,
 56.817275747508305,
 153.75415282392026,
 30.15282392026578,
 30.11295681063123,
 162.21981424148606,
 50.72136222910217,
 145.13931888544892,
 66.78637770897832,
 38.804953560371516,
 79.33024691358025,
 63.858024691358025,
 37.43962848297214,
 63.50617283950617,
 60.635802469135804,
 66.1604938271605,
 48.090062111801245,
 61.69899665551839,
 270.601246105919,
 229.05295950155764,
 52.0404984423676,
 228.92834890965733,
 58.80373831775701,
 54.84735202492212,
 36.82866043613707,
 41.95467422096317,
 121.13312693498452,
 33.33956386292835,
 31.64049079754601,
 77.84755090809026,
 37.829268292682926,
 79.82651622002821,
 53.542857142857144,
 46.25373134328358,
 41.146341463414636,
 45.93333333333333,
 45.46052631578947,
 42.359375,
 38.71739130434783,
 36.06666666666667,
 44.166666666666664,
 42.088235294117645,
 33.87619047619047,
 33.805882352941175,
 45.43478260869565,
 32.23529411764706,
 34.0,
 44.30107526881721,
 147.4,
 49.796460176991154,
 66.65486725663717,
 64.86984126984127,
 40.71739130434783,
 47.967213114754095,
 43.189189189189186,
 38.21951219512195,
 47.043010752688176,
 46.25242718446602,
 38.01123595505618,
 30.901960784313726,
 31.9010989010989,
 56.15853658536585,
 37.83098591549296,
 35.88775510204081,
 69.57291666666667,
 54.24761904761905,
 126.65217391304348,
 85.92380952380952,
 92.23529411764706,
 210.19117647058823,
 32.056338028169016,
 49.31868131868132,
 39.75949367088607,
 35.5,
 36.81521739130435,
 80.1,
 51.19191919191919,
 98.17647058823529,
 32.23913043478261,
 33.857142857142854,
 33.25,
 32.89705882352941,
 33.68888888888889,
 31.632183908045977,
 70.90732265446225,
 30.310344827586206,
 39.675,
 33.0940170940171,
 85.23140495867769,
 40.654639175257735,
 73.69346733668341,
 60.08205128205128,
 58.11448598130841,
 32.23376623376623,
 34.0,
 31.17105263157895,
 30.14018691588785,
 57.28409090909091,
 35.88,
 38.85049833887043,
 30.301003344481604,
 31.896321070234112,
 39.34448160535117,
 39.561872909699,
 34.76744186046512,
 31.691029900332225,
 32.709030100334445,
 30.63545150501672,
 37.67224080267559,
 72.91362126245848,
 41.74054054054054,
 39.75352112676056,
 93.21518987341773,
 36.349514563106794,
 74.05,
 52.5989010989011,
 30.971098265895954,
 31.905263157894737,
 241.82608695652175,
 35.19090909090909,
 40.184895833333336,
 126.25,
 47.25,
 147.27272727272728,
 405.530303030303,
 52.8348623853211,
 95.39969372128637,
 32.06532663316583,
 62.33160621761658,
 78.03603603603604,
 68.10810810810811,
 38.22727272727273,
 81.20689655172414,
 93.23645320197045,
 40.1051051051051,
 44.223684210526315,
 44.786184210526315,
 36.24715909090909,
 83.47234042553191,
 33.412112259970456,
 59.87326120556414,
 56.875,
 57.0,
 59.8625,
 121.75949367088607,
 60.0,
 47.66265060240964,
 39.754901960784316,
 32.09183673469388,
 32.86407766990291,
 55.32954545454545,
 47.72,
 93.98901098901099,
 57.95918367346939,
 61.326530612244895,
 33.990990990990994,
 35.082644628099175,
 31.00862068965517,
 33.83653846153846,
 49.46,
 49.705882352941174,
 30.553571428571427,
 31.06756756756757,
 37.13333333333333,
 32.04761904761905,
 31.316666666666666,
 30.022727272727273,
 36.023809523809526,
 34.45679012345679,
 30.430232558139537,
 31.175,
 32.91044776119403,
 31.19736842105263,
 30.953846153846154,
 31.73913043478261,
 79.76470588235294,
 50.18518518518518,
 61.99047619047619,
 39.15151515151515,
 30.757894736842104,
 33.19565217391305,
 30.904761904761905,
 30.844444444444445,
 62.5625,
 55.47826086956522,
 64.35238095238095,
 57.83116883116883,
 70.38235294117646,
 59.17777777777778,
 55.39393939393939,
 49.15686274509804,
 33.58730158730159,
 59.86206896551724,
 81.56756756756756,
 34.96153846153846,
 87.26666666666667,
 63.02803738317757,
 47.63513513513514,
 50.895833333333336,
 68.625,
 57.20652173913044,
 33.86363636363637,
 37.12747252747253,
 51.52173913043478,
 32.108695652173914,
 31.945454545454545,
 48.25974025974026,
 40.43979057591623,
 46.90909090909091,
 50.48235294117647,
 45.55379746835443,
 37.16825396825397,
 42.17058823529412,
 41.24657534246575,
 30.0,
 30.60909090909091,
 32.858695652173914,
 30.51764705882353,
 30.85,
 98.84324324324324,
 85.23783783783784,
 53.23118279569893,
 52.022222222222226,
 48.30810810810811,
 46.65405405405406,
 41.69892473118279,
 39.1027027027027,
 36.8,
 64.89784946236558,
 75.74054054054054,
 57.854838709677416,
 36.17204301075269,
 36.29323308270677,
 57.3013698630137,
 44.22539682539683,
 30.705882352941178,
 37.86486486486486,
 62.043243243243246,
 31.714285714285715,
 33.454054054054055,
 38.234375,
 46.30434782608695,
 31.243243243243242,
 38.77333333333333,
 30.075949367088608,
 39.744680851063826,
 37.340425531914896,
 49.94285714285714,
 47.223684210526315,
 48.79365079365079,
 48.32608695652174,
 45.388888888888886,
 31.752380952380953,
 30.0,
 59.94562899786781,
 46.131130063965884,
 52.59375,
 37.28048780487805,
 60.869565217391305,
 115.52380952380952,
 48.1948051948052,
 55.13235294117647,
 37.91111111111111,
 60.821621621621624,
 78.21081081081081,
 34.8,
 188.74725274725276,
 117.15789473684211,
 66.11351351351351,
 68.88607594936708,
 42.96808510638298,
 146.8762886597938,
 71.90291262135922,
 92.52727272727273,
 97.93548387096774,
 130.5979381443299,
 91.85263157894737,
 31.776785714285715,
 40.87378640776699,
 130.46938775510205,
 46.52542372881356,
 70.49019607843137,
 36.18181818181818,
 33.391304347826086,
 33.0875,
 30.672897196261683,
 60.98360655737705,
 49.31111111111111,
 48.30508474576271,
 31.27536231884058,
 166.71428571428572,
 45.052287581699346,
 34.775510204081634,
 63.61818181818182,
 39.472727272727276,
 38.28865979381443,
 36.68041237113402,
 37.01149425287356,
 62.888888888888886,
 30.51824817518248,
 47.47872340425532,
 46.108695652173914,
 37.0188679245283,
 37.74301675977654,
 40.45652173913044,
 31.457142857142856,
 35.0,
 30.3625,
 38.6140350877193,
 38.02040816326531,
 56.23728813559322,
 74.82635983263599,
 38.75251798561151,
 61.68888888888889,
 36.718849840255594,
 45.01846153846154,
 34.91076923076923,
 43.032051282051285,
 50.161904761904765,
 41.06962025316456,
 135.6231884057971,
 36.60215053763441,
 30.832432432432434,
 30.586021505376344,
 34.97222222222222,
 31.83783783783784,
 31.82702702702703,
 30.68686868686869,
 33.0,
 37.8,
 34.810810810810814,
 72.6054054054054,
 61.989010989010985,
 34.6972972972973,
 32.885714285714286,
 34.78378378378378,
 57.80434782608695,
 31.993548387096773,
 33.079787234042556,
 30.956756756756757,
 79.26086956521739,
 77.96190476190476,
 80.65789473684211,
 92.04411764705883,
 81.21111111111111,
 37.1764705882353,
 36.91139240506329,
 31.359223300970875,
 34.33870967741935,
 45.20289855072464,
 53.338235294117645,
 35.901234567901234,
 32.27272727272727,
 39.828125,
 58.04040404040404,
 31.293233082706767,
 58.90614886731392,
 35.11724137931034,
 60.758823529411764,
 49.49152542372882,
 89.83838383838383,
 45.44761904761905,
 93.26174496644295,
 50.04040404040404,
 62.696,
 94.0,
 130.25,
 50.59349593495935,
 30.44705882352941,
 84.75824175824175,
 31.206611570247933,
 43.5078125,
 46.5390625,
 51.94166666666667,
 48.97744360902256,
 30.818181818181817,
 35.97979797979798,
 78.86206896551724,
 80.25,
 60.4040404040404,
 39.13978494623656,
 209.32323232323233,
 136.44444444444446,
 41.333333333333336,
 56.65277777777778,
 48.885245901639344,
 54.29054054054054,
 47.27358490566038,
 45.535545023696685,
 59.274881516587676,
 67.5,
 75.78947368421052,
 48.21338912133891,
 50.45070422535211,
 73.66507177033493,
 38.5188679245283,
 42.1712962962963,
 61.06603773584906,
 48.29383886255924,
 60.08530805687204,
 53.60663507109005,
 32.72992700729927,
 40.84931506849315,
 32.593283582089555,
 42.74530831099196,
 37.58163265306123,
 40.08695652173913,
 43.51428571428571,
 35.714285714285715,
 33.970588235294116,
 38.25555555555555,
 41.015625,
 34.17307692307692,
 30.606060606060606,
 31.63157894736842,
 113.63235294117646,
 38.971830985915496,
 50.4375,
 49.816,
 49.12149532710281,
 35.58895705521472,
 49.96,
 52.70068027210884,
 45.12162162162162,
 41.878787878787875,
 45.232,
 38.206896551724135,
 32.75,
 39.464285714285715,
 39.422764227642276,
 36.07692307692308,
 35.74545454545454,
 34.2,
 30.13533834586466,
 30.16030534351145,
 31.025,
 31.1734693877551,
 30.689655172413794,
 33.12307692307692,
 30.46825396825397,
 42.644444444444446,
 34.56578947368421,
 34.43795620437956,
 34.820689655172416,
 38.92253521126761,
 40.74226804123711,
 38.270270270270274,
 30.700680272108844,
 63.863247863247864,
 45.614285714285714,
 47.95744680851064,
 46.88095238095238,
 53.175925925925924,
 49.77777777777778,
 40.741379310344826,
 50.586666666666666,
 49.0,
 84.54166666666667,
 44.31506849315068,
 116.88888888888889,
 49.88461538461539,
 46.99065420560748,
 44.0,
 104.18867924528301,
 58.25,
 42.96938775510204,
 243.32608695652175,
 44.0,
 55.67567567567568,
 58.073170731707314,
 60.47457627118644,
 60.72727272727273,
 55.1764705882353,
 58.97560975609756,
 62.8,
 55.111111111111114,
 52.850746268656714,
 69.02702702702703,
 34.26373626373626,
 65.35555555555555,
 64.8923076923077,
 34.80882352941177,
 38.63513513513514,
 37.1413612565445,
 31.799011532125206,
 30.354477611940297,
 31.58974358974359,
 51.11607142857143,
 37.65217391304348,
 30.58695652173913,
 33.38095238095238,
 31.67105263157895,
 32.088235294117645,
 31.11764705882353,
 56.69925925925926,
 36.92307692307692,
 60.44230769230769,
 35.54838709677419,
 51.310810810810814,
 46.0,
 44.53191489361702,
 45.84415584415584,
 49.1578947368421,
 39.75,
 36.016949152542374,
 35.987541528239205,
 38.54666666666667,
 38.815384615384616,
 40.58974358974359,
 39.28358208955224,
 38.97959183673469,
 42.0,
 44.0,
 45.86206896551724,
 30.83809523809524,
 33.775,
 63.55357142857143,
 95.44827586206897,
 55.671052631578945,
 62.70194384449244,
 40.005649717514125,
 60.78164556962025,
 35.88701923076923,
 42.46466809421842,
 64.57142857142857,
 48.924050632911396,
 48.57872340425532,
 54.505399568034555,
 39.13235294117647,
 32.2,
 31.958490566037735,
 30.0,
 47.444954128440365,
 47.2,
 44.52173913043478,
 55.39705882352941,
 33.51219512195122,
 30.478991596638654,
 34.98717948717949,
 31.5,
 33.859154929577464,
 30.48,
 31.243589743589745,
 36.1530612244898,
 30.398058252427184,
 58.32231404958678,
 35.297872340425535,
 34.0,
 39.93478260869565,
 30.02020202020202,
 34.55882352941177,
 31.9625,
 37.528301886792455,
 32.21739130434783,
 36.31111111111111,
 34.046898638426626,
 30.58823529411765,
 30.767857142857142,
 33.48,
 31.416666666666668,
 32.680851063829785,
 31.786516853932586,
 32.567567567567565,
 33.38834951456311,
 31.070422535211268,
 54.92929292929293,
 37.845454545454544,
 43.8469387755102,
 54.583333333333336,
 40.53015873015873,
 88.67391304347827,
 87.07619047619048,
 88.17105263157895,
 85.76470588235294,
 89.05555555555556,
 30.832432432432434,
 45.51239669421488,
 33.13235294117647,
 64.34499205087441,
 137.15217391304347,
 140.91304347826087,
 99.32222222222222,
 90.22368421052632,
 154.08823529411765,
 96.95652173913044,
 32.470588235294116,
 58.41304347826087,
 38.55789473684211,
 42.79746835443038,
 55.12972972972973,
 38.42162162162162,
 37.387951807228916,
 95.3913043478261,
 61.58695652173913,
 75.0,
 35.75,
 30.21875,
 35.8021978021978,
 42.79611650485437,
 33.873684210526314,
 36.66169154228856,
 42.723684210526315,
 35.48076923076923,
 33.0,
 135.80434782608697,
 48.72727272727273,
 68.0,
 81.25531914893617,
 39.57446808510638,
 68.84183673469387,
 30.63963963963964,
 31.45762711864407,
 41.39473684210526,
 59.661764705882355,
 34.11392405063291,
 43.25,
 39.65822784810127,
 37.8235294117647,
 37.75824175824176,
 38.23913043478261,
 36.548780487804876,
 38.3968253968254,
 82.44303797468355,
 33.89473684210526,
 93.83823529411765,
 31.936802973977695,
 50.02173913043478,
 175.4255319148936,
 174.96052631578948,
 142.83823529411765,
 300.7608695652174,
 112.62162162162163,
 32.45697329376855,
 34.836363636363636,
 54.53333333333333,
 33.26315789473684,
 30.345794392523363,
 101.39189189189189,
 66.93333333333334,
 37.5679012345679,
 42.65079365079365,
 44.1764705882353,
 42.45205479452055,
 46.2375,
 33.84615384615385,
 30.043956043956044,
 33.82222222222222,
 31.705263157894738,
 72.24137931034483,
 39.542857142857144,
 31.83599088838269,
 168.5,
 38.18571428571428,
 32.42857142857143,
 35.064516129032256,
 61.71621621621622,
 85.57627118644068,
 104.7,
 58.75,
 30.01818181818182,
 44.016129032258064,
 48.33410672853828,
 34.304761904761904,
 40.83280757097792,
 36.142857142857146,
 90.51612903225806,
 52.76978417266187,
 32.42857142857143,
 43.564625850340136,
 33.23809523809524,
 35.7956204379562,
 36.11724137931034,
 39.82394366197183,
 31.71323529411765,
 31.0,
 55.73913043478261,
 58.733333333333334,
 49.896103896103895,
 53.75,
 53.93333333333333,
 39.39506172839506,
 48.869565217391305,
 39.479166666666664,
 38.05263157894737,
 81.12621359223301,
 32.57219251336898,
 40.16326530612245,
 43.00970873786408,
 34.403669724770644,
 51.483870967741936,
 37.214285714285715,
 32.06185567010309,
 59.09708737864078,
 50.522935779816514,
 37.03061224489796,
 40.077669902912625,
 77.26262626262626,
 61.56435643564357,
 35.114583333333336,
 46.65,
 45.03488372093023,
 35.142857142857146,
 32.45945945945946,
 30.010526315789473,
 30.829787234042552,
 77.72058823529412,
 37.56521739130435,
 34.34285714285714,
 36.98684210526316,
 35.75,
 33.96666666666667,
 35.28260869565217,
 54.15217391304348,
 106.70212765957447,
 67.0,
 128.80882352941177,
 72.75949367088607,
 34.262135922330096,
 40.34782608695652,
 47.7875,
 44.392857142857146,
 38.31238447319778,
 43.63525835866261,
 48.14705882352941,
 34.00874635568513,
 44.55042016806723,
 37.043103448275865,
 31.450657894736842,
 96.44970414201184,
 44.5,
 38.431372549019606,
 36.41891891891892,
 32.41772151898734,
 42.58888888888889,
 30.73846153846154,
 45.0,
 45.733333333333334,
 45.05263157894737,
 39.88235294117647,
 44.0,
 53.23529411764706,
 31.872340425531913,
 33.82786885245902,
 31.74590163934426,
 31.75,
 33.083333333333336,
 30.659574468085108,
 30.0,
 32.7,
 36.7787610619469,
 34.875,
 32.43809523809524,
 30.394736842105264,
 35.63235294117647,
 30.72826086956522,
 32.56521739130435,
 74.41304347826087,
 30.43421052631579,
 48.422222222222224,
 32.30434782608695,
 34.74757281553398,
 ...]

In [60]:
sorted(value_list, reverse = True)

[2042.0375,
 1039.6818181818182,
 912.0957446808511,
 883.5822784810126,
 868.021978021978,
 516.080459770115,
 492.9837837837838,
 492.0,
 489.1142857142857,
 488.04761904761904,
 482.4742268041237,
 477.17894736842106,
 474.38829787234044,
 472.9578947368421,
 467.3440860215054,
 467.16494845360825,
 420.69565217391306,
 405.530303030303,
 335.3333333333333,
 300.7608695652174,
 270.601246105919,
 269.4891304347826,
 243.32608695652175,
 241.82608695652175,
 237.8877551020408,
 237.13622291021673,
 229.05295950155764,
 228.92834890965733,
 222.66315789473686,
 220.126213592233,
 216.40816326530611,
 212.125,
 210.19117647058823,
 209.32323232323233,
 197.23684210526315,
 195.6524064171123,
 193.13,
 190.71428571428572,
 188.74725274725276,
 183.60752688172042,
 182.13333333333333,
 176.84782608695653,
 176.2058823529412,
 175.4255319148936,
 174.96052631578948,
 168.5,
 166.71428571428572,
 166.00928792569658,
 164.58878504672896,
 162.21981424148606,
 154.86624203821657,
 154.08823529411765,
 153.75415282392026,
 147.4,
 147.27272727272728,
 146.8762886597938,
 145.13931888544892,
 144.93939393939394,
 142.83823529411765,
 140.91304347826087,
 137.15217391304347,
 136.44444444444446,
 135.80434782608697,
 135.6231884057971,
 130.5979381443299,
 130.46938775510205,
 130.25,
 128.80882352941177,
 126.65217391304348,
 126.25,
 121.75949367088607,
 121.13312693498452,
 117.32283464566929,
 117.15789473684211,
 116.91666666666667,
 116.88888888888889,
 115.52380952380952,
 113.63235294117646,
 112.62162162162163,
 107.52,
 106.70212765957447,
 104.7,
 104.22916666666667,
 104.18867924528301,
 101.39189189189189,
 99.32222222222222,
 98.88372093023256,
 98.84324324324324,
 98.17647058823529,
 97.93548387096774,
 96.95652173913044,
 96.62105263157895,
 96.44970414201184,
 95.9,
 95.58095238095238,
 95.44827586206897,
 95.39969372128637,
 95.3913043478261,
 94.3298969072165,
 94.19130434782609,
 94.0,
 93.98901098901099,
 93.83823529411765,
 93.26174496644295,
 93.23645320197045,
 93.21518987341773,
 92.52727272727273,
 92.23529411764706,
 92.04411764705883,
 91.85263157894737,
 90.51612903225806,
 90.22368421052632,
 89.83838383838383,
 89.33705357142857,
 89.05555555555556,
 88.67391304347827,
 88.17105263157895,
 87.26666666666667,
 87.07619047619048,
 85.92380952380952,
 85.76470588235294,
 85.57627118644068,
 85.23783783783784,
 85.23140495867769,
 85.2,
 84.75824175824175,
 84.54166666666667,
 83.47234042553191,
 83.03225806451613,
 82.92647058823529,
 82.86666666666666,
 82.44303797468355,
 81.56756756756756,
 81.25531914893617,
 81.21111111111111,
 81.20689655172414,
 81.12621359223301,
 80.65789473684211,
 80.57297297297298,
 80.25,
 80.1,
 79.82651622002821,
 79.76470588235294,
 79.33024691358025,
 79.26086956521739,
 78.86206896551724,
 78.4186046511628,
 78.21081081081081,
 78.03603603603604,
 77.96190476190476,
 77.84755090809026,
 77.72058823529412,
 77.45899632802937,
 77.26262626262626,
 76.8659793814433,
 75.78947368421052,
 75.74054054054054,
 75.625,
 75.51,
 75.0,
 74.82635983263599,
 74.41304347826087,
 74.12956810631229,
 74.07476635514018,
 74.05,
 73.69346733668341,
 73.66507177033493,
 72.91362126245848,
 72.75949367088607,
 72.6054054054054,
 72.24137931034483,
 72.1029411764706,
 71.90291262135922,
 71.56190476190476,
 70.90732265446225,
 70.49019607843137,
 70.38235294117646,
 69.96190476190476,
 69.57291666666667,
 69.29523809523809,
 69.02702702702703,
 69.0,
 68.98338870431894,
 68.95341614906832,
 68.88607594936708,
 68.84183673469387,
 68.625,
 68.10810810810811,
 68.0,
 67.57894736842105,
 67.5,
 67.0,
 66.93333333333334,
 66.78637770897832,
 66.74130105900151,
 66.65486725663717,
 66.65277777777777,
 66.58675078864353,
 66.1604938271605,
 66.11351351351351,
 65.35555555555555,
 64.9493670886076,
 64.89784946236558,
 64.8923076923077,
 64.86984126984127,
 64.57142857142857,
 64.35238095238095,
 64.34499205087441,
 64.27574750830564,
 64.2394366197183,
 64.11428571428571,
 63.863247863247864,
 63.858024691358025,
 63.85436893203884,
 63.61818181818182,
 63.55357142857143,
 63.50617283950617,
 63.02803738317757,
 62.888888888888886,
 62.87567567567567,
 62.8,
 62.8,
 62.70194384449244,
 62.696,
 62.5625,
 62.33160621761658,
 62.10333333333333,
 62.043243243243246,
 61.99047619047619,
 61.989010989010985,
 61.81884057971015,
 61.71621621621622,
 61.69899665551839,
 61.68888888888889,
 61.58695652173913,
 61.56435643564357,
 61.326530612244895,
 61.26086956521739,
 61.06603773584906,
 61.0,
 60.98360655737705,
 60.869565217391305,
 60.821621621621624,
 60.78164556962025,
 60.758823529411764,
 60.72727272727273,
 60.635802469135804,
 60.47457627118644,
 60.44230769230769,
 60.4040404040404,
 60.08530805687204,
 60.08205128205128,
 60.07666666666667,
 60.0,
 59.97014925373134,
 59.94562899786781,
 59.87326120556414,
 59.8625,
 59.86206896551724,
 59.83892617449664,
 59.8051948051948,
 59.661764705882355,
 59.274881516587676,
 59.17777777777778,
 59.09708737864078,
 58.97560975609756,
 58.90614886731392,
 58.80373831775701,
 58.75,
 58.733333333333334,
 58.61794019933555,
 58.54814814814815,
 58.46478873239437,
 58.41304347826087,
 58.37434554973822,
 58.32231404958678,
 58.25,
 58.167883211678834,
 58.11448598130841,
 58.073170731707314,
 58.05,
 58.04040404040404,
 58.008,
 57.95918367346939,
 57.854838709677416,
 57.83116883116883,
 57.80434782608695,
 57.5375,
 57.3013698630137,
 57.28409090909091,
 57.20652173913044,
 57.093023255813954,
 57.03260869565217,
 57.0,
 56.875,
 56.817275747508305,
 56.69925925925926,
 56.66914498141264,
 56.65277777777778,
 56.59574468085106,
 56.23728813559322,
 56.15853658536585,
 56.09657320872274,
 55.73913043478261,
 55.6972972972973,
 55.67567567567568,
 55.671052631578945,
 55.522222222222226,
 55.47826086956522,
 55.39705882352941,
 55.39393939393939,
 55.32954545454545,
 55.1764705882353,
 55.14705882352941,
 55.13235294117647,
 55.12972972972973,
 55.111111111111114,
 54.92929292929293,
 54.84735202492212,
 54.583333333333336,
 54.53333333333333,
 54.505399568034555,
 54.29054054054054,
 54.24761904761905,
 54.15217391304348,
 54.054054054054056,
 53.93333333333333,
 53.75,
 53.60663507109005,
 53.542857142857144,
 53.4375,
 53.338235294117645,
 53.23529411764706,
 53.23118279569893,
 53.175925925925924,
 53.0,
 52.850746268656714,
 52.843333333333334,
 52.8348623853211,
 52.76978417266187,
 52.70068027210884,
 52.5989010989011,
 52.59375,
 52.56043956043956,
 52.0404984423676,
 52.022222222222226,
 51.98936170212766,
 51.95652173913044,
 51.9496855345912,
 51.94166666666667,
 51.67619047619048,
 51.658093797276855,
 51.52173913043478,
 51.483870967741936,
 51.43478260869565,
 51.310810810810814,
 51.19191919191919,
 51.11607142857143,
 50.895833333333336,
 50.88721804511278,
 50.78651685393258,
 50.72136222910217,
 50.59349593495935,
 50.586666666666666,
 50.522935779816514,
 50.48235294117647,
 50.45070422535211,
 50.4375,
 50.3687707641196,
 50.330882352941174,
 50.18518518518518,
 50.161904761904765,
 50.05,
 50.04040404040404,
 50.02173913043478,
 49.96,
 49.94285714285714,
 49.896103896103895,
 49.88461538461539,
 49.816,
 49.796460176991154,
 49.77777777777778,
 49.705882352941174,
 49.49152542372882,
 49.46,
 49.31868131868132,
 49.31111111111111,
 49.19444444444444,
 49.1578947368421,
 49.15686274509804,
 49.12149532710281,
 49.0,
 48.97744360902256,
 48.924050632911396,
 48.885245901639344,
 48.869565217391305,
 48.79365079365079,
 48.72727272727273,
 48.57872340425532,
 48.54337899543379,
 48.47849462365591,
 48.473118279569896,
 48.422222222222224,
 48.33410672853828,
 48.32608695652174,
 48.30810810810811,
 48.30508474576271,
 48.29383886255924,
 48.25974025974026,
 48.21338912133891,
 48.20792079207921,
 48.1948051948052,
 48.14705882352941,
 48.090062111801245,
 48.0722891566265,
 47.967213114754095,
 47.95744680851064,
 47.87417218543046,
 47.7875,
 47.72,
 47.66265060240964,
 47.647840531561464,
 47.63513513513514,
 47.56962025316456,
 47.47872340425532,
 47.444954128440365,
 47.39705882352941,
 47.27358490566038,
 47.25,
 47.223684210526315,
 47.2,
 47.043010752688176,
 46.99065420560748,
 46.90909090909091,
 46.88095238095238,
 46.760975609756095,
 46.723076923076924,
 46.65405405405406,
 46.65,
 46.5390625,
 46.52542372881356,
 46.30434782608695,
 46.285714285714285,
 46.25373134328358,
 46.25242718446602,
 46.2375,
 46.131130063965884,
 46.108695652173914,
 46.0,
 45.94117647058823,
 45.93333333333333,
 45.87096774193548,
 45.86206896551724,
 45.84415584415584,
 45.733333333333334,
 45.72727272727273,
 45.614285714285714,
 45.55379746835443,
 45.535545023696685,
 45.529411764705884,
 45.51239669421488,
 45.46052631578947,
 45.44761904761905,
 45.43478260869565,
 45.41691842900302,
 45.388888888888886,
 45.232,
 45.20289855072464,
 45.12162162162162,
 45.06802721088435,
 45.05263157894737,
 45.052287581699346,
 45.03488372093023,
 45.01846153846154,
 45.002164502164504,
 45.0,
 44.786184210526315,
 44.55042016806723,
 44.53191489361702,
 44.52173913043478,
 44.5,
 44.392857142857146,
 44.38205980066445,
 44.3394495412844,
 44.31506849315068,
 44.30107526881721,
 44.26829268292683,
 44.22539682539683,
 44.223684210526315,
 44.205882352941174,
 44.1764705882353,
 44.166666666666664,
 44.016129032258064,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 43.91304347826087,
 43.87567567567567,
 43.8469387755102,
 43.79381443298969,
 43.63525835866261,
 43.564625850340136,
 43.51428571428571,
 43.5078125,
 43.36619718309859,
 43.352112676056336,
 43.25,
 43.193409742120345,
 43.189189189189186,
 43.17391304347826,
 43.095238095238095,
 43.032051282051285,
 43.00970873786408,
 42.96938775510204,
 42.96808510638298,
 42.79746835443038,
 42.79611650485437,
 42.74530831099196,
 42.723684210526315,
 42.65079365079365,
 42.644444444444446,
 42.58888888888889,
 42.47826086956522,
 42.46466809421842,
 42.45205479452055,
 42.359375,
 42.317880794701985,
 42.266666666666666,
 42.17297297297297,
 42.1712962962963,
 42.17058823529412,
 42.088235294117645,
 42.077922077922075,
 42.0,
 41.95467422096317,
 41.878787878787875,
 41.76323987538941,
 41.74054054054054,
 41.69892473118279,
 41.654411764705884,
 41.53,
 41.39473684210526,
 41.333333333333336,
 41.24657534246575,
 41.146341463414636,
 41.06962025316456,
 41.015625,
 40.87378640776699,
 40.84931506849315,
 40.83280757097792,
 40.74226804123711,
 40.741379310344826,
 40.71739130434783,
 40.67857142857143,
 40.654639175257735,
 40.58974358974359,
 40.56216216216216,
 40.53518123667377,
 40.53015873015873,
 40.45652173913044,
 40.43979057591623,
 40.34782608695652,
 40.184895833333336,
 40.16326530612245,
 40.15,
 40.1051051051051,
 40.08695652173913,
 40.077669902912625,
 40.005649717514125,
 39.93478260869565,
 39.90909090909091,
 39.88333333333333,
 39.88235294117647,
 39.828125,
 39.82394366197183,
 39.76393442622951,
 39.75949367088607,
 39.754901960784316,
 39.75352112676056,
 39.75,
 39.744680851063826,
 39.72432432432432,
 39.675,
 39.65822784810127,
 39.59909228441755,
 39.57446808510638,
 39.561872909699,
 39.542857142857144,
 39.5,
 39.479166666666664,
 39.472727272727276,
 39.464285714285715,
 39.422764227642276,
 39.39506172839506,
 39.34448160535117,
 39.28358208955224,
 39.18105849582173,
 39.15415019762846,
 39.15151515151515,
 39.13978494623656,
 39.13235294117647,
 39.1027027027027,
 39.0,
 38.97959183673469,
 38.971830985915496,
 38.92599620493359,
 38.92253521126761,
 38.85049833887043,
 38.815384615384616,
 38.804953560371516,
 38.7906976744186,
 38.77333333333333,
 38.75251798561151,
 38.71739130434783,
 38.67934782608695,
 38.63513513513514,
 38.6140350877193,
 38.60294117647059,
 38.55789473684211,
 38.54666666666667,
 38.5188679245283,
 38.431372549019606,
 38.42162162162162,
 38.3968253968254,
 38.31238447319778,
 38.31229235880399,
 38.28865979381443,
 38.270270270270274,
 38.25555555555555,
 38.23913043478261,
 38.234375,
 38.22727272727273,
 38.21951219512195,
 38.206896551724135,
 38.18571428571428,
 38.05263157894737,
 38.0253164556962,
 38.02040816326531,
 38.01123595505618,
 37.97011952191235,
 37.91111111111111,
 37.86486486486486,
 37.845454545454544,
 37.83098591549296,
 37.829268292682926,
 37.8235294117647,
 37.8,
 37.78260869565217,
 37.75824175824176,
 37.74301675977654,
 37.67224080267559,
 37.65217391304348,
 37.58163265306123,
 37.5679012345679,
 37.56521739130435,
 37.544444444444444,
 37.528301886792455,
 37.43962848297214,
 37.39156626506024,
 37.387951807228916,
 37.34426229508197,
 37.340425531914896,
 37.28048780487805,
 37.23157894736842,
 37.214285714285715,
 37.211699164345404,
 37.2,
 37.178378378378376,
 37.1764705882353,
 37.16825396825397,
 37.1413612565445,
 37.13333333333333,
 37.12747252747253,
 37.09090909090909,
 37.043103448275865,
 37.03061224489796,
 37.0188679245283,
 37.016666666666666,
 37.01149425287356,
 36.98684210526316,
 36.92307692307692,
 36.91139240506329,
 36.82866043613707,
 36.81521739130435,
 36.8,
 36.7787610619469,
 36.718849840255594,
 36.68041237113402,
 36.66169154228856,
 36.60215053763441,
 36.58378378378379,
 36.548780487804876,
 36.42857142857143,
 36.41891891891892,
 36.349514563106794,
 36.32972972972973,
 36.31111111111111,
 36.29323308270677,
 36.24715909090909,
 36.18181818181818,
 36.17204301075269,
 36.1530612244898,
 36.142857142857146,
 36.11724137931034,
 36.10112359550562,
 36.08411214953271,
 36.08108108108108,
 36.07692307692308,
 36.06666666666667,
 36.023809523809526,
 36.016949152542374,
 35.987541528239205,
 35.97979797979798,
 35.901234567901234,
 35.88775510204081,
 35.88701923076923,
 35.88,
 35.8054054054054,
 35.8021978021978,
 35.7956204379562,
 35.75,
 35.75,
 35.74545454545454,
 35.74226804123711,
 35.714285714285715,
 35.7037037037037,
 35.66339869281046,
 35.63235294117647,
 35.606106870229006,
 35.58895705521472,
 35.58252427184466,
 35.54838709677419,
 35.5,
 35.484848484848484,
 35.48076923076923,
 35.47826086956522,
 35.41081081081081,
 35.329896907216494,
 35.297872340425535,
 35.28260869565217,
 35.25,
 35.19090909090909,
 35.142857142857146,
 35.11724137931034,
 35.114583333333336,
 35.082644628099175,
 35.064516129032256,
 35.02173913043478,
 35.0,
 34.98717948717949,
 34.97222222222222,
 34.970588235294116,
 34.96822995461422,
 34.96153846153846,
 34.94897959183673,
 34.91076923076923,
 34.8974358974359,
 34.875,
 34.836363636363636,
 34.820689655172416,
 34.810810810810814,
 34.80882352941177,
 34.8,
 34.78378378378378,
 34.78378378378378,
 34.775510204081634,
 34.77297297297297,
 34.76744186046512,
 34.76712328767123,
 34.75454545454546,
 34.74757281553398,
 34.739255014326645,
 34.730897009966775,
 34.6972972972973,
 34.607142857142854,
 34.57446808510638,
 34.56578947368421,
 34.55882352941177,
 34.45679012345679,
 34.43795620437956,
 34.403669724770644,
 34.34285714285714,
 34.33870967741935,
 34.304761904761904,
 34.294117647058826,
 34.26373626373626,
 34.262135922330096,
 34.2,
 34.17307692307692,
 34.11392405063291,
 34.046898638426626,
 34.01481481481481,
 34.00874635568513,
 34.0,
 34.0,
 34.0,
 34.0,
 33.990990990990994,
 33.970588235294116,
 33.96666666666667,
 33.951219512195124,
 33.89473684210526,
 33.87619047619047,
 33.873684210526314,
 33.871428571428574,
 33.86363636363637,
 33.859154929577464,
 33.857142857142854,
 33.857142857142854,
 33.84615384615385,
 33.83653846153846,
 33.82786885245902,
 33.82222222222222,
 33.81621621621622,
 33.81621621621622,
 33.805882352941175,
 33.775,
 33.76470588235294,
 33.69716088328076,
 33.69117647058823,
 33.68888888888889,
 33.6578947368421,
 33.628571428571426,
 33.58730158730159,
 33.55555555555556,
 33.51219512195122,
 33.48936170212766,
 33.48,
 33.476190476190474,
 33.454054054054055,
 33.424,
 33.412112259970456,
 33.40816326530612,
 33.391304347826086,
 33.38834951456311,
 33.38095238095238,
 33.33956386292835,
 33.26315789473684,
 33.25,
 33.23809523809524,
 33.19565217391305,
 33.13235294117647,
 33.12307692307692,
 33.0940170940171,
 33.0875,
 33.083333333333336,
 33.079787234042556,
 33.01993355481728,
 33.01086956521739,
 33.0,
 33.0,
 33.0,
 32.98715203426124,
 32.97826086956522,
 32.923809523809524,
 32.91044776119403,
 32.89705882352941,
 32.88704318936877,
 32.885714285714286,
 32.86407766990291,
 32.858695652173914,
 32.821621621621624,
 32.75,
 32.72992700729927,
 32.709030100334445,
 32.7,
 32.680851063829785,
 32.63265306122449,
 32.623333333333335,
 32.593283582089555,
 32.57219251336898,
 32.567567567567565,
 32.56521739130435,
 32.55882352941177,
 32.525,
 32.470588235294116,
 32.45945945945946,
 32.45697329376855,
 32.43809523809524,
 32.42857142857143,
 32.42857142857143,
 32.42553191489362,
 32.41772151898734,
 32.38235294117647,
 32.34285714285714,
 32.329787234042556,
 32.31521739130435,
 32.30434782608695,
 32.27272727272727,
 32.23913043478261,
 32.23529411764706,
 32.23376623376623,
 32.21739130434783,
 32.2,
 32.108695652173914,
 32.0921052631579,
 32.09183673469388,
 32.088235294117645,
 32.06532663316583,
 32.06185567010309,
 32.056338028169016,
 32.04761904761905,
 31.993548387096773,
 31.987951807228917,
 31.98032786885246,
 31.9625,
 31.961904761904762,
 31.958490566037735,
 31.95505617977528,
 31.945454545454545,
 31.936802973977695,
 31.905263157894737,
 31.9010989010989,
 31.896321070234112,
 31.872340425531913,
 31.83783783783784,
 31.83599088838269,
 31.82857142857143,
 31.82702702702703,
 31.799011532125206,
 31.793333333333333,
 31.786516853932586,
 31.776785714285715,
 31.752380952380953,
 31.75,
 31.74590163934426,
 31.73913043478261,
 31.735408560311285,
 31.723809523809525,
 31.714285714285715,
 31.71323529411765,
 31.705263157894738,
 31.691029900332225,
 31.67105263157895,
 31.655913978494624,
 31.64049079754601,
 31.632183908045977,
 31.63157894736842,
 31.58974358974359,
 31.5,
 31.459627329192546,
 31.45762711864407,
 31.457142857142856,
 31.450657894736842,
 31.416666666666668,
 31.39240506329114,
 31.376623376623378,
 31.369565217391305,
 31.359223300970875,
 31.338983050847457,
 31.316666666666666,
 31.305647840531563,
 31.293233082706767,
 31.27536231884058,
 31.25,
 31.243589743589745,
 31.243243243243242,
 31.206611570247933,
 31.19736842105263,
 31.175,
 31.1734693877551,
 31.17105263157895,
 31.133333333333333,
 31.11764705882353,
 31.070422535211268,
 31.069565217391304,
 31.06756756756757,
 31.025,
 31.00862068965517,
 31.0,
 31.0,
 30.971098265895954,
 30.956756756756757,
 30.953846153846154,
 30.946902654867255,
 30.945945945945947,
 30.928571428571427,
 30.904761904761905,
 30.901960784313726,
 30.901041666666668,
 30.896103896103895,
 30.85,
 30.844444444444445,
 30.83809523809524,
 30.832432432432434,
 30.832432432432434,
 30.829787234042552,
 30.818181818181817,
 30.804878048780488,
 30.803571428571427,
 30.767857142857142,
 30.757894736842104,
 30.73846153846154,
 30.72826086956522,
 30.705882352941178,
 30.700680272108844,
 30.689655172413794,
 30.68686868686869,
 ...]

### 학습 및 검증 데이터 생성 
- train : 시청 이력의 80%를 사용 
- valid : 시청 이력의 20%를 사용

In [52]:
# 데이터 전처리 (중복제거) 
# 참고 : drop_duplicates의 subset을 무엇으로 구성하냐에 따라서 제거되는 항목들이 다름 
# ex) 'profile_id', 'album_id' : 중복된 시청이력 모두 제거 / 'profile_id', 'album_id', 'log_time' : 같은 시간에 시청한 이력만 제거 
data = history_df[['profile_id', 'album_id']].drop_duplicates(subset=['profile_id', 'album_id']).sort_values(by = ['profile_id']).reset_index(drop = True)
data['rating'] = 1

cfg.n_users = data.profile_id.max()+1
cfg.n_items = data.album_id.max()+1

In [53]:
# 학습 및 검증 데이터 분리
train, valid = train_test_split(
    data, test_size=cfg.test_size, random_state=cfg.seed,
)
print('학습 데이터 크기:', train.shape)
print('검증 데이터 크기:', valid.shape)

학습 데이터 크기: (304437, 3)
검증 데이터 크기: (76110, 3)

In [54]:
# Matrix 형태로 변환 
train = train.to_numpy()
matrix = sparse.lil_matrix((cfg.n_users, cfg.n_items))  #
for (p, i, r) in tqdm(train):
    matrix[p, i] = r
    
train = sparse.csr_matrix(matrix)
train = train.toarray()
print("train 형태: \n", train)

  0%|          | 0/304437 [00:00<?, ?it/s]

train 형태:
 [[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [55]:
profile_df = profile_df.set_index('profile_id')

In [56]:
le = LabelEncoder()
profile_df['sex'] = le.fit_transform(profile_df['sex'])
profile_df['pr_interest_keyword_cd_1'] = le.fit_transform(profile_df['pr_interest_keyword_cd_1'])
profile_df['pr_interest_keyword_cd_2'] = le.fit_transform(profile_df['pr_interest_keyword_cd_2'])
profile_df['pr_interest_keyword_cd_3'] = le.fit_transform(profile_df['pr_interest_keyword_cd_3'])
profile_df['ch_interest_keyword_cd_1'] = le.fit_transform(profile_df['ch_interest_keyword_cd_1'])
profile_df['ch_interest_keyword_cd_2'] = le.fit_transform(profile_df['ch_interest_keyword_cd_2'])
profile_df['ch_interest_keyword_cd_3'] = le.fit_transform(profile_df['ch_interest_keyword_cd_3'])

In [57]:
# 유저 특징 정보 추출 
user_features = profile_df[['age', 'sex',
                            'pr_interest_keyword_cd_1',
                            'pr_interest_keyword_cd_2',
                            'pr_interest_keyword_cd_3',
                            'ch_interest_keyword_cd_1',
                            'ch_interest_keyword_cd_2',
                            'ch_interest_keyword_cd_3']].to_dict()
print("user_id 3의 age 정보 :", user_features['age'][3])

user_id 3의 age 정보 : 5

In [58]:
user_features['pr_interest_keyword_cd_1']

{3: 1,
 5: 6,
 7: 4,
 12: 2,
 16: 2,
 19: 4,
 20: 6,
 22: 5,
 24: 4,
 26: 0,
 27: 1,
 30: 0,
 31: 4,
 33: 1,
 35: 7,
 55: 5,
 56: 0,
 59: 2,
 62: 6,
 63: 0,
 66: 6,
 68: 1,
 74: 1,
 77: 5,
 80: 5,
 89: 6,
 94: 5,
 96: 5,
 101: 5,
 102: 2,
 103: 0,
 109: 1,
 110: 4,
 115: 5,
 116: 3,
 118: 0,
 121: 7,
 122: 4,
 124: 0,
 127: 6,
 129: 7,
 130: 6,
 136: 5,
 137: 5,
 139: 1,
 144: 1,
 150: 6,
 152: 0,
 156: 3,
 165: 5,
 170: 5,
 172: 0,
 176: 3,
 179: 1,
 181: 0,
 182: 4,
 187: 4,
 192: 0,
 193: 6,
 195: 1,
 198: 5,
 201: 4,
 207: 2,
 209: 6,
 211: 0,
 214: 1,
 220: 7,
 228: 0,
 229: 4,
 230: 3,
 233: 3,
 240: 5,
 248: 1,
 251: 1,
 255: 0,
 258: 5,
 260: 0,
 261: 0,
 264: 2,
 279: 6,
 290: 0,
 292: 6,
 293: 7,
 300: 4,
 302: 1,
 303: 5,
 304: 1,
 307: 5,
 309: 3,
 316: 5,
 317: 6,
 321: 5,
 326: 1,
 327: 5,
 335: 3,
 338: 6,
 345: 1,
 346: 0,
 349: 1,
 350: 4,
 358: 6,
 361: 5,
 363: 6,
 364: 4,
 369: 4,
 370: 7,
 372: 3,
 373: 0,
 384: 1,
 390: 2,
 395: 0,
 397: 7,
 399: 5,
 402: 6,
 407: 5,
 408: 3,
 411: 3,
 414: 2,
 415: 6,
 417: 5,
 420: 3,
 423: 1,
 436: 1,
 444: 0,
 447: 0,
 448: 0,
 450: 1,
 452: 0,
 457: 5,
 459: 1,
 462: 1,
 463: 2,
 464: 2,
 465: 0,
 471: 5,
 472: 6,
 478: 4,
 479: 0,
 486: 2,
 489: 2,
 491: 1,
 493: 1,
 495: 1,
 503: 5,
 514: 0,
 518: 5,
 525: 5,
 527: 6,
 530: 2,
 533: 3,
 534: 1,
 537: 7,
 539: 4,
 541: 7,
 546: 5,
 551: 7,
 561: 0,
 567: 0,
 570: 0,
 572: 2,
 574: 0,
 579: 2,
 580: 4,
 581: 1,
 582: 6,
 587: 6,
 590: 5,
 594: 6,
 595: 3,
 603: 1,
 604: 5,
 607: 5,
 610: 2,
 613: 0,
 616: 1,
 621: 6,
 622: 5,
 626: 1,
 629: 4,
 637: 2,
 645: 5,
 647: 2,
 648: 1,
 649: 4,
 653: 2,
 654: 2,
 664: 6,
 670: 1,
 671: 0,
 673: 4,
 695: 4,
 700: 1,
 702: 6,
 704: 1,
 705: 5,
 712: 2,
 717: 2,
 721: 5,
 725: 1,
 726: 6,
 727: 2,
 729: 2,
 734: 7,
 735: 5,
 736: 6,
 738: 5,
 740: 6,
 743: 2,
 748: 2,
 749: 4,
 753: 0,
 754: 2,
 758: 0,
 759: 4,
 762: 1,
 764: 5,
 769: 1,
 770: 1,
 777: 5,
 779: 7,
 782: 6,
 788: 1,
 793: 2,
 798: 4,
 804: 3,
 805: 0,
 808: 6,
 810: 2,
 814: 5,
 815: 3,
 816: 0,
 824: 3,
 826: 0,
 832: 1,
 848: 6,
 854: 5,
 855: 3,
 857: 6,
 861: 3,
 862: 3,
 863: 1,
 874: 6,
 879: 6,
 884: 0,
 891: 3,
 893: 3,
 896: 1,
 897: 1,
 908: 5,
 910: 1,
 916: 5,
 925: 4,
 929: 6,
 931: 0,
 935: 3,
 936: 1,
 943: 4,
 947: 2,
 948: 0,
 950: 5,
 951: 1,
 953: 1,
 960: 0,
 964: 5,
 970: 3,
 973: 7,
 975: 3,
 977: 1,
 980: 2,
 981: 6,
 985: 5,
 988: 2,
 989: 4,
 990: 5,
 993: 4,
 994: 2,
 999: 1,
 1002: 5,
 1007: 1,
 1012: 4,
 1020: 0,
 1024: 6,
 1026: 7,
 1027: 4,
 1028: 3,
 1033: 6,
 1038: 4,
 1039: 1,
 1040: 1,
 1042: 1,
 1043: 3,
 1046: 2,
 1048: 5,
 1049: 1,
 1056: 1,
 1058: 0,
 1063: 5,
 1066: 1,
 1067: 6,
 1069: 6,
 1070: 2,
 1072: 0,
 1077: 1,
 1078: 2,
 1079: 1,
 1080: 1,
 1086: 6,
 1087: 2,
 1089: 0,
 1097: 6,
 1105: 3,
 1106: 0,
 1107: 1,
 1108: 2,
 1110: 2,
 1111: 1,
 1113: 0,
 1116: 5,
 1117: 0,
 1120: 0,
 1123: 6,
 1124: 6,
 1125: 5,
 1130: 0,
 1132: 6,
 1137: 4,
 1138: 1,
 1142: 3,
 1147: 1,
 1148: 6,
 1158: 4,
 1163: 6,
 1164: 5,
 1166: 2,
 1172: 6,
 1175: 1,
 1177: 1,
 1178: 6,
 1192: 1,
 1194: 1,
 1198: 0,
 1208: 0,
 1215: 2,
 1216: 4,
 1220: 6,
 1221: 6,
 1222: 5,
 1223: 0,
 1229: 2,
 1231: 5,
 1233: 0,
 1236: 1,
 1245: 1,
 1259: 0,
 1265: 0,
 1269: 3,
 1270: 1,
 1277: 5,
 1279: 0,
 1282: 5,
 1286: 1,
 1287: 5,
 1298: 5,
 1299: 2,
 1301: 7,
 1306: 2,
 1307: 3,
 1309: 5,
 1313: 1,
 1315: 0,
 1318: 3,
 1322: 0,
 1323: 1,
 1325: 6,
 1332: 4,
 1334: 2,
 1336: 3,
 1337: 1,
 1345: 2,
 1346: 1,
 1347: 2,
 1348: 2,
 1349: 1,
 1352: 1,
 1363: 6,
 1364: 5,
 1378: 7,
 1381: 6,
 1383: 2,
 1385: 0,
 1387: 0,
 1388: 1,
 1391: 6,
 1392: 1,
 1393: 3,
 1395: 2,
 1403: 5,
 1404: 1,
 1407: 0,
 1408: 2,
 1409: 1,
 1410: 1,
 1416: 5,
 1417: 1,
 1423: 1,
 1424: 5,
 1425: 2,
 1428: 1,
 1430: 5,
 1440: 5,
 1441: 2,
 1442: 1,
 1446: 1,
 1450: 4,
 1451: 6,
 1452: 0,
 1453: 4,
 1454: 0,
 1456: 0,
 1457: 1,
 1460: 1,
 1463: 2,
 1466: 0,
 1480: 2,
 1483: 3,
 1484: 2,
 1488: 3,
 1489: 5,
 1490: 4,
 1493: 2,
 1494: 5,
 1495: 0,
 1504: 6,
 1506: 5,
 1515: 4,
 1520: 5,
 1521: 6,
 1522: 5,
 1531: 0,
 1532: 0,
 1534: 6,
 1538: 5,
 1550: 1,
 1551: 1,
 1552: 3,
 1554: 2,
 1555: 5,
 1562: 5,
 1565: 2,
 1571: 0,
 1572: 3,
 1575: 2,
 1576: 0,
 1582: 0,
 1585: 0,
 1591: 4,
 1592: 0,
 1603: 0,
 1605: 4,
 1606: 5,
 1609: 1,
 1610: 5,
 1615: 2,
 1619: 5,
 1621: 7,
 1623: 6,
 1625: 3,
 1631: 5,
 1632: 1,
 1633: 4,
 1635: 1,
 1639: 0,
 1641: 5,
 1645: 0,
 1649: 6,
 1650: 5,
 1652: 1,
 1653: 5,
 1654: 7,
 1667: 1,
 1672: 3,
 1673: 4,
 1679: 6,
 1681: 3,
 1683: 2,
 1684: 5,
 1686: 6,
 1691: 0,
 1697: 1,
 1700: 6,
 1704: 5,
 1705: 6,
 1709: 1,
 1713: 6,
 1719: 5,
 1726: 1,
 1729: 1,
 1738: 2,
 1741: 1,
 1743: 1,
 1745: 7,
 1747: 2,
 1753: 1,
 1763: 5,
 1773: 2,
 1776: 2,
 1778: 6,
 1781: 1,
 1783: 6,
 1786: 1,
 1788: 0,
 1790: 0,
 1791: 5,
 1795: 6,
 1796: 5,
 1799: 7,
 1801: 7,
 1802: 7,
 1803: 5,
 1804: 1,
 1805: 6,
 1806: 2,
 1810: 2,
 1812: 5,
 1813: 4,
 1814: 2,
 1817: 7,
 1821: 6,
 1822: 0,
 1823: 3,
 1826: 1,
 1833: 6,
 1835: 6,
 1846: 5,
 1847: 0,
 1850: 5,
 1852: 6,
 1853: 2,
 1858: 1,
 1871: 0,
 1874: 5,
 1876: 1,
 1878: 5,
 1882: 4,
 1884: 0,
 1888: 5,
 1890: 5,
 1900: 5,
 1902: 6,
 1905: 4,
 1907: 2,
 1908: 4,
 1909: 6,
 1911: 1,
 1916: 5,
 1917: 0,
 1921: 2,
 1922: 6,
 1924: 0,
 1925: 1,
 1932: 4,
 1937: 2,
 1945: 6,
 1948: 3,
 1953: 4,
 1954: 0,
 1957: 5,
 1959: 3,
 1974: 5,
 1981: 5,
 1982: 2,
 1984: 2,
 1987: 6,
 1988: 5,
 1989: 4,
 1992: 0,
 1993: 5,
 2000: 0,
 2006: 4,
 2008: 1,
 2013: 4,
 2014: 2,
 2015: 2,
 2021: 1,
 2022: 5,
 2026: 3,
 2031: 1,
 2032: 1,
 2033: 2,
 2038: 6,
 2040: 6,
 2041: 1,
 2042: 2,
 2046: 0,
 2047: 6,
 2053: 7,
 2054: 0,
 2055: 2,
 2056: 2,
 2057: 0,
 2060: 3,
 2072: 2,
 2075: 3,
 2079: 6,
 2080: 4,
 2081: 5,
 2085: 4,
 2086: 1,
 2089: 5,
 2090: 5,
 2105: 5,
 2106: 2,
 2109: 0,
 2110: 3,
 2118: 2,
 2119: 5,
 2123: 1,
 2124: 0,
 2130: 4,
 2131: 3,
 2143: 4,
 2145: 1,
 2146: 6,
 2148: 1,
 2157: 5,
 2161: 1,
 2162: 3,
 2168: 1,
 2169: 7,
 2171: 5,
 2179: 2,
 2190: 5,
 2196: 6,
 2199: 5,
 2205: 0,
 2206: 5,
 2209: 3,
 2210: 1,
 2211: 0,
 2213: 2,
 2215: 5,
 2217: 0,
 2219: 0,
 2224: 0,
 2225: 4,
 2227: 1,
 2228: 2,
 2229: 7,
 2233: 6,
 2238: 0,
 2239: 5,
 2240: 1,
 2242: 4,
 2243: 2,
 2252: 6,
 2254: 0,
 2259: 1,
 2266: 3,
 2267: 3,
 2270: 5,
 2276: 3,
 2277: 1,
 2278: 6,
 2281: 4,
 2282: 1,
 2293: 0,
 2294: 1,
 2300: 3,
 2303: 1,
 2308: 2,
 2309: 5,
 2310: 1,
 2311: 1,
 2315: 6,
 2318: 5,
 2322: 0,
 2324: 5,
 2326: 0,
 2328: 5,
 2330: 4,
 2332: 1,
 2334: 2,
 2335: 1,
 2336: 2,
 2338: 0,
 2341: 2,
 2342: 0,
 2348: 3,
 2355: 4,
 2362: 4,
 2365: 1,
 2366: 3,
 2367: 5,
 2374: 6,
 2375: 4,
 2379: 2,
 2386: 0,
 2390: 3,
 2391: 5,
 2394: 1,
 2399: 0,
 2401: 5,
 2404: 6,
 2405: 1,
 2409: 3,
 2410: 0,
 2411: 5,
 2414: 3,
 2416: 3,
 2417: 1,
 2423: 6,
 2425: 3,
 2428: 0,
 2431: 0,
 2434: 1,
 2440: 0,
 2441: 2,
 2447: 5,
 2452: 5,
 2460: 3,
 2461: 6,
 2466: 0,
 2480: 3,
 2481: 0,
 2482: 0,
 2485: 5,
 2486: 1,
 2495: 6,
 2499: 4,
 2507: 5,
 2511: 1,
 2514: 3,
 2516: 5,
 2523: 5,
 2528: 1,
 2529: 5,
 2532: 1,
 2533: 1,
 2536: 1,
 2540: 2,
 2544: 3,
 2550: 0,
 2556: 1,
 2559: 6,
 2561: 3,
 2565: 4,
 2566: 6,
 2570: 1,
 2572: 6,
 2573: 1,
 2574: 1,
 2575: 2,
 2577: 2,
 2578: 6,
 2585: 5,
 2595: 4,
 2599: 1,
 2603: 2,
 2612: 1,
 2616: 6,
 2617: 4,
 2622: 2,
 2628: 1,
 2629: 6,
 2638: 5,
 2641: 3,
 2643: 2,
 2648: 2,
 2649: 2,
 2653: 5,
 2655: 3,
 2657: 5,
 2660: 2,
 2664: 7,
 2666: 3,
 2669: 6,
 2676: 0,
 2681: 5,
 2682: 1,
 2683: 1,
 2685: 2,
 2692: 1,
 2697: 2,
 2703: 0,
 2704: 0,
 2705: 2,
 2710: 5,
 2713: 2,
 2717: 5,
 2721: 6,
 2727: 1,
 2730: 0,
 2732: 0,
 2734: 5,
 2737: 5,
 2742: 4,
 2747: 0,
 2748: 5,
 2749: 2,
 2752: 3,
 2756: 2,
 2765: 5,
 2766: 3,
 2768: 1,
 2771: 6,
 2772: 6,
 2776: 6,
 2777: 1,
 2778: 0,
 2788: 1,
 2791: 1,
 2792: 0,
 2794: 2,
 2795: 0,
 2797: 5,
 2798: 5,
 2803: 6,
 2808: 2,
 2809: 5,
 2818: 1,
 2823: 1,
 2828: 5,
 2829: 1,
 2832: 2,
 2835: 2,
 2838: 6,
 2840: 1,
 2842: 5,
 2849: 5,
 2854: 5,
 2862: 5,
 2865: 0,
 2866: 7,
 2869: 3,
 2871: 3,
 2877: 5,
 2878: 0,
 2888: 2,
 2891: 4,
 2893: 0,
 2910: 5,
 2914: 6,
 2919: 2,
 2928: 0,
 2930: 4,
 2934: 0,
 2935: 0,
 2937: 1,
 2938: 5,
 2941: 4,
 2942: 5,
 2943: 5,
 2944: 2,
 2947: 6,
 2951: 0,
 2958: 4,
 2969: 2,
 2972: 6,
 2980: 0,
 2984: 1,
 2985: 5,
 2992: 1,
 2994: 2,
 2997: 6,
 3007: 2,
 3011: 3,
 3013: 1,
 3016: 0,
 3022: 4,
 3023: 0,
 3033: 1,
 3035: 3,
 3045: 7,
 3046: 4,
 3047: 6,
 3053: 5,
 3054: 3,
 3056: 1,
 3058: 3,
 3061: 5,
 3065: 6,
 3068: 1,
 3073: 3,
 3080: 0,
 3081: 5,
 3083: 0,
 3089: 1,
 3090: 4,
 3093: 1,
 3097: 6,
 3100: 1,
 3107: 4,
 3109: 4,
 3116: 1,
 3117: 1,
 3118: 4,
 3121: 1,
 3124: 7,
 3129: 4,
 3137: 2,
 3143: 4,
 3146: 5,
 3153: 1,
 3159: 3,
 3160: 5,
 3162: 0,
 3164: 0,
 3165: 0,
 3168: 1,
 3175: 6,
 3182: 4,
 3188: 4,
 3190: 4,
 3191: 2,
 3197: 2,
 3199: 6,
 3200: 5,
 3203: 5,
 3205: 2,
 3213: 1,
 3215: 2,
 3216: 4,
 3219: 2,
 3223: 0,
 3225: 5,
 3226: 0,
 3230: 0,
 3234: 1,
 3238: 3,
 3241: 4,
 3242: 5,
 3245: 0,
 3248: 6,
 3249: 3,
 3251: 0,
 3256: 6,
 3257: 1,
 3259: 0,
 3260: 5,
 3261: 7,
 3262: 5,
 3266: 2,
 3280: 0,
 3283: 5,
 3285: 5,
 3288: 3,
 3289: 1,
 3291: 4,
 3292: 4,
 3303: 0,
 3307: 0,
 3308: 7,
 3309: 1,
 3318: 2,
 3319: 6,
 3322: 3,
 3325: 6,
 3328: 2,
 3329: 2,
 3330: 5,
 3337: 4,
 3338: 4,
 3340: 7,
 3342: 6,
 3347: 6,
 3348: 5,
 3354: 5,
 3355: 1,
 3358: 4,
 3362: 6,
 3364: 4,
 3365: 7,
 3367: 1,
 3368: 2,
 3370: 2,
 3371: 2,
 3384: 4,
 3385: 5,
 3388: 0,
 3390: 0,
 3395: 2,
 3397: 1,
 3398: 4,
 3400: 1,
 3404: 5,
 3405: 5,
 3417: 5,
 3419: 3,
 3422: 0,
 3423: 6,
 3427: 5,
 3432: 6,
 3433: 2,
 3443: 5,
 3449: 3,
 3451: 0,
 3452: 3,
 3460: 2,
 3461: 0,
 3463: 5,
 ...}

In [59]:
meta_df = meta_df.set_index('album_id')

In [60]:
meta_df['genre_large'] = le.fit_transform(meta_df['genre_large'])
meta_df['genre_mid'] = le.fit_transform(meta_df['genre_mid'])
meta_df['genre_small'] = le.fit_transform(meta_df['genre_small'])
meta_df['cast_1'] = le.fit_transform(meta_df['cast_1'])
meta_df['cast_2'] = le.fit_transform(meta_df['cast_2'])
meta_df['cast_3'] = le.fit_transform(meta_df['cast_3'])
meta_df['cast_4'] = le.fit_transform(meta_df['cast_4'])
meta_df['cast_5'] = le.fit_transform(meta_df['cast_5'])
meta_df['cast_6'] = le.fit_transform(meta_df['cast_6'])
meta_df['cast_7'] = le.fit_transform(meta_df['cast_7'])

In [61]:
# 아이템 특징 정보 추출 
# 범주형 데이터를 수치형 데이터로 변경 

item_features = meta_df[['genre_large', 'genre_mid', 'genre_small',
                         'cast_1', 'cast_2', 'cast_3', 
                         'cast_4', 'cast_5', 'cast_6', 'cast_7']].to_dict()

In [62]:
print("album_id 749의 genre_mid 정보 :", item_features['genre_small'][749])

album_id 749의 genre_mid 정보 : 20

In [59]:
meta_df['cast_1'].value_counts()

689    14999
279     1628
654     1201
566      996
530      792
       ...
321        1
132        1
638        1
563        1
667        1
Name: cast_1, Length: 690, dtype: int64

In [56]:
meta_df['genre_small'].value_counts()

20    29183
10     4225
14     3848
6      1159
3      1027
13      989
5       554
11      504
8       280
18      229
2       215
0       212
16       68
7        41
19       24
15       13
4        10
9         9
17        7
12        4
1         1
Name: genre_small, dtype: int64